---
layout: arches
name: "Home - Page Blocker"
position: "Need to Login"
section_name: "Women in Cardiology"
section_url: "https://www.acc.org/Membership/Sections-and-Councils/Women-in-Cardiology-Section"
user_state: "not_logged_in"
id: "login"
---
{% include_relative PageBlocks/bento-roadblock.styles.html %}

<section grid-template="page-blocker" class="bg_secondary-1">
    {% include_relative PageBlocks/_global/AccessBarred.RoadBlock.Background.html %}
    <div grid-template="roadblock"
        class="isolation_isolate z_2">
        <div class="justify_center items_center m_auto max-w_30">
            <div class="bg_secondary-1 p_4 self_center">
                <div class="p_4 bg_white reading-typography flex flex_column gap_4">
                    {% include_relative PageBlocks/_global/AccessBarred.SectionTeaser.html %}
                    
                    <div class="br-b_5 br_secondary-1 br_solid m-x_n4 order_n1 p-x_5:lg p_4 p_4:lg">
                            <h2 class="wrap_balance">Log In to Access This Content</h2>
                            <p> This content is reserved for members of the ACC community. Log in to access these resources and more exclusive member perks.                             </p>
                            <div class="grid"><a href="../1_page-blocker-member/" class="btn btn-lg btn-primary m_auto">Log In <i
                                        class="fa-sign-in fa-solid" aria-hidden="true"></i></a></div>
                        </div>
                   {% include_relative PageBlocks/_global/AccessBarred.NeedHelp.html %}
                </div>
            </div>
        </div>
    </div>
</section>
