---
layout: arches
name: "Home - Not Authenticated"
position: "Logged Out"
section_name: "Women in Cardiology"
section_url: "https://www.acc.org/Membership/Sections-and-Councils/Women-in-Cardiology-Section"
user_state: "not_logged_in"
id: "login"
---

{% include_relative PageBlocks/heroimage.dynamic.html parent_link ='#' hero_image_base="MEMBER"
parent_page_name ='Member Sections' page_title ="Women in Cardiology: Member
Section" cta_title ="Unlock Access Now" cta_description ="Discover the benefits waiting for you—resources, connections, and tools built for your success." cta_link ="" cta_button_text ="Log In to Continue" %}

<section grid-template="page-layout" class="">
  <div
    grid-area="content"
    class="reading-typography font-size_up p-l_4:lg max-w_65 p-t_5:lg p-t_4"
    style="--custom-font-size-up: 1.06"
  >
    <h2 class="lh_2 m-b_4 flex flex_row">
      <div class="flex_shrink font_10 grid items_center justify_center m-r_4">
        <i class="fas fa-lock-alt font-size_up-2" aria-hidden="true"></i>
      </div>
      <strong class="flex_grow"
        >Exclusive Member Benefits<small class="block">
          Log In Now!</small
        ></strong
      >
    </h2>
    <p>
      Member sections are your gateway to exclusive resources, specialized tools, and unmatched opportunities to grow professionally through mentoring, networking, and leadership pathways. Log in to unlock these benefits and elevate your career.
    </p>
    <p class="font_bold">
      Log in to unlock these resources and start benefiting from our exclusive
      member perks.
    </p>
    <a href="" class="btn btn-primary"
      >Log in <i class="fa-solid fa-sign-in-alt" aria-hidden="true"></i
    ></a>
  </div>
  <aside grid-area="sidebar-secondary">
    <div
      data-item="cta-overlay"
      class="bg_black-3 br_1 br_black-3 br_solid br-r_0 br-tl_round br-bl_round c_black color_inherit shadow_bevel-light p_4 p_5:lg reading-typography relative z_1 m-t_4 m-l_4"
    >
      <h4>
        Need Help?
        <small class="block">Something Not Right?</small>
      </h4>
      <ul class="ul_none">
        <li>
          <a href="https://my.acc.org/s/ContactUsMemberCare"
            >Contact ACC Member Care</a
          >
        </li>
        <li><a href="tel:800-253-4636">800-253-4636, ext. 5603</a></li>
        <li><a href="tel:202-375-6000">202-375-6000</a></li>
      </ul>
    </div>
  </aside>
</section>
<hr>

<section  class="grid columns_1 columns_2:lg p_5:lg p_4 gap_5:lg gap_4 reading-typography">
  <div class="col_all">    <h2>{{page.section_name}}: Member Section Details</h2>
    <h3>We champion women’s leadership, professional growth, and wellness.</h3></div>
  <div
    class="reading-typography font-size_up"
    style="--custom-font-size-up: 1.125"
  >

    <p>
      The Women in Cardiology Section of the ACC offers women cardiologists
      opportunities to strengthen their professional support system and skills
      through networking events, professional development and mentoring
      programs. In addition, membership and active involvement in the Section
      provides a training ground for developing leadership skills and
      understanding the governance structure and avenues to leadership within
      the College.
    </p>
    <p>
      Our mission is to foster a supportive community that advocates for gender
      and career equity, empowering women cardiologists across all specialties
      and career stages. Join us in creating a more inclusive and dynamic field
      in cardiovascular medicine.
    </p>
  </div>
  <div
    class=" bg_black-1 reading-typography font-size_down p-x_5:lg p_4 wrapper-container br_round"
    style="--custom-font-size-down: 1"
  >
    <h3>Benefits</h3>
    {% include_relative PageBlocks/UL_IconText.html
    data_path="Blocks.MemberSection.UL_IconText_SecttionBenefits" %}
  </div>
</section>

<section grid-template="page-layout" class="">
  <div grid-area="content">
    {% include_relative PageBlocks/FollowUpCTA.html id="login"
    data_path="Blocks.MemberSection.FollowUpCTA_Login" cta_type="bevel" container_modifier="bg_black-2 m-x_n4:md m-x_n3 m-b_n5" %}
  </div>
</section>
