---
  layout: arches-fullscreen
  name: "Home - Teaser"
  position: "Need Section Access"
  section_name: "Women in Cardiology"
  section_url: "https://www.acc.org/Membership/Sections-and-Councils/Women-in-Cardiology-Section"
  user_state: "not_logged_in"
  hero-title: "Women in Cardiology"
  hero-cta-text: "Manage Membership"
  hero-cta-link: ../3.0_home/
  manage-membership-url: ../3.0_home/
  hero_image_base: "MEMBER"
  sidebarRoot: Women in Cardiology
  sidebarRootURL: ../2.0_home-teaser-no-section-access/
  masthead: MicroSite/teasermodeandheroimage.micro.dynamic.html
---
<section class="grid:md columns_4:md columns_5:lg  p_5:lg p_4 gap-x_5:lg gap_4 reading-typography">
  <div class="col_all">
    <h2>Why Should You Join?</h2>
  </div>
  <div class="reading-typography font-size_up col_all col-end_n3" style="--custom-font-size-up: 1.125">

    <p>
      The Women in Cardiology Section of the ACC is a powerful platform for women physicians to build connections, grow
      as leaders and strengthen their careers and professional support system. Members advocate for gender and career
      equity, engage in mentorship and networking, and promote wellness for women within the cardiology community.
    </p>
    <h3>Mission</h3>
    <p>
      Our Mission is to advance the careers of women in cardiology by fostering mentorship, professional development and
      leadership opportunities; promoting gender equity in training programs and the workforce; and inspiring the next
      generation to pursue careers in cardiovascular medicine.
    </p>
    <div class="m-b_4">
      <h3 class="c_primary-n1 flex flex_column flex_row:md font_display font_medium m_0 p-y_5:md p-y_4">
        <span class="flex_auto grid">
          <span class="br-t_1 br-tl_radius br_inherit br_solid self_center"></span>
        </span>
        <span class="flex_auto flex_shrink p-x_4 p-x_5:lg lh_1 text_center">
          Join This Section Today
        </span>
        <span class="flex_auto grid">
          <span class="br_primary-1 br-tl_radius br-t_1 br_solid br_inherit self_center"></span>
        </span>
      </h3>
      <p> Manage your membership and add this Section to gain access to exclusive content and networking opportunities!
      </p>
      <div class="text_center"><a href="../3.0_home" class="btn btn-primary"> Become a Section Member <i
            class="fa-solid fa-gears"></i></a></div>
    </div>
  </div>
  <div
    class=" bg_black-1 reading-typography font-size_down p-x_5:lg p_4 wrapper-container br_round col_all col-start_n3"
    style="--custom-font-size-down: 1">
    <h3>Section Benefits</h3>
    {% include_relative PageBlocks/UL_IconText.html
    data_path="Blocks.MemberSection.UL_IconText_SecttionBenefits" %}
          <h3>Chairs</h3>
<ul class="columns_1 columns_2:sm  gap_4:md gap_3 grid justify_center ul_none wrapper-container">
  <li class="wrapper-container bg_white m_0 p_2 br_1 br_black-3 br_round br_solid grid columns_2 gap_0 items_start justify_start shadow_overlap-light">
    <div class="p_2 p-b_0 p_4:md p-r_0:sm p_3:sm grid items_center justify_center col_all col-end_n2:sm">
      <img data-item="photo" class="aspect_1x1 w_100 aspect_8x10:sm bg_cover br_radius max-w_20 br_1 br_solid br_black-2" src="https://www.acc.org//-/media/Non-Clinical/Images/2019/07/01/Lundberg-Gina-600x600.jpg" alt="Gina Price Lundberg, MD, FACC">
    </div>
    <div class="col-start_n2:sm col_all font_0:sm font_1:md font_2:lg font_n1:xs font_n2 lh_2 m-x_3:md p-x_4:md p-y_4:md p-y_4:sm p_3">
      <span data-item="name" class="font_display  c_secondary-n2 lh_1">Gina Price Lundberg, MD, FACC</span>
      <strong data-item="title" class="block font-size_down-1 c_primary font_meduim font_ui">Chair</strong>
    </div>
  </li>
  <li class="wrapper-container bg_white m_0 p_2 br_1 br_black-3 br_round br_solid grid columns_2 gap_0 items_start justify_start shadow_overlap-light">
    <div class="p_2 p-b_0 p_4:md p-r_0:sm p_3:sm grid items_center justify_center col_all col-end_n2:sm">
      <img data-item="photo" class="aspect_1x1 w_100 aspect_8x10:sm bg_cover br_radius max-w_20 br_1 br_solid br_black-2" src="https://www.acc.org//-/media/Non-Clinical/Images/2020/10/23/Brown-Kristen-N-600x600.jpg" alt="Kristen Brown, MD">
    </div>
    <div class="col-start_n2:sm col_all font_0:sm font_1:md font_2:lg font_n1:xs font_n2 lh_2 m-x_3:md p-x_4:md p-y_4:md p-y_4:sm p_3 items_start">
      <span data-item="name" class="font_display  c_secondary-n2 lh_1">Kristen Brown, MD</span>
      <strong data-item="title" class="block font-size_down-1 c_primary font_meduim font_ui">Past Chair</strong>
    </div>
  </li>
</ul>
  </div>
</section>
<section id="workgroups" aria-labelledby="workgroups-heading" class="m-b_4 m-b_5:lg m-x_4 m-x_5:lg reading-typography">
  <div class="section-content">
    <h2 id="workgroups-heading" class="section-title">Work Groups</h2>
    <p class="section-description" id="workgroups-desc">
      Section Work Groups are opportunities to engage and advance a Section initiative on a particular topic.
    </p>
    <div class=" wrapper-container ">
      <ul role="list" aria-describedby="workgroups-desc"
        class="workgroup-list columns_3:md columns_2:sm columns_1 gap_5:lg gap_4 grid ul_none">
        <li class="br_black-2 br_radius br_1 br_solid relative bg_white shadow_overlap-light p_0 m_0" data-item="card">
          <div class="columns_1 grid isolation_isolate overflow_hidden relative rows_1 br-tr_radius br-tl_radius">
            <picture class="col_all row_all bg_cover flex flex_column inset_0 absolute">
              <source
                srcset="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_600x300.png' | relative_url}}"
                media="(min-width: 400px)" class="display_none"><img
                src="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_320x300.png' | relative_url}}"
                alt="Hero Image" loading="lazy" class="bg_cover flex_100 bg-blend_luminosity ">
            </picture>
            <div class="col_all grid inset_0 justify_start m-y_4 relative row_all self_center">
              <h4 class="lh_1 m_0 c_white isolation_isolate relative p-r_4"><span
                  class="text wrap c_white lh_2 bg_acc-n3 p_3" style="box-decoration-break: clone;">Cardiovascular
                  Disease</span></h4>
            </div>
          </div>
          <div class="p_4:md p_3">
            <p class="lh_2 m_0">{% include Placeholder/text.150.txt %}</p>
          </div>
        </li>
        <li class="br_black-2 br_radius br_1 br_solid relative bg_white shadow_overlap-light p_0 m_0" data-item="card">
          <div class="columns_1 grid isolation_isolate overflow_hidden relative rows_1 br-tr_radius br-tl_radius">
            <picture class="col_all row_all bg_cover flex flex_column inset_0 absolute">
              <source
                srcset="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_600x300.png' | relative_url}}"
                media="(min-width: 400px)" class="display_none"><img
                src="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_320x300.png' | relative_url}}"
                alt="Hero Image" loading="lazy" class="bg_cover flex_100 bg-blend_luminosity ">
            </picture>
            <div class="col_all grid inset_0 justify_start m-y_4 relative row_all self_center">
              <h4 class="lh_1 m_0 c_white isolation_isolate relative p-r_4"><span
                  class="text wrap c_white lh_2 bg_acc-n3 p_3" style="box-decoration-break: clone;">Cardiovascular
                  Disease</span></h4>
            </div>
          </div>
          <div class="p_4:md p_3">
            <p class="lh_2 m_0">{% include Placeholder/text.150.txt %}</p>
          </div>
        </li>
        <li class="br_black-2 br_radius br_1 br_solid relative bg_white shadow_overlap-light p_0 m_0" data-item="card">
          <div class="columns_1 grid isolation_isolate overflow_hidden relative rows_1 br-tr_radius br-tl_radius">
            <picture class="col_all row_all bg_cover flex flex_column inset_0 absolute">
              <source
                srcset="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_600x300.png' | relative_url}}"
                media="(min-width: 400px)" class="display_none"><img
                src="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_320x300.png' | relative_url}}"
                alt="Hero Image" loading="lazy" class="bg_cover flex_100 bg-blend_luminosity ">
            </picture>
            <div class="col_all grid inset_0 justify_start m-y_4 relative row_all self_center">
              <h4 class="lh_1 m_0 c_white isolation_isolate relative p-r_4"><span
                  class="text wrap c_white lh_2 bg_acc-n3 p_3" style="box-decoration-break: clone;">Cardiovascular
                  Disease</span></h4>
            </div>
          </div>
          <div class="p_4:md p_3">
            <p class="lh_2 m_0">{% include Placeholder/text.150.txt %}</p>
          </div>
        </li>


        <!-- Add additional workgroups here -->
      </ul>
      <p class="text_center">Some Message - (Become a Member of this Section to support and shape these initiatives)</p>
    </div>

  </div>
</section>
{% include_relative PageBlocks/Unlock-FollowUpCTA.html %}
<!-- <section class="teaser bg_shade-4 p_5:lg p_4 reading-typography">
  <h2>Explore This Member Section</h2>
  <div class="grid columns_2:sm columns_3:md columns_1 gap_5:lg gap_4 reading-typography">
  <div zone-label="card" class=" p_4  bg_white br_solid br_black-1 shadow_overlap-light br_radius relative flex flex_column">
    <img src="/PrototypingACCorg/assets/images/MicroSite/MEMBER_600x300.png" alt="Discover a better work-life balance with us." class="w_100 aspect_21x9 bg_cover m-b_3">
    <h3 class="m-y_2">About</h3>
    <p> Learn more about the Mission and leadership of your Member Section.</p>
    <div class="grid m-t_auto"><a href="../2.1_about-teaser/" class="btn btn-secondary expanded-click-area">Learn More</a></div>
  </div>
  <div zone-label="card" class=" p_4  bg_white br_solid br_black-1 shadow_overlap-light br_radius relative flex flex_column">
    <img src="/PrototypingACCorg/assets/images/ACC/MemberSections/Webinars.png" alt="Discover a better work-life balance with us." class="w_100 aspect_21x9 bg_cover m-b_3">
    <h3 class="m-y_2">Notifications</h3>
    <p>Get Section updates and activities directly to your inbox!</p>
    <div class="grid m-t_auto"><a href="../2.3_notifications-teaser/" class="btn btn-secondary expanded-click-area">Stay Informed</a></div>
  </div>
  <div zone-label="card" class=" p_4  bg_white br_solid br_black-1 shadow_overlap-light br_radius relative flex flex_column">
    <img src="/PrototypingACCorg/assets/images/ACC/MemberSections/Resources.png" alt="Discover a better work-life balance with us." class="w_100 aspect_21x9 bg_cover m-b_3">
    <h3 class="m-y_2">Resources</h3>
    <p>Access Section resources that can help you advance care, make connections and build your leadership skills.</p>
    <div class="grid m-t_auto"><a href="../2.2_resources-teaser/" class="btn btn-secondary expanded-click-area">Explore</a></div>
  </div>
</div>
</section> -->