---
layout: arches-sidebar
name: "About - Teaser"
position: "Need Section Access"
hero-title: "Women in Cardiology"
hero-cta-text: "Manage Membership"
hero-cta-link: ../3.0_home/
manage-membership-url: ../3.0_home/
hero_image_base: "MEMBER"
sidebarRoot: Women in Cardiology
sidebarRootURL: ../2.0_home-teaser-no-section-access/
masthead: MicroSite/teasermodeandheroimage.micro.dynamic.html
sidebarArray:
  - label: About
    url: ../2.1_about-teaser/
    active: true
  - label:  Notifications
    url: ../2.3_notifications-teaser/
  - label: Resources
    url: ../2.2_resources-teaser/
---
<div class="reading-typography font-size_up"
style="--custom-font-size-up: 1.06">
    <h2 class="lh_2 m-b_4">
      About
    </h2>
<p> The members and leaders in this vibrant community are creating a meaningful impact on the future of the field. Join them in their work by becoming a Section member.</p>
      {% include_relative PageBlocks/about/leadership.teaser.html %}
</div>
<section id="workgroups" aria-labelledby="workgroups-heading" class="m-b_4 m-b_5:lg">
  <div class="section-content">
    <h2 id="workgroups-heading" class="section-title">Work Groups</h2>
    <p class="section-description" id="workgroups-desc">
      Section Work Groups are opportunities to engage and advance a Section initiative on a particular topic.
    </p>
    <div class=" wrapper-container ">
      <ul role="list" aria-describedby="workgroups-desc"
        class="workgroup-list columns_3:md columns_2:sm columns_1 gap_5:lg gap_4 grid ul_none">
        <li class="br_black-2 br_radius br_1 br_solid relative bg_white shadow_overlap-light p_0 m_0" data-item="card">
          <div class="columns_1 grid isolation_isolate overflow_hidden relative rows_1 br-tr_radius br-tl_radius">
            <picture class="col_all row_all bg_cover flex flex_column inset_0 absolute">
              <source
                srcset="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_600x300.png' | relative_url}}"
                media="(min-width: 400px)" class="display_none"><img
                src="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_320x300.png' | relative_url}}"
                alt="Hero Image" loading="lazy" class="bg_cover flex_100 bg-blend_luminosity ">
            </picture>
            <div class="col_all grid inset_0 justify_start m-y_4 relative row_all self_center">
              <h4 class="lh_1 m_0 c_white isolation_isolate relative p-r_4"><span
                  class="text wrap c_white lh_2 bg_acc-n3 p_3" style="box-decoration-break: clone;">Cardiovascular
                  Disease</span></h4>
            </div>
          </div>
          <div class="p_4:md p_3">
            <p class="lh_2 m_0">{% include Placeholder/text.150.txt %}</p>
          </div>
        </li>
                <li class="br_black-2 br_radius br_1 br_solid relative bg_white shadow_overlap-light p_0 m_0" data-item="card">
          <div class="columns_1 grid isolation_isolate overflow_hidden relative rows_1 br-tr_radius br-tl_radius">
            <picture class="col_all row_all bg_cover flex flex_column inset_0 absolute">
              <source
                srcset="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_600x300.png' | relative_url}}"
                media="(min-width: 400px)" class="display_none"><img
                src="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_320x300.png' | relative_url}}"
                alt="Hero Image" loading="lazy" class="bg_cover flex_100 bg-blend_luminosity ">
            </picture>
            <div class="col_all grid inset_0 justify_start m-y_4 relative row_all self_center">
              <h4 class="lh_1 m_0 c_white isolation_isolate relative p-r_4"><span
                  class="text wrap c_white lh_2 bg_acc-n3 p_3" style="box-decoration-break: clone;">Cardiovascular
                  Disease</span></h4>
            </div>
          </div>
          <div class="p_4:md p_3">
            <p class="lh_2 m_0">{% include Placeholder/text.150.txt %}</p>
          </div>
        </li>
                <li class="br_black-2 br_radius br_1 br_solid relative bg_white shadow_overlap-light p_0 m_0" data-item="card">
          <div class="columns_1 grid isolation_isolate overflow_hidden relative rows_1 br-tr_radius br-tl_radius">
            <picture class="col_all row_all bg_cover flex flex_column inset_0 absolute">
              <source
                srcset="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_600x300.png' | relative_url}}"
                media="(min-width: 400px)" class="display_none"><img
                src="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_320x300.png' | relative_url}}"
                alt="Hero Image" loading="lazy" class="bg_cover flex_100 bg-blend_luminosity ">
            </picture>
            <div class="col_all grid inset_0 justify_start m-y_4 relative row_all self_center">
              <h4 class="lh_1 m_0 c_white isolation_isolate relative p-r_4"><span
                  class="text wrap c_white lh_2 bg_acc-n3 p_3" style="box-decoration-break: clone;">Cardiovascular
                  Disease</span></h4>
            </div>
          </div>
          <div class="p_4:md p_3">
            <p class="lh_2 m_0">{% include Placeholder/text.150.txt %}</p>
          </div>
        </li>


        <!-- Add additional workgroups here -->
      </ul>
      <p class="text_center">Some Message - (Become a Member of this Section to support and shape these initiatives)</p> 
    </div>

  </div>
</section>
{% include_relative PageBlocks/Unlock-FollowUpCTA.html %}
