---
layout: arches-sidebar
name: "Resources"
position: "WIC Prototype"
hero-title: "Women in Cardiology: Member Section"
hero_image_base: "MEMBER"
hero-cta-text: "DocMatter"
sidebarRoot: Women in Cardiology
sidebarRootURL: ../home/
masthead: MicroSite/teasermodeandheroimage.micro.dynamic.html
sidebarArray:
  - label: About
    url: ../2.1_about-teaser/
  - label:  Announcements
    url: ../2.3_announcements-teaser/
    active: true
  - label: Resources
    url: ../2.2_resources-teaser/
---
<div class="reading-typography">
<h2>Announcements</h2>
      {% include_relative PageBlocks/Notifications-Readonly-Teaser.html %}
            {% include_relative PageBlocks/Unlock-FollowUpCTA.html %}
</div>