---
layout: arches-sidebar
name: "Notifications - Teaser"
position: "Need Section Access"
hero-title: "Women in Cardiology: Member Section"
hero_image_base: "MEMBER"
hero-cta-text: "DocMatter"
sidebarRoot: Women in Cardiology
sidebarRootURL: ../2.0_home-teaser-no-section-access/
masthead: MicroSite/teasermodeandheroimage.micro.dynamic.html
sidebarArray:
  - label: About
    url: ../2.1_about-teaser/
  - label:  Notifications
    url: ../2.3_notifications-teaser/
    active: true
  - label: Resources
    url: ../2.2_resources-teaser/
---
<div class="reading-typography">
<h2>Notifications</h2>
      {% include_relative PageBlocks/Notifications-Readonly-Teaser.html %}
      {% include_relative PageBlocks/Unlock-FollowUpCTA.html %}
</div>
<section>
  <h3>Workgroups</h3>
  <div class="columns_3:lg columns_2:md columns_1 gap_5:lg gap_4 p_3 p_4:md p_5:lg m-y_3 m-y_4:md m-y_5:lg grid wrapper-container bg_black-1 m-x_n4 reading-typography">
    
  </div>
</section>
{% include_relative PageBlocks/Unlock-FollowUpCTA.html %}