---
layout: arches-sidebar
name: "About/Leadership/Workgroup"
position: "Section Member"
hero-title: "Women in Cardiology: Member Section"
hero_image_base: "MEMBER"
hero-cta-text: "DocMatter"
sidebarRoot: Women in Cardiology
sidebarRootURL: ../3.0_home/
masthead: MicroSite/heroimage.micro.dynamic.html
sidebarArray:
  - label: "About"
    url: ../3.1.0_about/
    active: true
  - label: "Resources"
    url: ../3.2_resources/
  - label: "Announcements"
    url: ../3.3_announcements/
  - label: "Library"
    url: ../3.4_library/
  - label: "Iniatives & Activities"
    url: ../3.5_feature.chapters/
---
<section zone-label="startingSection" class="grid columns_1 columns_2:lg gap_5:lg gap_4 m-b_4:md">
    <main zone-label="introduction"
        class="reading-typography font-size_up  max-w_65 col-start_start col-end_end col-end_n2:lg wrapper-container"
        style="--custom-font-size-up: 1.06">
        <hgroup class="lh_2 m-b_4">
            <h1>Workgroups</h1>
        </hgroup>
        <p>Work Groups are a great way to get involved in Section initiatives, share your perspective, and help drive
            the priorities that matter most to you. Explore the opportunities below to make a difference—and elevate
            your impact and visibility within the ACC.</p>


    </main>
    <aside
        class="col-end_end col-start_start col-start_n2:lg reading-typography wrapper-container flex flex_column gap_4">
        <section id="leadership" aria-labelledby="leadership-heading"
            class="bg_primary-5 h:bg_primary-4 br_round m-b_4 m-b_5:lg p_4 relative">
            <hgroup id="leadership-heading" class="lh_0 section-title"><small>Interested in</small>
                <h2 class="m_0">Getting Involved</h2>
            </hgroup>
            <p>learn more about being able to interact and join in a work group by contacting the member section admin
            </p>
            <a href="../3.1.1_about.leadership" class="btn btn-secondary expanded-click-area col_all">Contact Us
                Today</a>
        </section>
    </aside>
</section>
<ul aria-role="feed" class="ul_none wrapper-container">

    <article class="grid columns_3:lg columns_2:md columns_1 gap-x_4 gap-x_5:md gap-y_3">
         <h3 class="col_all">Adult Congenital and Pediatric Cardiology (ACPC)</h3>
         <hr class="col_all br_primary m_0 bg_primary">
         <main class="col_all col-end_n2:md">  
            <span for="adult">Work Group is not currently accepting new members</span>
            <p>{% include Placeholder/text.200.txt %}</p>
            <h4>Initiatives and Focus:</h4>
            <ul>
                <li>{% include Placeholder/text.60.txt %}</li>
                <li>{% include Placeholder/text.80.txt %}</li>
                <li>{% include Placeholder/text.60.txt %}</li>
            </ul>
        </main>
        <aside class="col_all col-start_n2:md">
            <section class="flex flex_column flex_row:md p-b_4 m-b_4 gap-x_5:lg gap-x_4">
                <div class="flex_auto flex_column justify_start">
                    <span class="m-b_0 speaker_name font_display font_medium font-size_up-1 lh_2 c_primary"> Pepper H. Soda III, MD,
                        FACC</span>
                    <ul class="speaker_metadata ul_none font_copy font-size_down m_o p_0">
                        <!-- This is a repeated snippet -->
                        <li class="c_black-8 lh_1 m_0 m-b_2">Physician-in-Chief, Department of Cardiology, Mount
                            SugarLoaf Hospital</li>
                    </ul>
                    <span class="block c_black-6 font-size_down-2 lh_0 font_italic">New York, NY, USA</span>
            </section>
        </aside>
    </article>
</ul>

