---
layout: arches-sidebar
name: "About"
position: "Section Member"
hero-title: "Women in Cardiology: Member Section"
hero_image_base: "MEMBER"
hero-cta-text: "DocMatter"
sidebarRoot: Women in Cardiology
sidebarRootURL: ../3.0_home/
masthead: MicroSite/heroimage.micro.dynamic.html
sidebarArray:
  - label: About
    url: ../3.1.0_about/
    active: true
    sidebarArraySub: 
      - label: Leadership
        url: ../3.1.1_about.leadership/
      - label: Message from the Chair
        url: ../3.1.2_about.chair-message/
      - label: Workgroup
        url: ../3.1.2_about.workgroup/
  - label: Resources
    url: ../3.2_resources/
  - label: Notifications
    url: ../3.3_notifications/
  - label: Library
    url: ../3.4_library/
  - label: Iniatives & Activities
    url: ../3.5.0_feature/
---
<section zone-label="startingSection" class="grid columns_1 columns_2:lg p_4 gap_5:lg gap_4 m-b_4:md">
  <main zone-label="introduction"
    class="reading-typography font-size_up  max-w_65 col-start_start col-end_end col-end_n2:lg wrapper-container"
    style="--custom-font-size-up: 1.06">
<hgroup class="lh_2 m-b_4">
  <h1>About</h1>
  <small class="block font-size_up-1 c_primary-n2">
    Driving the mission and vision through leadership and collaboration.
  </small>
</hgroup>
<p>The leaders and workgroups behind this section advance the mission and vision, guiding priorities and creating meaningful impact.</p>

  </main>
  <aside
    class="col-end_end col-start_start col-start_n2:lg reading-typography wrapper-container flex flex_column gap_4">
    <section id="leadership" aria-labelledby="leadership-heading"
      class="bg_primary-5 h:bg_primary-4 br_round m-b_4 m-b_5:lg p_4 relative">
      <hgroup id="leadership-heading" class="lh_0 section-title"><small>Learn More about this sections</small>
        <h2 class="m_0">Leadership</h2>
      </hgroup>
      <p>Shaping the experience and the initatives is the Member Section Leadership</p>
      <a href="../3.1.1_about.leadership" class="btn btn-secondary expanded-click-area col_all">Leadership</a>



    </section>
    <blockquote
      class="bg_black-_05 block br_1 br_round br_solid br_white-5 col-end_end col-start_start flex font_display p-y_5:md p_4 relative shadow_bevel-light z1 h:bg_primary-5"
      aria-label="Testimonial from Myrrh Arobo">
      <em
        class="absolute t_3:md t_n3 l_3 l_n4:md c_accent-n1 fa-fw fa-quote-left fa-solid font_5 font_7:md font_9:lg  text-shadow_black-1 z_1"
        aria-hidden="true"></em>
      <div class="flex_auto p-x_2  p-x_3:sm p-y_0 p-y_4:md p-x_4:md c_black z_2 flex flex_column" role="article">
        <p>
          My intention is for the ACC WIC Section to support women cardiologists of all ages, all stages and all
          subspecialties.

        </p>
        <cite
          class="c_accent-n3 flex flex_row:sm flex_column font_normal m-t_auto:md m-t_3 m-l_n3 justify_end:md justify_start font-size_down-1"
          itemprop="author" itemscope="" itemtype="https://schema.org/Person">
          <i class="fa-solid fa-user-circle fa-2x flex_shrink:md lh_2 m-l_3 self_center c_accent-n1"></i>
          <span class="flex_shrink:md lh_2 m-l_3 self_center">

            <a href="../3.1.2_about.chair-message" class="link expanded-click-area uppercase">Message from Chair</a>

            <span class="block font_accent font_bold" itemprop="name">Gina Price Lundberg, MD, FACC</span>
            <span class="font-size_down-1 opacity_8 font_ui block" itemprop="jobTitle">Chair</span>
          </span>
        </cite>
      </div>
      <em
        class="absolute b_3:md b_n4 r_3 r_n4:md c_accent-n1 fa-fw fa-quote-right fa-solid font_5 font_7:md font_9:lg text-shadow_black-1 z_1"
        aria-hidden="true"></em>
    </blockquote>
  </aside>
</section>


<section id="workgroups" aria-labelledby="workgroups-heading" class="m-b_4 m-b_5:lg">
  <div class="section-content">
    <h2 id="workgroups-heading" class="section-title">Workgroups</h2>
    <p class="section-description" id="workgroups-desc">
      {% include Placeholder/text.100.txt %}
    </p>
    <div class=" wrapper-container ">
      <h3 class="m-t_3">Featured</h3>
      <ul role="list" aria-describedby="workgroups-desc"
        class="workgroup-list columns_3:md columns_2:sm columns_1 gap_5:lg gap_4 grid ul_none">
        <li class="br_black-2 br_radius br_1 br_solid relative bg_white shadow_overlap-light p_0 m_0" data-item="card">
          <div class="columns_1 grid isolation_isolate overflow_hidden relative rows_1 br-tr_radius br-tl_radius">
            <picture class="col_all row_all bg_cover flex flex_column inset_0 absolute">
              <source
                srcset="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_600x300.png' | relative_url}}"
                media="(min-width: 400px)" class="display_none"><img
                src="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_320x300.png' | relative_url}}"
                alt="Hero Image" loading="lazy" class="bg_cover flex_100 bg-blend_luminosity ">
            </picture>
            <div class="col_all grid inset_0 justify_start m-y_4 relative row_all self_center">
              <h4 class="lh_1 m_0 c_white isolation_isolate relative p-r_4"><span
                  class="text wrap c_white lh_2 bg_acc-n3 p_3" style="box-decoration-break: clone;">Cardiovascular
                  Disease</span></h4>
            </div>
          </div>
          <div class="p_4:md p_3">
            <p class="lh_2 m_0">{% include Placeholder/text.80.txt %}</p>
          </div>
        </li>
                <li class="br_black-2 br_radius br_1 br_solid relative bg_white shadow_overlap-light p_0 m_0" data-item="card">
          <div class="columns_1 grid isolation_isolate overflow_hidden relative rows_1 br-tr_radius br-tl_radius">
            <picture class="col_all row_all bg_cover flex flex_column inset_0 absolute">
              <source
                srcset="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_600x300.png' | relative_url}}"
                media="(min-width: 400px)" class="display_none"><img
                src="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_320x300.png' | relative_url}}"
                alt="Hero Image" loading="lazy" class="bg_cover flex_100 bg-blend_luminosity ">
            </picture>
            <div class="col_all grid inset_0 justify_start m-y_4 relative row_all self_center">
              <h4 class="lh_1 m_0 c_white isolation_isolate relative p-r_4"><span
                  class="text wrap c_white lh_2 bg_acc-n3 p_3" style="box-decoration-break: clone;">Cardiovascular
                  Disease</span></h4>
            </div>
          </div>
          <div class="p_4:md p_3">
            <p class="lh_2 m_0">{% include Placeholder/text.80.txt %}</p>
          </div>
        </li>
                <li class="br_black-2 br_radius br_1 br_solid relative bg_white shadow_overlap-light p_0 m_0" data-item="card">
          <div class="columns_1 grid isolation_isolate overflow_hidden relative rows_1 br-tr_radius br-tl_radius">
            <picture class="col_all row_all bg_cover flex flex_column inset_0 absolute">
              <source
                srcset="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_600x300.png' | relative_url}}"
                media="(min-width: 400px)" class="display_none"><img
                src="{{ 'assets/images/MicroSite/' | append: page.hero_image_base | append: '_320x300.png' | relative_url}}"
                alt="Hero Image" loading="lazy" class="bg_cover flex_100 bg-blend_luminosity ">
            </picture>
            <div class="col_all grid inset_0 justify_start m-y_4 relative row_all self_center">
              <h4 class="lh_1 m_0 c_white isolation_isolate relative p-r_4"><span
                  class="text wrap c_white lh_2 bg_acc-n3 p_3" style="box-decoration-break: clone;">Cardiovascular
                  Disease</span></h4>
            </div>
          </div>
          <div class="p_4:md p_3">
            <p class="lh_2 m_0">{% include Placeholder/text.80.txt %}</p>
          </div>
        </li>


        <!-- Add additional workgroups here -->
      </ul>
      <div class="grid justify_center items_center m-t_4:md m-t_3"><a href="../3.1.2_about.workgroup/" class="btn btn-secondary">View Workgroup Details</a></div>
    </div>

  </div>
</section>
  <div class="p_4 bg_black-1 m-x_n4 m-b_n4">
      <div
    data-item="cta-overlay"
    class="bg_white br_round font_0 m-y_4 m-y_5:md m_auto max-w_45 p_4 p_5:lg reading-typography relative shadow_bevel-light text_center z_1"
  >
    <h2 data-item="cta-title" class="m-b_3 lh_1 font_medium font_display">
      <strong class="font-size_up m-b_2 block"
        >Connect With Section Leadership</strong
      >
    </h2>
    <div class="p-t_2 p-b_3" data-item="cta-description">
      <p class="font-size_up">
        Join conversations on X with <a href="https://x.com/#sectionHash">#sectionHash</a> or on our professional social platform DocMatter.
      </p>
    </div>
    <div class="grid justify_center">
      <a
        rel="noopener noreferrer"
        href="#DocMatter"
        target="_blank"
        class="br_primary-n1 br_solid btn btn-lg btn-primary capitalize m-b_n2 shadow_1 shadow_overlap-bold"
        >Go to DocMatter</a
      >
    </div>
  </div>