---
layout: arches
name: "Home"
position: "NCD Academy"
---
{% include MicroSite/heroimage.dynamic.html
hero_image_base="NCD"
parent_page_name="Education"
parent_link="https://www.acc.org/Education-and-Meetings"
page_title="NCD Academy"
cta_title="Fighting NCDs Through Free Global Education"
cta_description="Online platform for the global primary care community to support the fight against NCDs."
cta_link="https://ncdacademy.acc.org/Public/Registration.aspx"
cta_button_text="Join Today"

%}
<div class="p_4">
  <!-- Main Section -->
  <main zone-label="main-content" class="columns_5:lg columns_2:md columns_1 grid gap_5:md p_5:lg p_4 gap_4">


    <!-- Key Benefits -->
    <section zone-label="introduciton" class="col-start_start:lg col-end_n3:lg reading-typography font-size_up"
      style="--custom-font-size-up:1;">
      <div>
        <p>NCD Academy is an online platform designed to empower the global primary care community with the knowledge,
          tools, and skills required to effectively address and mitigate the leading risk factors of non-communicable
          diseases (NCDs).
        </p>
        <p>
          By fostering a deeper understanding of prevention, early detection, and comprehensive care strategies, we aim
          to
          improve outcomes and reduce the burden of NCDs worldwide. </p>
      </div>
      <h3>Benefits</h3>
      <ul class="marker_primary">
        <li zone-label="benefit">Access innovative, global education.</li>
        <li zone-label="benefit">Learn on-demand, anytime, anywhere.</li>
        <li zone-label="benefit">Make a global impact with trustworthy, up-to-date clinical guidance. </li>
        <li zone-label="benefit">Connect with a global professional community. </li>
        <li zone-label="benefit">Access expert commentary on the latest clinical guidance.</li>
        <li zone-label="benefit" class="font-size_up-1 font_medium c_primary-n2">100% free.</li>
      </ul>
      <div class="text_center">
        <a href="https://ncdacademy.acc.org/Public/Registration.aspx" class="btn btn-primary">Sign Up For Free</a>
      </div>
    </section>
    <aside class="col-start_n3:lg col-end_end reading-typography">
      <!-- Login Section -->
      <section zone-label="login-section" class="m-b_5:lg m-b_4">
        <div
          class="relative h:bg_primary-5 isolate_isolation bg_black-_05 br_1 br_solid br_black-3 p_4 br_radius grid items_center justify_center m-l_0:lg ncd-logo shadow_bevel-light relative">
          <div class="col_all row_all">
            <img class="w_100 bg-blend_multiply"
              src="{% include URL.html media='{B94EDF85-2BB6-4B94-8B04-14A2AAD18F9E}' %}" alt="NCD Academy Logo">
          </div>
          <a href="https://ncdacademy.acc.org/Public/Login.aspx"
            class="b_0 bg_primary br-tl_radius br_square c_white col_all expanded-click-area h:bg_primary-n2 l_auto m-b_n4 m-l_auto m-r_n4 not-link p-x_4 p-y_3 r_0 row_all self_end t_auto">Login
            <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </section>
      <section zone-label="course-trailer">
        <h3>Course Trailer</h3>
        <iframe class="w_100 br_radius aspect_16x9" src="https://www.youtube.com/embed/bVEgFwHLeSs" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </section>
    </aside>

  </main>
  <div class="columns_3:lg columns_1 grid gap_5:lg p_5:lg p_4 gap-y_4 m-x_n4 p_4 p_5:md p_6:lg bg_black-1 reading-typography">
    <!-- Spotlight -->
    <section zone-label="course-spotlight"
      class="bg_white br_round relative shadow_bevel-light p_4 flex flex_column justify_around  col-start_start col-end_3">
      <div
        class="absolute t_0 r_0 p-y_3 p-x_5 br-tr_raidus br-bl_round bg_accent-n1 shadow_overlap-light font_n1 c_white font_xbold capitalize">
        Featured</div>
      <div class="grid columns_2:md columns_1 gap-x_4 gap-x_5:lg gap-y_3 reading-typogrphay font-size_up">
        <div class="bg_cover br_radius grid overflow_clip self_stretch p_5 p-y_6 aspect_1x1"
          style="background-image: url({% include URL.html url='/PrototypingACCorg/assets/images/ACC/NCD/Vaccine.png' %});">
        </div>

        <div class="flex flex_column m-y_4:md">
          <h3 class="c_black lh_1 m-b_2 font_3 font_4:md font_display font_5:lg ">Vaccine</h3>
          <p class="m-b_3">Learn how vaccines support global health and sustainable development goals.</p>
          <a class="expanded-click-area btn btn-secondary m-t_auto m-x_auto inline-block" href="{% include URL.html url='../NCD_Course-Vaccine/' %}">Learn More <i
              class="fa-solid fa-arrow-right p-l_2"></i></a>
        </div>
      </div>
    </section>
    <section zone-label="card" class="bg_accent-n3 br_radius c_white color_inherit flex flex_column font-size_up p_4 p_5:lg reading-typography relative shadow_overlap-light" style="
    --custom-font-size-up: 1.25;
">
       <h3>Download the NCD Academy App for Free</h3>
      <div class="flex flex_row:md flex_column gap_3 justify_center m-t_auto">        <a class="br_1 br_radius br_solid br_white-3 btn btn-secondary shadow_overlap-light" zone-label="app-store" href="https://apps.apple.com/us/app/ncd-academy/id1501602635"><i class="fa-apple fa-brands m-r_3" aria-hidden="true"></i>App Store</a>
      <a class="br_1 br_radius br_solid br_white-3 btn btn-secondary shadow_overlap-light" zone-label="play-store" href="https://play.google.com/store/apps/details?id=org.acc.ncdacademy"><i class="fa-brands fa-google-play m-r_3" aria-hidden="true"></i> Play
        Store</a></div>
    </section>
    <!-- App Promotion -->
    {% comment %} <section zone-label="app-promotion"
      class="bg-blend_multiply bg_black-4 bg_cover br_round c_white grid items_center justify_center text_center"
      style="background-image:url({% include URL.html url='/PrototypingACCorg/assets/images/ACC/NCD/PhoneBackground-color.png'  %})">
      <h2
        class="c_white font_display font_regular text-shadow_black-1 font_2 font_3:md font_display font_4:lg lh_0 m-y_4">
        Download the NCD Academy App for Free </h2>
      <div class="flex flex_row:md flex_column gap_3 justify_center">
        <a class="btn btn-secondary btn-sm br_1 br_solid br_white-3 shadow_overlap-light br_radius" zone-label="app-store" href="https://apps.apple.com/us/app/ncd-academy/id1501602635"><i class="fa-apple fa-brands m-r_3"></i>App Store</a>
        <a class="btn btn-secondary btn-sm br_1 br_solid br_white-3 shadow_overlap-light br_radius" zone-label="play-store" href="https://play.google.com/store/apps/details?id=org.acc.ncdacademy"><i class="fa-brands fa-google-play m-r_3"></i> Play
          Store</a>
      </div>
    </section> {% endcomment %}
  </div>
  <!-- Resources Section -->
  <section zone-label="resources-section" class="p_4:lg reading-typography">
    <h3>NCD Academy's Learning Resources</h3>
    <p class="">To make learning accessible and convenient, we offer two distinct types of educational content:
      <strong>Quick Access Content</strong> and <strong>Courses</strong>. </p>
    <div zone-label="card-wrappers" class="flex flex_column gap_4 gap_5:lg">
      <div zone-label="ActionCards"
      class="course-card p_4 br_1 br_solid br_black-5 br_radius bg_white flex flex_column flex_row:md gap_4 justify_between relative"
      role="article">
      <div class="course-trailer-preview flex flex_column">
        <h3 class="font_display c_primary m-b_3">
          Quick Access Content
        </h3>
        <p class="font_copy m-b_2">Quick Access Content is a series of short, introductory videos covering a variety
          of critical health topics such as: flu, metabolic diseases, digital health solutions, and more. </p>
      </div>
      <div class="flex flex_column items_center items_end:md self_center flex_grow flex_20">
        <a class="btn btn-secondary w_100 max-w_10" href="{% include URL.html url='#' %}"
          zone-label="quick-content-button">
          Quick Content</a>
      </div>
    </div>  
    <div zone-label="ActionCards"
        class="course-card p_4 br_1 br_solid br_black-5 br_radius bg_white flex flex_column flex_row:md gap_4 justify_between relative"
        role="article">
        <div class="course-trailer-preview flex flex_column">
          <h3 class="font_display c_primary m-b_3">
            Courses
          </h3>
          <p class="font_copy m-b_2">NCD Academy courses address the five leading NCDs, including cardiovascular disease, cancer, chronic respiratory diseases, diabetes, and mental health, as well as other factors like health equity and advocacy. </p>
        </div>
        <div class="flex flex_column items_center items_end:md self_center flex_grow flex_20">
          <a class="btn btn-secondary w_100 max-w_10" href="{% include URL.html url='../Course_List' %}"
            zone-label="quick-content-button">
            Course List</a>
        </div>
      </div>

    </div>
  </section>

  <!-- Footer Section -->
  <footer zone-label="footer" class="reading-typography p_4:lg">
    <div zone-label="partners">
      <h3>Course Partners</h3>
      <div class="grid columns_1 columns_2:md columns_4:lg grid gap_5:lg gap_4 p_4">
        <a href="https://www.acc.org/" target="_blank">
          <img class="w_100"
            src="https://www.acc.org/-/media/Non-Clinical/Images/Education-and-Meetings/Products-and-Resources/NCD-Academy/J21079-ACC-Logo.png?la=en&amp;hash=2D56AE2C850ABCAD49585A4ED12A028D2E7A1125"
            alt="ACC">
        </a>
        <a href="https://ncdalliance.org/" target="_blank">
          <img class="w_100"
            src="https://www.acc.org/-/media/Non-Clinical/Images/Education-and-Meetings/Products-and-Resources/NCD-Academy/NCDA-Logo.png?la=en&amp;hash=F5FA638E5C3ECD8041C92D6B11660A6260AD002B"
            alt="NCD Alliance" style="padding-top:25px;">
        </a>
        <a href="https://world-heart-federation.org/" target="_blank">
          <img class="w_100"
            src="https://www.acc.org/-/media/Non-Clinical/Images/Education-and-Meetings/Products-and-Resources/NCD-Academy/WHF_logo_original.png?la=en&amp;hash=6D6B440B09A9C8B481B51923276D0B4F36878F30"
            alt="WHF" style="padding-top:10px;">
        </a>
        <a href="https://www.asco.org/" target="_blank">
          <img class="w_100"
            src="https://www.acc.org/-/media/Non-Clinical/Images/Education-and-Meetings/Products-and-Resources/NCD-Academy/ASCO_Logo.png?la=en&amp;hash=47E9E0959141245B50C83CF170CADE33ADBE72DC"
            alt="ASCO">
        </a>
        <a href="https://diabetes.org/" target="_blank">
          <img class="w_100"
            src="https://www.acc.org/-/media/Non-Clinical/Images/Education-and-Meetings/Products-and-Resources/NCD-Academy/ADA-Logo.png?la=en&amp;hash=CB14088074D322E330899A4BA4ACE81F6956CA48"
            alt="ADA" style="padding-top:30px;">
        </a>
        
          <a href="https://www.fip.org/" target="_blank">
          <img class="w_100"
              src="{% include URL.html url='/PrototypingACCorg/assets/images/ACC/NCD/fip.png' %}"
              alt="International Pharmaceutical Federation (FIP)"></a>
  
        <a href="https://www.firsnet.org/" target="_blank">
          <img class="w_100"
            src="https://www.acc.org/-/media/Non-Clinical/Images/Education-and-Meetings/Products-and-Resources/NCD-Academy/FIRS-Logo.png?la=en&amp;hash=DE7DBDBA8AD8BBB1BC1142A3568B12C910E4C447"
            alt="FIRS" style="padding-top:15px;">
        </a>
        <a href="https://www.wpanet.org/" target="_blank">
          <img class="w_100"
            src="https://www.acc.org/-/media/Non-Clinical/Images/Education-and-Meetings/Products-and-Resources/NCD-Academy/WPA-logo.png?la=en&amp;hash=F1D93C88AD00525A65D07837A4B8DC1A853A183E"
            alt="WPA">
        </a>


      </div>
    </div>
    <div zone-label="supported-by">
      <p class="text_center:md" zone-label="footer-text">Available free of charge worldwide through support from:</p>
      <div class="grid:md columns_5:md columns_3:lg grid gap_5:lg gap_4 p_4">
        <a class="col-start_2:md col-end_n2:md" href="https://www.viatris.com/" target="_blank"><img class="w_100"
            src="https://www.acc.org/-/media/Non-Clinical/Images/Education-and-Meetings/Products-and-Resources/NCD-Academy/Viatris-Logo.png"
            alt="Viatris"></a>
      </div>
    </div>
    <p class="text_center">Interested in getting involved as a local partner organization? Inquire at <a href="mailto:ncdacademy@acc.org">ncdacademy@acc.org</a>.  </p>
  </footer>
</div>