{% include arches-head.html %}
<body id="ng-app" ng-app="AccApp" class="user-not-logged-in ng-scope medium-viewport bg_accent-n3 shadow_overlap-light">
   
    <div class="m_auto p-x_5:lg p-x_4:md p-x_3 ">
        <div class="bg_white shadow_overlap-light wrapper-container"> 
            {% include annual/arches-header.html %}
            <div class="m-x_auto">
                {{content}}
            </div>
            {% include annual/arches-footer.html %}
        </div>
    </div> 
    {% include annual/root.html %}
</body>
