--- 
layout: library_fullscreen
name: "Virtual Video Player"
position: "Watching" 
watchActive: true

--- 


<header class="m-b_5:lg m-b_4:md m-b_3">
    <div class="flex_inline flex lh_0 bg_white-7 br_radius br_solid br_1 br_black-2 p_3 p_4:md font_ui font_2">
        <div class="relative  m-b_2" level="-1">
            <div >
                <a href="../home" class="h:underline h:c_primary c_black-9"><i class="fal m-l_1 fa-fw m-r_3 flex_none self_center c_primary font-size_up fa-home"></i> <span class="font_regular flex_auto self_center">Home</span></a>
            </div>
        </div> 
        <i class="fal fa-chevron-left c_primary-n2 m-x_3 self_center font-size_down"></i>
        <div class="flex_inline flex lh_0">
            <div class="relative  m-b_2" level="0">
                <div >
                    <div class="c_black-9"><span class="flex_none self_center font-size_up m-r_3"></span> <span class="font_regular flex_auto self_center">Session Name</span></div>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="flex flex_column flex_row:lg gap_5:lg gap_3 gap_4:md">   
    <div class="flex_auto w_70:lg bg_white-7 br_radius br_solid br_1 br_black-3">
        <div class="flex flex_row font_ui justify_start relative w_100">
            <main class="flex flex_column flex_auto justify_between flex_auto p-l_4 p_5:lg p_4:md  p-y_3 relative w_100 isolation_isolate font_5">
                <h1 class="font-size_up-1 font_display lh_2 c_primary h:underline c_primary-n3 m-t_2">
                   Three Device Therapeutic Approaches: CRTs Strict Indications, Subcutaneous ICDs, Leadless Pacemakers, Follow-up Observations
                </h1>
                <p class="font_copy font-size_down-1 p-y_4:md p-y_3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic commodi dignissimos quam eligendi qui id unde maxime culpa quae velit numquam laudantium, eius veniam perspiciatis facere illo. Quaerat, explicabo suscipit!</p>
                <div class="flex flex_row">
                    <ul class="ul_none"></ul>
                </div>
            </main>
            <aside class="flex_none p-x_3:md">
                <ul class="flex flex_column flex_wrap gap_2 justify_start self_center ul_none uppercase p-x_3 font_4">
                    <li class="bookmark-shadow br-t_1 br_black-3 br_solid flex_auto m-t_2 p-b_3 p-t_0">
                        <a href="" class="[active] a:bg_alert-n2 bg_secondary-3 br-tl_square br-tr_square br_solid br_1 br_black-2 br_radius c_black-6 flex_none h:bg_alert-n4 h:c_white p-b_2 p_3 bookmark-clipping-path ">
                            <i class="fas fa-heart"></i>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
    <div class="flex_auto w_30:lg bg_white-7 br_radius br_solid br_1 br_black-3"> 
        <section  class="">
            <header class="p-x_4 font_display font_medium font_3:lg font_2:md font_1 c_primary-n1 m-x_3 m-b_3 m-b_3:lg lh_1 m-t_5:lg m-t_4:md m-t_3 "><h2 class="lh_1 m_0 font_medium lowercase">presentations</h2></header>
            <div class="font_n1 font_0:lg relative isolation_isolate">
                <ul class=" flex flex_column justify_stretch p-y_4 p-x_3 gap_3 ul_none">
                    {% include library-presentation.html %}
                    {% include library-presentation.html %}
                    {% include library-presentation.html %}

                </ul>
            </div>    
        </section>        
    </div>
</main>
