<aside data-component="guideline-app-cta" class="columns_1 grid isolation_isolate rows_3 m-t_4 m-x_4 min-w_0 w_100" style="--row-1:115px; --row-2:90px;">
  <div data-label="background" class="bg_accent-5 row-end_end row-start_2 col_all flex shadow_bevel-light br_solid br_1 br_accent-4 br_round"></div>
  <div data-label="product-image" class="row_all col_all grid">
    <div class="bg_contain bg_no-repeat m-t_n3" style="background-image: url('{%- include URL.html relative='assets/images/ACC/AllApp.png' -%}'); background-position: center top;"></div>
  </div>
  <div data-label="content-container" class="bg_white br_radius m_3 p_4 reading-typography row-end_end row-start_n2 shadow_overlap-light z_2 col_all br_solid br_black-2 br_1" style="--custom-font-size-up: .8;">
    <h3 class="text_center font_bold lh_1 wrap_pretty m-t_0">Guidelines on the Go</h3>
    <p class="text_center wrap_pretty m-b_0">Access <strong>ACC Guideline Clinical App</strong> recommendations and interactive tools at the point of care.</p>
    <div class="grid columns_2 content_center gap_2 justify_center m-t_3">
      <a class="bg_black br_radius" href="https://apps.apple.com/us/app/acc-guideline-clinical-app/id931723742" target="_blank" rel="noopener noreferrer">
        <img src="https://www.acc.org/~/media/Non-Clinical/Images/Education-and-Meetings/Products-and-Resources/ACHDSAP/appstore.svg" alt="Download on the App Store">
      </a>
      <a class="bg_black br_radius" href="https://play.google.com/store/apps/details?id=com.bbi.accorg.cardiosource.american_college_of_cardiology" target="_blank" rel="noopener noreferrer">
        <img src="https://www.acc.org/~/media/Non-Clinical/Images/Education-and-Meetings/Products-and-Resources/ACHDSAP/googleplay.svg" alt="Get it on Google Play">
      </a>
    </div>
    <div class="text_center m-t_3 m-b_n2">
      <a href="https://www.acc.org/Tools-and-Practice-Support/Mobile-Resources/Features/Guideline-Clinical-App" target="_blank" rel="noopener noreferrer"><small>Learn More</small></a>
    </div>
  </div>
</aside>
