<div grid-template="page-layout">
  <section grid-area="sidebar-primary">
    {%- include MicroSite/sidebar-nav.html
      data_path="ClinicalSolutions.sidebar"
      active_key=page.clinical_nav
      sub_active_key=page.clinical_nav_sub -%}
    {%- include_relative partials/clinical-topics-callout.html -%}
    {%- include_relative partials/member-section-callout.html -%}
    {%- include_relative partials/guideline-app-callout.html -%}
  </section>
  <main grid-area="content" class="p-t_5:lg p-t_4 p-x_4:lg reading-typography">
