<h2>Membership: International Associate</h2>
<p class="c_alert m_0">International Associates <strong class="font_bold uppercase">may not</strong> use the FACC designation.</p>
<hr>
<h3>Pricing</h3>
<ul class="grid columns_2:md columns_1 gap_5 ul_none font_copy font_0">

        <li data-element="data-table"
            class="bg_secondary-n2 br_round flex flex_column c_white c_white-8 color_inherit inherit_all p_4 p_5:md reading-typography shadow_bevel-light relative">
            <header class="font_display font_4">
                <h2 data-element="table-title" class="font-size_down-2 font_medium m-b_0 ">High-Income Country</h2>
                <h3 class="font-size_up-2 lh_2">
                    <span class="font_bold c_white">$125</span>
                    <span>/Annual Dues</span>
                </h3>
            </header>
            <main>
                <hr class="br_dashed br_solid br_white-4 m-t_2">
                <ul class="c_white-9 flex flex_column font-size_1 font_medium gap-y_3 m-l_4 p-b_4 p-x_3 ul_none">
                    <li class="text-indent_n1">
                        <i class="fas fa-usd m-r_2 c_primary-5" aria-hidden="true">25</i>Application Fee
                    </li>
                </ul>
            </main>
            <footer class="m-b_n3:md m-t_auto">
                <a href="{% include_relative JOIN/JOINURL.txt %}" 
                    class=" expanded-click-area  btn btn_primary c_primary-n2 h:bg_white-5 h:undecorated not-link shadow_overlap-light">Join
                    Now</a>
            </footer><abbr title="United States Dollar"
                    class="absolute b_4 block font_n1 font_xbold lh_0 m-r_2 opacity_5 r_4 z_1">USD</abbr>

    </li>
    <li data-element="data-table"
        class="bg_secondary-1 br_round flex flex_column c_white c_white-8 color_inherit inherit_all p_4 p_5:md reading-typography shadow_bevel-light relative">
        <header class="font_display font_4">
            <h2 data-element="table-title" class="font-size_down-2 font_medium m-b_0 ">Low/Medium-Income Country</h2>
            <h3 class="font-size_up-2 lh_2">
                <span class="font_bold c_white">$75</span>
                <span>/Annual Dues</span>
            </h3>
        </header>
        <main>
            <hr class="br_dashed br_solid br_white-4 m-t_2">
            <ul class="c_white-9 flex flex_column font-size_1 font_medium gap-y_3 m-l_4 p-b_4 p-x_3 ul_none">
                <li class="text-indent_n1">
                    <i class="fas fa-usd m-r_2 c_primary-5" aria-hidden="true">25</i>Application Fee
                </li>
            </ul>
        </main>
        <footer class="m-b_n3:md m-t_auto">
            <a href="{% include_relative JOIN/JOINURL.txt %}" 
                class="expanded-click-area bg_white btn btn_primary c_primary-n2 h:bg_white-5 h:undecorated not-link shadow_overlap-light">Join
                Now</a>
        </footer><abbr title="United States Dollar"
                    class="absolute b_4 block font_n1 font_xbold lh_0 m-r_2 opacity_5 r_4 z_1">USD</abbr>
    </li>
    <li data-element="data-table" class="bg_secondary-5 br_round flex flex_column color_inherit inherit_all p_4 p_5:md reading-typography shadow_bevel-light relative col-start_start col-end_end">
        <header class="font_display font_4">
            <h2 data-element="table-title" class="font-size_down-2 font_medium m-b_0 ">Under 40?</h2>
            <h3 class="font-size_up-2 lh_2">
                <span class="font_bold">Free</span><span>/Annual Dues</span>
            </h3>
        </header>
        <main>
            <hr class="br_dashed br_solid br_black-4 m-t_2">
            <h4>Become an International Associate Member for FREE! 
            </h4>
            <p>Complimentary membership is based on your birth date and will automatically be applied during checkout.</p>

        </main>
        <footer class="m-b_n3:md m-t_auto">
            <a href="{% include_relative JOIN/JOINURL.txt %}"  class="expanded-click-area bg_secondary-3 btn btn_secondary c_white h:bg_secondary-1 h:undecorated not-link shadow_overlap-light">Join
                Now</a>
        </footer>
 
</li>
</ul>

<h3>To apply, candidates must:</h3>
<ul>
    <li>Have completed medical education and cardiovascular training.</li>
    <li>Be practicing cardiovascular medicine. </li>
</ul>
<h3>What You Need to Apply</h3>
<ul>
    <li >Have a membership in a recognized medical society in their country – OR – upload a sponsorship
        letter from a current physician member of the ACC </li>
    <li >Have completed medical professional education and training </li>
</ul>
<a href="{% include_relative JOIN/JOINURL.txt %}" class="btn btn-primary not-link">Join Now</a>

