---
layout: playground
name: "Left Nav"
position: "Generator"
csv_file: "leftnav"
data_path: "leftnav"
---




{% assign nav_data = site.data.Blocks.leftnav %}

<nav class="nav-sub bg_primary c_white font_2 font_ui">
    <ul class="ul_none flex_column flex">
        {% assign parents = nav_data | map: "Facet" | uniq %}
        {% for parent in parents %}
            {% if parent != "" %}
                <li class="nav-item font-size_up" data-nav="{{ parent }}">
                    <div class="bg_black-4">
                        <a class="text-shadow_black-1 block w_100 c_white p-y_2 p-x_4 h:c_white inline-block h:underline self_center">{{ parent }}</a>
                    </div>
                    {% assign children = nav_data | where: "Facet", parent | map: "1" | uniq %}
                    {% if children.size > 0 %}
                        <ul class="ul_none flex_column flex">
                            {% for child in children %}
                                {% if child != "" %}
                                    <li class="nav-item" data-nav="{{ child }}">
                                        <div class="flex flex_row">
                                            <div class="flex_auto self_center">
                                                <a class="text-shadow_black-1 c_white-9 p-y_2 p-x_3 w_100 h:c_white inline-block h:underline self_center">{{ child }}</a>
                                            </div>
                                        </div>
                                        {% assign grandchildren = nav_data | where: "1", child | map: "2" | uniq %}
                                        {% if grandchildren.size > 0 %}
                                            <ul class="ul_none flex_column flex">
                                                {% for grandchild in grandchildren %}
                                                    {% if grandchild != "" %}
                                                        <li class="nav-item" data-nav="{{ grandchild }}">
                                                            <div class="flex flex_row">
                                                                <div class="flex_auto self_center">
                                                                    <a class="text-shadow_black-1 c_white-9 p-y_2 p-x_3 w_100 h:c_white inline-block h:underline self_center">{{ grandchild }}</a>
                                                                </div>
                                                            </div>
                                                            {% assign greatgrandchildren = nav_data | where: "2", grandchild | map: "3" | uniq %}
                                                            {% if greatgrandchildren.size > 0 %}
                                                                <ul class="ul_none flex_column flex">
                                                                    {% for greatgrandchild in greatgrandchildren %}
                                                                        {% if greatgrandchild != "" %}
                                                                            <li class="nav-item" data-nav="{{ greatgrandchild }}">
                                                                                <div class="flex flex_row">
                                                                                    <div class="flex_auto self_center">
                                                                                        <a class="text-shadow_black-1 c_white-9 p-y_2 p-x_3 w_100 h:c_white inline-block h:underline self_center">{{ greatgrandchild }}</a>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
