<div id="footer-wrap" class="display_none:print">

    <!-- ********************************** breadcrumbs ********************************** -->
    <div id="breadcrumbs" class="bg_acc breadcrumbs-container c_white font_0 font_ui p-x_4 p_3">
    
    <b class="breadcrumbs-title">YOU ARE HERE: </b>
<a class="c_white" href="{{ '/' | append: site.github.build_revision | relative_url }}">Home </a>   
</div>
    

<div id="footer" role="contentinfo" class="flex bg_shade-n3 flex_column flex_inline flex_wrap flex_row:md p-x_3 p-y_4 p-y_0:lg w_100">
    
        <div class="flex_auto p-x_3 p-y_4:lg w_25:lg w_50:md font_ui">
                <h2 class="font_0:lg font_accent font_n1 m-b_0 m-b_2:md">
                    <a href="https://www.acc.org/Guidelines" class="c_white h:c_primary-3" target="_parent" title="Guidelines">Guidelines</a>
                </h2>
                <h2 class="font_0:lg font_accent font_n1 m-b_0 m-b_2:md">
                    <a href="https://www.acc.org/JACC-Journals" class="c_white h:c_primary-3">JACC Journals on ACC.org</a>
                </h2>
                <ul class="block:md display_none font_n2:lg font_n3 m-b_4 ul_none">
                        <li class="reverse-indent"><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=Journal of the American College of Cardiology" class="c_white-9 h:c_primary-3">JACC</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=JACC: Asia" class="c_white-9 h:c_primary-3" title="JACC Asia">JACC: Asia</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=JACC: Basic to Translational Science" class="c_white-9 h:c_primary-3">JACC: Basic to Translational Science</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=JACC: CardioOncology" class="c_white-9 h:c_primary-3">JACC: CardioOncology</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=JACC: Cardiovascular Imaging" class="c_white-9 h:c_primary-3" target="_parent" title="JACC: Cardiovascular Imaging">JACC: Cardiovascular Imaging </a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=JACC: Cardiovascular Interventions" class="c_white-9 h:c_primary-3" target="_parent" title="JACC: Cardiovascular Interventions">JACC: Cardiovascular Interventions </a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=JACC: Case Reports" class="c_white-9 h:c_primary-3">JACC: Case Reports</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=JACC: Clinical Electrophysiology" class="c_white-9 h:c_primary-3">JACC: Clinical Electrophysiology</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=JACC: Heart Failure" class="c_white-9 h:c_primary-3" target="_parent" title="JACC Heart Failure">JACC: Heart Failure</a></li>
                </ul>
                <h2 class="font_0:lg font_accent font_n1 m-b_0 m-b_2:md">
                    <a href="https://www.acc.org/Membership" class="c_white h:c_primary-3" target="_parent" title="Membership ">Membership </a>
                </h2>
                <ul class="block:md display_none font_n2:lg font_n3 m-b_4 ul_none">
                        <li class="reverse-indent"><a href="https://www.acc.org/Membership/Current-Members" class="c_white-9 h:c_primary-3">Current Members</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/About-ACC/Campaign-Future" class="c_white-9 h:c_primary-3">Campaign for the Future</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/membership/join-us" class="c_white-9 h:c_primary-3">Become a Member</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Membership/Renew-Your-Membership" class="c_white-9 h:c_primary-3">Renew Your Membership</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/membership/join-us/benefits" class="c_white-9 h:c_primary-3">Member Benefits and Resources</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Membership/Sections-and-Councils" class="c_white-9 h:c_primary-3">Member Sections</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Membership/Chapters" class="c_white-9 h:c_primary-3">Chapters</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Membership/Member-Directory" class="c_white-9 h:c_primary-3" title="ACC Member Directory">ACC Member Directory</a></li>
                </ul>
                <h2 class="font_0:lg font_accent font_n1 m-b_0 m-b_2:md">
                    <a href="https://www.acc.org/About-ACC" class="c_white h:c_primary-3" title="About ACC">About ACC</a>
                </h2>
                <ul class="block:md display_none font_n2:lg font_n3 m-b_4 ul_none">
                        <li class="reverse-indent"><a href="https://www.acc.org/About-ACC/Innovation" class="c_white-9 h:c_primary-3">ACC Innovation Program</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/About-ACC/Our-Strategic-Direction" class="c_white-9 h:c_primary-3">Our Strategic Direction</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/About-ACC/Diversity-and-Inclusion" class="c_white-9 h:c_primary-3">Diversity and Inclusion</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/About-ACC/Our-History" class="c_white-9 h:c_primary-3" target="_parent" title="Our History ">Our History </a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/About-ACC/Our-Bylaws-and-Code-of-Ethics" class="c_white-9 h:c_primary-3">Our Bylaws and Code of Ethics</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/About-ACC/Leadership" class="c_white-9 h:c_primary-3">Leadership and Governance</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/About-ACC/Industry-Relations" class="c_white-9 h:c_primary-3">Industry Relations</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/About-ACC/Support-the-ACC" class="c_white-9 h:c_primary-3">Support the ACC</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/About-ACC/Jobs-at-the-ACC" class="c_white-9 h:c_primary-3">Jobs at the ACC</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/About-ACC/Press-Releases" class="c_white-9 h:c_primary-3">Press Releases</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/About-ACC/Social-Media" class="c_white-9 h:c_primary-3">Social Media</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/About-ACC/Book-Our-Conference-Center" class="c_white-9 h:c_primary-3">Book Our Conference Center</a></li>
                </ul>
    </div>
    <div class="flex_auto p-x_3 p-y_4:lg w_25:lg w_50:md font_ui">
                <h2 class="font_0:lg font_accent font_n1 m-b_0 m-b_2:md">
                    <a href="https://www.acc.org/Clinical-Topics" class="c_white h:c_primary-3">Clinical Topics</a>
                </h2>
                <ul class="block:md display_none font_n2:lg font_n3 m-b_4 ul_none">
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Acute-Coronary-Syndromes" class="c_white-9 h:c_primary-3">Acute Coronary Syndromes</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Anticoagulation-Management" class="c_white-9 h:c_primary-3">Anticoagulation Management</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Arrhythmias-and-Clinical-EP" class="c_white-9 h:c_primary-3">Arrhythmias and Clinical EP</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Cardiac-Surgery" class="c_white-9 h:c_primary-3">Cardiac Surgery</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Cardio-Oncology" class="c_white-9 h:c_primary-3">Cardio-Oncology</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Stable-Ischemic-Heart-Disease/Chronic-Angina" class="c_white-9 h:c_primary-3">Chronic Angina</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Congenital-Heart-Disease-Pediatric-Cardiology" class="c_white-9 h:c_primary-3">Congenital Heart Disease and &nbsp; &nbsp;&nbsp;Pediatric Cardiology</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Latest-in-Cardiology/Features/ACCs-Coronavirus-Disease-2019-COVID-19-Hub" class="c_white-9 h:c_primary-3">COVID-19 Hub</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Diabetes-and-Cardiometabolic-Disease" class="c_white-9 h:c_primary-3">Diabetes and Cardiometabolic &nbsp;&nbsp;&nbsp; Disease</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Dyslipidemia" class="c_white-9 h:c_primary-3">Dyslipidemia</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Geriatric-Cardiology" class="c_white-9 h:c_primary-3">Geriatric Cardiology</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Heart-Failure-and-Cardiomyopathies" class="c_white-9 h:c_primary-3">Heart Failure and Cardiomyopathies</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Dyslipidemia/Hypertriglyceridemia" class="c_white-9 h:c_primary-3">Hypertriglyceridemia</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Invasive-Cardiovascular-Angiography-and-Intervention" class="c_white-9 h:c_primary-3">Invasive Cardiovascular Angiography &nbsp; &nbsp;and Intervention</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Noninvasive-Imaging" class="c_white-9 h:c_primary-3">Noninvasive Imaging</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Pericardial-Disease" class="c_white-9 h:c_primary-3">Pericardial Disease</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Prevention" class="c_white-9 h:c_primary-3">Prevention</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Pulmonary-Hypertension-and-Venous-Thromboembolism" class="c_white-9 h:c_primary-3">Pulmonary Hypertension and Venous &nbsp; &nbsp; Thromboembolism</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Sports-and-Exercise-Cardiology" class="c_white-9 h:c_primary-3">Sports and Exercise Cardiology</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Stable-Ischemic-Heart-Disease" class="c_white-9 h:c_primary-3">Stable Ischemic Heart Disease</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Valvular-Heart-Disease" class="c_white-9 h:c_primary-3">Valvular Heart Disease</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Clinical-Topics/Vascular-Medicine" class="c_white-9 h:c_primary-3">Vascular Medicine</a></li>
                </ul>
    </div>
    <div class="flex_auto p-x_3 p-y_4:lg w_25:lg w_50:md font_ui">
                <h2 class="font_0:lg font_accent font_n1 m-b_0 m-b_2:md">
                    <a href="https://www.acc.org/Latest-in-Cardiology" class="c_white h:c_primary-3">Latest in Cardiology</a>
                </h2>
                <ul class="block:md display_none font_n2:lg font_n3 m-b_4 ul_none">
                        <li class="reverse-indent"><a href="https://www.acc.org/Latest-in-Cardiology#theme=Clinical Updates and Discoveries" class="c_white-9 h:c_primary-3">Clinical Updates &amp; Discoveries</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Latest-in-Cardiology#theme=Advocacy and Policy" class="c_white-9 h:c_primary-3">Advocacy &amp; Policy</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Latest-in-Cardiology#theme=Perspectives and Analysis" class="c_white-9 h:c_primary-3">Perspectives &amp; Analysis</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Latest-in-Cardiology#theme=Meeting Coverage" class="c_white-9 h:c_primary-3">Meeting Coverage</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Membership/Join-Us/Benefits/ACC-Member-Publications" class="c_white-9 h:c_primary-3">ACC Member Publications</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Latest-in-Cardiology/Features/podcasts" class="c_white-9 h:c_primary-3">ACC Podcasts</a></li>
                </ul>
                <h2 class="font_0:lg font_accent font_n1 m-b_0 m-b_2:md">
                    <a href="https://www.acc.org/Education-and-Meetings" class="c_white h:c_primary-3">Education and Meetings</a>
                </h2>
                <ul class="block:md display_none font_n2:lg font_n3 m-b_4 ul_none">
                        <li class="reverse-indent"><a href="https://www.acc.org" class="c_white-9 h:c_primary-3">Online Learning Catalog</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Education-and-Meetings/Maintenance-of-Certification-Information-Hub" class="c_white-9 h:c_primary-3">Understanding MOC</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Education-and-Meetings/Products-and-Resources" class="c_white-9 h:c_primary-3">Products and Resources</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Education-and-Meetings/Image-and-Slide-Gallery" class="c_white-9 h:c_primary-3">Image and Slide Gallery</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Education-and-Meetings/Meetings" class="c_white-9 h:c_primary-3">Meetings</a></li>
                        <li class="reverse-indent"><a href="https://accscientificsession.acc.org/" class="c_white-9 h:c_primary-3" target="_blank">Annual Scientific Session</a></li>
                </ul>
                <h2 class="font_0:lg font_accent font_n1 m-b_0 m-b_2:md">
                    <a href="https://www.acc.org/Tools-and-Practice-Support" class="c_white h:c_primary-3">Tools and Practice Support</a>
                </h2>
                <ul class="block:md display_none font_n2:lg font_n3 m-b_4 ul_none">
                        <li class="reverse-indent"><a href="http://cvquality.acc.org/" class="c_white-9 h:c_primary-3">Quality Improvement for Institutions</a></li>
                        <li class="reverse-indent"><a href="https://www.ncdr.com/webncdr/" class="c_white-9 h:c_primary-3" target="_blank">NCDR</a></li>
                        <li class="reverse-indent"><a href="https://www.cardiosmart.org/" class="c_white-9 h:c_primary-3" target="_blank">CardioSmart</a></li>
                        <li class="reverse-indent"><a href="https://cvquality.acc.org/Accreditation" class="c_white-9 h:c_primary-3" target="_blank">Accreditation Services</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Tools-and-Practice-Support/Clinical-Toolkits" class="c_white-9 h:c_primary-3">Clinical Toolkits</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Features/2019/07/clinican-well-being-portal" class="c_white-9 h:c_primary-3" title="Clinician Well-Being Portal">Clinician Well-Being Portal</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/About-ACC/Diversity-and-Inclusion" class="c_white-9 h:c_primary-3">Diversity and Inclusion</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Tools-and-Practice-Support/Mobile-Resources" class="c_white-9 h:c_primary-3">Mobile and Web Apps</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Tools-and-Practice-Support/Advocacy-at-the-ACC" class="c_white-9 h:c_primary-3" target="_parent">Advocacy at the ACC</a></li>
                        <li class="reverse-indent"><a href="http://www.healthecareers.com/acc" class="c_white-9 h:c_primary-3" target="_blank">Cardiology Careers</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Tools-and-Practice-Support/Practice-Solutions" class="c_white-9 h:c_primary-3">Practice Solutions</a></li>
                        <li class="reverse-indent"><a href="https://www.acc.org/Tools-and-Practice-Support/Quality-Programs" class="c_white-9 h:c_primary-3">Quality Programs</a></li>
                </ul>
    </div>

    
    <div class="flex_auto p-x_3 p-y_4:lg w_25:lg w_50:md relative">
        <section class="acc-websites m-y_3">
    <nav class="clearfix block font_bold font_ui w_100">
        <ul class="font_1 lh_4 ul_none">
            <li>
                <a href="https://www.jacc.org/" class="c_white block flex h:bg_black-2 h:c_white" target="_blank">JACC</a>
            </li>
            <li>
                <a href="http://cvquality.acc.org/" class="c_white block flex h:bg_black-2 h:c_white" target="_blank">Quality Improvement for Institutions</a>
            </li>
            <li>
                <a href="http://cvquality.acc.org/NCDR-Home" class="c_white block flex h:bg_black-2 h:c_white" target="_blank">NCDR</a>
            </li>
            <li>
                <a href="https://www.cardiosmart.org/For-Clinicians" class="c_white block flex h:bg_black-2 h:c_white" target="_blank">CardioSmart</a>
            </li>
            <li>
                <a href="https://www.medaxiom.com/" class="c_white block flex h:bg_black-2 h:c_white" target="_blank">MedAxiom</a>
            </li>
            <li>
                <a href="https://cvquality.acc.org/accreditation" class="c_white block flex h:bg_black-2 h:c_white" target="_blank">Accreditation Services </a>
            </li>
            <li>
                <a href="/About-ACC/Contact-Us" class="c_white block flex h:bg_black-2 h:c_white">Contact Us</a>
            </li>
        </ul>
    </nav>
</section>
        <section class="address c_white">
    <address>
				<!-- http://microformats.org/wiki/hcard -->
				<h4 class="m-b_0 font_bold font_copy font_normal font_1 m-t_4:md">Heart House</h4>
				<div class="font_ui font_0">
					<ul class="ul_none  lh_2">
						<li class="m-b_1 m-b_3:md font_normal">
							<span class="street-address">2400 N. St. NW</span>
						</li>
						<li class="m-b_1 m-b_3:md font_normal">
							<span class="locality ">Washington</span>,
							<span class="city-name ">
								<abbr title="District of Colombia">DC</abbr>
							</span>
							<span class="postal-code">20037</span>
						</li>
						<li class="m-b_1 m-b_3:md font_normal">
							<a href="mailto:MemberCare@acc.org" class="email c_white text_underline  h:c_white ">
								<strong class="p-r_2 inline block:md inline:lg">Email:</strong>
								<span class="inline block:md inline:lg">MemberCare@acc.org</span></a>
						</li>
					</ul>
					<ul class="ul_none lh_2">
						<li class="m-b_1 m-b_3:md font_normal">
							<a tel="+12023756000" href="tel:+12023756000" class="tel c_white h:c_white h:underline">
								<strong class="p-r_2 block:md inline:lg">Phone:</strong><span class=" block:md inline:lg">(202) 375-6000, ext. 5603</span></a>
						</li>
						<li class="m-b_1 m-b_3:md font_normal">
							<a tel="+18002574737" href="tel:+18002534636.5603" class="tel c_white h:c_white h:underline">
								<strong class="p-r_2 block:md inline:lg">Toll Free:</strong><span class=" block:md inline:lg">(800) 253-4636, ext. 5603</span></a>
						</li>
						<li class="m-b_1 m-b_3:md font_normal">
							<a fax="+12023757000" href="fax:+12023757000" class="fax c_white h:c_white h:underline">
								<strong class="p-r_2 block:md inline:lg">Fax:</strong>
								<span class="block:md inline:lg">(202) 375-7000</span>
							</a>
						</li>
					</ul>
				</div>
			</address>
</section>
            <p id="logo-footer">
        <a href="{{ '/' | append: site.github.build_revision | relative_url }}">
            <img src="https://www.acc.org/-/media/Images/Logos/UPDATED-OCT-3-2014/ACC-Footer.svg" width="142" height="45" alt="ACC Logo Footer">
        </a>
    </p>

        <section class="absolute:md b_4 l_0 m-t_4 p-t_0:md p-t_5 r_0 relative social">
    <ul class="flex social_bar ul_none c_white h:c_white m_0">
        <li class="flex_auto m-r_3"><a class="c_white" href="https://www.youtube.com/user/ACCinTouch" target="_blank"><i class="fab fa-2x fa-youtube"></i></a></li>
        <li class="flex_auto m-r_3"><a class="c_white" href="https://www.linkedin.com/company/american-college-of-cardiology/" target="_blank"><i class="fab fa-2x fa-linkedin"></i></a></li>
        <li class="flex_auto m-r_3"><a class="c_white" href="https://www.facebook.com/AmericanCollegeofCardiology" target="_blank"><i class="fab fa-2x fa-facebook"></i></a></li>
        <li class="flex_auto m-r_3"><a class="c_white" href="https://twitter.com/accintouch" target="_blank"><i class="fab fa-2x fa-twitter"></i></a></li>
        <li class="flex_auto m-r_3"><a class="c_white" href="https://www.instagram.com/americancollegeofcardiology/" target="_blank">
                <i class="fab fa-2x fa-instagram"></i>
            </a></li>
    </ul>
</section>


    </div>
</div>
<div id="subfooter bg_primary-n1 c_white" class="bg_primary c_white font_n2 p-x_4 p-y_4">
    <ul class="block footer-bottom-links ul_none">
            <li class="inline p_2"><a href="https://www.acc.org/Footer-Pages/Media-Center" class="c_white-6 h:c_white">Media Center</a></li>
            <li class="inline p_2"><a href="https://www.acc.org/Footer-Pages/Quick-Start-Guide" class="c_white-6 h:c_white">ACC.org Quick Start Guide</a></li>
            <li class="inline p_2"><a href="https://www.acc.org/Footer-Pages/Advertising-and-Sponsorship-Policy" class="c_white-6 h:c_white">Advertising &amp; Sponsorship Policy</a></li>
            <li class="inline p_2"><a href="https://www.acc.org/Footer-Pages/Clinical-Content-Disclaimer" class="c_white-6 h:c_white">Clinical Content Disclaimer</a></li>
            <li class="inline p_2"><a href="https://www.acc.org/Footer-Pages/Editorial-Board" class="c_white-6 h:c_white">Editorial Board</a></li>
            <li class="inline p_2"><a href="https://www.acc.org/Footer-Pages/Privacy-Policy" class="c_white-6 h:c_white">Privacy Policy</a></li>
            <li class="inline p_2"><a href="https://www.acc.org/Footer-Pages/Registered-User-Agreement" class="c_white-6 h:c_white">Registered User Agreement</a></li>
            <li class="inline p_2"><a href="https://www.acc.org/Footer-Pages/Terms-and-Conditions" class="c_white-6 h:c_white">Terms of Service</a></li>
            <li class="inline p_2"><a href="https://www.acc.org/Footer-Pages/Cookie-Policy" class="c_white-6 h:c_white">Cookie Policy</a></li>
            <li class="inline p_2"><a href="https://www.acc.org/Footer-Pages/Member-Hub-Terms-of-Use" class="c_white-6 h:c_white">Member Hub Terms of Use</a></li>
            <li class="inline p_2"><a href="https://www.acc.org/sitemap-acc.xml" class="c_white-6 h:c_white">Site Map</a></li>
    </ul><!-- /footer-bottom-links -->
    <p class="legal p-t_3 font_n2">© 2021 American College of Cardiology Foundation. All rights reserved.</p>
</div><!-- /subfooter -->
   
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>