<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - Arches</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-9ZfPnbegQSumzaE7mks2IYgHoayLtuto3AS6ieArECeaR8nCfliJVuLh/GaQ1gyM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://assets.acc.org/Arches/Latest/dist/css/acc_boot.min.css">
  <link rel="stylesheet" href="https://assets.acc.org/Arches/Latest/dist/css/acc_uc.min.css">
  <link rel="stylesheet" href="https://assets.acc.org/Arches/Latest/dist/css/color-code_credits.min.css">
  <link rel="stylesheet" href="https://assets.acc.org/Arches/Latest/dist/css/color-code_LOE_COR.css">
  <link rel="stylesheet" href="https://assets.acc.org/Arches/Latest/dist/css/color-code_social.min.css">
  {% include google-fonts.html %}
</head>
