<div class="footer">
    <div class="p-t_3 p-b_3 p_4 flex br_0 br-t_3 lh_2 br_solid br_black-6 c_white-6 texture_light bg_black-3">
         
    </div>
    <div class="flex flex_column flex_row:lg justify_between p_4 p_5-large bg_black-8 max-w_80 m_auto" >
        <div class="flex_auto max-w_30 p-l_4:md p-r_5:md">
            <div class="logo_primary-alt  max-w_20"><span class="alt">logo_primary-alt max-w_10</span></div>
            <section class="address c_white">
                <h3 class="font_accent font_1 m-b_0 font_normal font_regular">American College of Cardiology</h3>
                <address>
                    <!-- http://microformats.org/wiki/hcard -->
                    <h4 class="m-b_0 font_bold font_copy font_normal font_1 m-t_4">Heart House</h4>
                    <div class="flex font_copy font_0">
                        <div class="flex_shrink p-r_5 m-r_5">
                            <ul class="ul_none  lh_0">
                                <li class="m-b_1 m-b_3:md font_normal">
                                    <span class="street-address">2400 N. St. NW</span>
                                </li>
                                <li class="m-b_1 m-b_3:md font_normal">
                                    <span class="locality ">Washington</span>,
                                    <span class="city-name ">
                                        <abbr title="District of Colombia">DC</abbr>
                                    </span>
                                    <span class="postal-code">20037</span>
                                </li>
                                <li class="m-b_1 m-b_3:md font_normal">
                                    <a href="mailto:MemberCare@acc.org"
                                        class="email c_white text_underline  h:c_white ">
                                        <strong class="p-r_2 inline block:md inline:lg">Email:</strong>
                                        <span class="inline block:md inline:lg">MemberCare@acc.org</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_auto w_50">
                            <ul class="ul_none lh_0">
                                <li class="m-b_1 m-b_3:md font_normal">
                                    <a tel="+12023756000" href="tel:+12023756000"
                                        class="tel c_white h:c_white h:underline">
                                        <strong class="p-r_2 block:md inline:lg">Phone:</strong><span
                                            class=" block:md inline:lg">(202) 375-6000, ext. 5603</span></a>
                                </li>
                                <li class="m-b_1 m-b_3:md font_normal">
                                    <a tel="+18002574737" href="tel:+18002534636.5603"
                                        class="tel c_white h:c_white h:underline">
                                        <strong class="p-r_2 block:md inline:lg">Toll Free:</strong><span
                                            class=" block:md inline:lg">(800) 253-4636, ext. 5603</span></a>
                                </li>
                                <li class="m-b_1 m-b_3:md font_normal">
                                    <a fax="+12023757000" href="fax:+12023757000"
                                        class="fax c_white h:c_white h:underline">
                                        <strong class="p-r_2 block:md inline:lg">Fax:</strong>
                                        <span class="block:md inline:lg">(202) 375-7000</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </address>
            </section> <!-- Social -->
            <h4 class="c_white font_regular font_accent m-b_3 m-b_4:lg text_center text_left:lg">Stay Connected
            </h4>
            <ul class="flex social-bar ul_none c_white h:c_white m_0">
                <li class="flex_auto m-r_2"><a href="https://twitter.com/accintouch" target="_blank"
                        class="bg_twitter social-bar--button block m-b_0 p_3 c_white-8 h:c_white text_center h:bg_primary-n1"><i
                            class="fab fa-twitter-square"></i></a></li>
                <li class="flex_auto m-r_2"><a href="https://www.facebook.com/AmericanCollegeofCardiology"
                        target="_blank"
                        class="bg_facebook social-bar--button block m-b_0 p_3 c_white-8 h:c_white text_center h:bg_primary-n1"><i
                            class="fab fa-facebook-square"></i></a></li>
                <li class="flex_auto m-r_2"><a href="https://www.instagram.com/americancollegeofcardiology"
                        target="_blank"
                        class="bg_instagram social-bar--button block m-b_0 p_3 c_white-8 h:c_white text_center h:bg_primary-n1"><i
                            class="fab fa-instagram"></i></a></li>
                <li class="flex_auto m-r_2"><a href="http://www.youtube.com/user/ACCinTouch" target="_blank"
                        class="bg_youtube social-bar--button block m-b_0 p_3 c_white-8 h:c_white text_center h:bg_primary-n1"><i
                            class="fab fa-youtube"></i></a></li>
                <li class="flex_auto m-r_2"><a
                        href="https://play.google.com/store/apps/dev?id=5189912010956845696&hl=en_US" target="_blank"
                        class="bg_google-play social-bar--button block m-b_0 p_3 c_white-8 h:c_white text_center h:bg_primary-n1"><i
                            class="fab fa-google-play"></i></a></li>
                <li class="flex_auto m-r_2"><a
                        href="https://apps.apple.com/us/developer/american-college-of-cardiology/id502174543#see-all/i-phonei-pad-apps"
                        target="_blank"
                        class="bg_apple-store social-bar--button block m-b_0 p_3 c_white-8 h:c_white text_center h:bg_primary-n1"><i
                            class="fab fa-apple"></i></a></li>
            </ul>
            <!-- Social -->
        </div>
        <div class="flex_shrink p-l_4:md p-r_4:md w_100 w_auto:md m-l_auto">
            <!-- ACC Product Links -->
            <section class="acc-websites flex_auto">
                <h3
                    class="font_0 font_1:md c_white font_regular font_accent m-b_3 m-b_4:lg m-t_4:lg m-t_5 text_center text_left:lg w_100">
                    Transforming Education to Knowledge</h3>
                <ul class="ul_none lh_2 font_0">
                    <li class="c_white">
                        <a target="_blank"
                            class="c_white flex flex_row h:bg_black-2 h:c_white justify_between p-x_2 p_3"
                            href="http://www.acc.org">
                            <span class="flex_auto inline-block p-l_3">ACC</span>
                            <i class="c_white fa-external-link-square fas flex_shrink float_right h:c_white p-r_3"></i>
                        </a>
                    </li>
                    <li class="c_white br_solid br_0 br-t_1  br_white-5">
                        <a target="_blank"
                            class="h:bg_black-2  h:c_white c_white p-x_2 p_3  justify_between flex flex_row "
                            href="https://cvquality.acc.org/Accreditation?">
                            <span class="inline-block flex_auto p-l_3">Accreditation Services</span>
                            <i class="float_right flex_shrink fas p-r_3 c_white h:c_white fa-external-link-square "></i>
                        </a>
                    </li>
                    <li class="c_white br_solid br_0 br-t_1  br_white-5">
                        <a target="_blank"
                            class="h:bg_black-2  h:c_white c_white p-x_2 p_3 justify_between flex flex_row "
                            href="http://www.cardiosmart.org">
                            <span class="inline-block flex_auto p-l_3">CardioSmart</span>
                            <i class="float_right flex_shrink fas p-r_3 c_white h:c_white fa-external-link-square "></i>
                        </a>
                    </li>
                    <li class="c_white br_solid br_0 br-t_1  br_white-5">
                        <a target="_blank"
                            class="h:bg_black-2  h:c_white c_white p-x_2 p_3 justify_between flex flex_row "
                            href="https://cvquality.acc.org/">
                            <span class="inline-block flex_auto p-l_3">CV Quality</span>
                            <i class="float_right flex_shrink fas p-r_3 c_white h:c_white fa-external-link-square "></i>
                        </a>
                    </li>
                    <li class="c_white br_solid br_0 br-t_1  br_white-5">
                        <a target="_blank"
                            class="h:bg_black-2  h:c_white c_white p-x_2 p_3 justify_between flex flex_row "
                            href="http://www.onlinejacc.org/">
                            <span class="inline-block flex_auto p-l_3">JACC Journal</span>
                            <i class="float_right flex_shrink fas p-r_3 c_white fa-external-link-square "></i>
                        </a>
                    </li>
                    <li class="c_white br_solid br_0 br-t_1  br_white-5">
                        <a target="_blank"
                            class="h:bg_black-2  h:c_white c_white p-x_2 p_3 justify_between flex flex_row "
                            href="http://www.ncdr.com">
                            <span class="inline-block flex_auto p-l_3">NCDR</span>
                            <i class="float_right flex_shrink fas p-r_3 c_white h:c_white fa-external-link-square "></i>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /ACC Product Links -->
        </div>
    </div>
    <!-- subfooter -->
    <div id="subfooter" class="bg_primary font_n1 p-x_4 p-y_4">
        <ul class="block footer-bottom-links ul_none">
            <li class="inline p_2"><a href="//www.acc.org/footer-pages/media-center" class="c_white-6 h:c_white">Media
                    Center</a></li>
            <li class="inline p_2"><a href="//www.acc.org/footer-pages/quick-start-guide"
                    class="c_white-6 h:c_white">ACC.org Quick Start Guide</a></li>
            <li class="inline p_2"><a class="c_white-6 h:c_white"
                    href="//www.acc.org/footer-pages/advertising-and-sponsorship-policy">Advertising &
                    Sponsorship Policy</a></li>
            <li class="inline p_2"><a class="c_white-6 h:c_white"
                    href="//www.acc.org/footer-pages/clinical-content-disclaimer">Clinical Content Disclaimer</a>
            </li>
            <li class="inline p_2"><a class="c_white-6 h:c_white"
                    href="//www.acc.org/footer-pages/editorial-board">Editorial Board</a></li>
            <li class="inline p_2"><a class="c_white-6 h:c_white"
                    href="//www.acc.org/footer-pages/privacy-policy">Privacy Policy</a></li>
            <li class="inline p_2"><a class="c_white-6 h:c_white"
                    href="//www.acc.org/footer-pages/registered-user-agreement">Registered User Agreement</a></li>
            <li class="inline p_2"><a class="c_white-6 h:c_white"
                    href="//www.acc.org/footer-pages/terms-and-conditions">Terms of Service</a></li>
            <li class="inline p_2"><a class="c_white-6 h:c_white" href="//www.acc.org/footer-pages/cookie-policy">Cookie
                    Policy</a></li>
            <li class="inline p_2"><a class="c_white-6 h:c_white"
                    href="//www.acc.org/footer-pages/member-hub-terms-of-use">Member Hub Terms of Use</a></li>
            <li class="inline p_2"><a class="c_white-6 h:c_white" href="//www.acc.org/sitemap-acc.xml">Site Map</a>
            </li>
        </ul>
        <!-- /footer-bottom-links -->
    </div>
    <!-- /subfooter -->
    <div class="texture_light bg_black-3 p_4">
        <cite class="c_black-5 font_italic font_bold font_n2 p_2 lh_2">© 2015 American College of Cardiology</cite>
    </div>
</div>