<div id="footer-wrap">
    <!-- ********************************** breadcrumbs ********************************** -->
    <div id="breadcrumbs" class="breadcrumbs-container">
        <b class="breadcrumbs-title">YOU ARE HERE: </b>
        <a href="{{ '/' | append: site.github.build_revision | relative_url }}">Home</a> &gt; Latest in Cardiology
    </div>
    <!-- This is the inner footer that we cache -->
    <div id="footer" role="contentinfo">
        <div class="column">
            <h2>
                <a href="https://www.acc.org/Guidelines" target="_parent" title="Guidelines">Guidelines</a>
            </h2>
            <h2>
                <a href="https://www.acc.org/JACC-Journals">JACC Journals on ACC.org</a>
            </h2>
            <ul>
                <li><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=Journal of the American College of Cardiology">JACC</a></li>
                <li><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=JACC: Asia" title="JACC Asia">JACC: Asia</a></li>
                <li><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=JACC: Basic to Translational Science">JACC: Basic to Translational Science</a></li>
                <li><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=JACC: CardioOncology">JACC: CardioOncology</a></li>
                <li><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=JACC: Cardiovascular Imaging" target="_parent" title="JACC: Cardiovascular Imaging">JACC: Cardiovascular Imaging </a></li>
                <li><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=JACC: Cardiovascular Interventions" target="_parent" title="JACC: Cardiovascular Interventions">JACC: Cardiovascular Interventions </a></li>
                <li><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=JACC: Case Reports">JACC: Case Reports</a></li>
                <li><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=JACC: Clinical Electrophysiology">JACC: Clinical Electrophysiology</a></li>
                <li><a href="https://www.acc.org/jacc-journals?w_nav=FN#journal=JACC: Heart Failure" target="_parent" title="JACC Heart Failure">JACC: Heart Failure</a></li>
            </ul>
            <h2>
                <a href="https://www.acc.org/Membership" target="_parent" title="Membership ">Membership </a>
            </h2>
            <ul>
                <li><a href="https://www.acc.org/Membership/Current-Members">Current Members</a></li>
                <li><a href="https://www.acc.org/About-ACC/Campaign-Future">Campaign for the Future</a></li>
                <li><a href="https://www.acc.org/membership/join-us">Become a Member</a></li>
                <li><a href="https://www.acc.org/Membership/Renew-Your-Membership">Renew Your Membership</a></li>
                <li><a href="https://www.acc.org/membership/join-us/benefits">Member Benefits and Resources</a></li>
                <li><a href="https://www.acc.org/Membership/Sections-and-Councils">Member Sections</a></li>
                <li><a href="https://www.acc.org/Membership/Chapters">Chapters</a></li>
                <li><a href="https://www.acc.org/Membership/Member-Directory" title="ACC Member Directory">ACC Member Directory</a></li>
            </ul>
            <h2>
                <a href="https://www.acc.org/About-ACC" title="About ACC">About ACC</a>
            </h2>
            <ul>
                <li><a href="https://www.acc.org/About-ACC/Innovation">ACC Innovation Program</a></li>
                <li><a href="https://www.acc.org/About-ACC/Our-Strategic-Direction">Our Strategic Direction</a></li>
                <li><a href="https://www.acc.org/About-ACC/Diversity-and-Inclusion">Diversity and Inclusion</a></li>
                <li><a href="https://www.acc.org/About-ACC/Our-History" target="_parent" title="Our History ">Our History </a></li>
                <li><a href="https://www.acc.org/About-ACC/Our-Bylaws-and-Code-of-Ethics">Our Bylaws and Code of Ethics</a></li>
                <li><a href="https://www.acc.org/About-ACC/Leadership">Leadership and Governance</a></li>
                <li><a href="https://www.acc.org/About-ACC/Industry-Relations">Industry Relations</a></li>
                <li><a href="https://www.acc.org/About-ACC/Support-the-ACC">Support the ACC</a></li>
                <li><a href="https://www.acc.org/About-ACC/Jobs-at-the-ACC">Jobs at the ACC</a></li>
                <li><a href="https://www.acc.org/About-ACC/Press-Releases">Press Releases</a></li>
                <li><a href="https://www.acc.org/About-ACC/Social-Media">Social Media</a></li>
                <li><a href="https://www.acc.org/About-ACC/Book-Our-Conference-Center">Book Our Conference Center</a></li>
            </ul>
        </div>
        <div class="column">
            <h2>
                <a href="https://www.acc.org/Clinical-Topics">Clinical Topics</a>
            </h2>
            <ul>
                <li><a href="https://www.acc.org/Clinical-Topics/Acute-Coronary-Syndromes">Acute Coronary Syndromes</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Anticoagulation-Management">Anticoagulation Management</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Arrhythmias-and-Clinical-EP">Arrhythmias and Clinical EP</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Cardiac-Surgery">Cardiac Surgery</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Cardio-Oncology">Cardio-Oncology</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Stable-Ischemic-Heart-Disease/Chronic-Angina">Chronic Angina</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Congenital-Heart-Disease-Pediatric-Cardiology">Congenital Heart Disease and &nbsp; &nbsp;&nbsp;Pediatric Cardiology</a></li>
                <li><a href="https://www.acc.org/Latest-in-Cardiology/Features/ACCs-Coronavirus-Disease-2019-COVID-19-Hub">COVID-19 Hub</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Diabetes-and-Cardiometabolic-Disease">Diabetes and Cardiometabolic &nbsp;&nbsp;&nbsp; Disease</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Dyslipidemia">Dyslipidemia</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Geriatric-Cardiology">Geriatric Cardiology</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Heart-Failure-and-Cardiomyopathies">Heart Failure and Cardiomyopathies</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Dyslipidemia/Hypertriglyceridemia">Hypertriglyceridemia</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Invasive-Cardiovascular-Angiography-and-Intervention">Invasive Cardiovascular Angiography &nbsp; &nbsp;and Intervention</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Noninvasive-Imaging">Noninvasive Imaging</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Pericardial-Disease">Pericardial Disease</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Prevention">Prevention</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Pulmonary-Hypertension-and-Venous-Thromboembolism">Pulmonary Hypertension and Venous &nbsp; &nbsp; Thromboembolism</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Sports-and-Exercise-Cardiology">Sports and Exercise Cardiology</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Stable-Ischemic-Heart-Disease">Stable Ischemic Heart Disease</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Valvular-Heart-Disease">Valvular Heart Disease</a></li>
                <li><a href="https://www.acc.org/Clinical-Topics/Vascular-Medicine">Vascular Medicine</a></li>
            </ul>
        </div>
        <div class="column">
            <h2>
                <a href="https://www.acc.org/Latest-in-Cardiology">Latest in Cardiology</a>
            </h2>
            <ul>
                <li><a href="https://www.acc.org/Latest-in-Cardiology#theme=Clinical Updates and Discoveries">Clinical Updates &amp; Discoveries</a></li>
                <li><a href="https://www.acc.org/Latest-in-Cardiology#theme=Advocacy and Policy">Advocacy &amp; Policy</a></li>
                <li><a href="https://www.acc.org/Latest-in-Cardiology#theme=Perspectives and Analysis">Perspectives &amp; Analysis</a></li>
                <li><a href="https://www.acc.org/Latest-in-Cardiology#theme=Meeting Coverage">Meeting Coverage</a></li>
                <li><a href="https://www.acc.org/Membership/Join-Us/Benefits/ACC-Member-Publications">ACC Member Publications</a></li>
                <li><a href="https://www.acc.org/Latest-in-Cardiology/Features/podcasts">ACC Podcasts</a></li>
            </ul>
            <h2>
                <a href="https://www.acc.org/Education-and-Meetings">Education and Meetings</a>
            </h2>
            <ul>
                <li><a href="https://www.acc.org">Online Learning Catalog</a></li>
                <li><a href="https://www.acc.org/Education-and-Meetings/Maintenance-of-Certification-Information-Hub">Understanding MOC</a></li>
                <li><a href="https://www.acc.org/Education-and-Meetings/Products-and-Resources">Products and Resources</a></li>
                <li><a href="https://www.acc.org/Education-and-Meetings/Image-and-Slide-Gallery">Image and Slide Gallery</a></li>
                <li><a href="https://www.acc.org/Education-and-Meetings/Meetings">Meetings</a></li>
                <li><a href="https://accscientificsession.acc.org/" class="new-window-icon" target="_blank">Annual Scientific Session</a></li>
            </ul>
            <h2>
                <a href="https://www.acc.org/Tools-and-Practice-Support">Tools and Practice Support</a>
            </h2>
            <ul>
                <li><a href="http://cvquality.acc.org/" class="new-window-icon">Quality Improvement for Institutions</a></li>
                <li><a href="https://www.ncdr.com/webncdr/" class="new-window-icon" target="_blank">NCDR</a></li>
                <li><a href="https://www.cardiosmart.org/" class="new-window-icon" target="_blank">CardioSmart</a></li>
                <li><a href="https://cvquality.acc.org/Accreditation" class="new-window-icon" target="_blank">Accreditation Services</a></li>
                <li><a href="https://www.acc.org/Tools-and-Practice-Support/Clinical-Toolkits">Clinical Toolkits</a></li>
                <li><a href="https://www.acc.org/Features/2019/07/clinican-well-being-portal" title="Clinician Well-Being Portal">Clinician Well-Being Portal</a></li>
                <li><a href="https://www.acc.org/About-ACC/Diversity-and-Inclusion">Diversity and Inclusion</a></li>
                <li><a href="https://www.acc.org/Tools-and-Practice-Support/Mobile-Resources">Mobile and Web Apps</a></li>
                <li><a href="https://www.acc.org/Tools-and-Practice-Support/Advocacy-at-the-ACC" target="_parent">Advocacy at the ACC</a></li>
                <li><a href="http://www.healthecareers.com/acc" class="new-window-icon" target="_blank">Cardiology Careers</a></li>
                <li><a href="https://www.acc.org/Tools-and-Practice-Support/Practice-Solutions">Practice Solutions</a></li>
                <li><a href="https://www.acc.org/Tools-and-Practice-Support/Quality-Programs">Quality Programs</a></li>
            </ul>
        </div>
        <!-- column 4 -->
        <div class="column">
            <ul class="acc-social" style="white-space: nowrap; display: flex;">
                <li><a href="https://www.youtube.com/user/ACCinTouch" target="_blank"><i class="fab fa-2x fa-youtube"></i></a></li>
                <li><a href="https://www.linkedin.com/company/american-college-of-cardiology/" target="_blank"><i class="fab fa-2x fa-linkedin"></i></a></li>
                <li><a href="https://www.facebook.com/AmericanCollegeofCardiology" target="_blank"><i class="fab fa-2x fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/accintouch" target="_blank"><i class="fab fa-2x fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/americancollegeofcardiology/" target="_blank">
                        <i class="fab fa-2x fa-instagram"></i>
                    </a></li>
            </ul>
            <ul class="acc-properties">
                <li><a href="https://www.jacc.org/" class="new-window-icon" target="_blank">JACC</a></li>
                <li><a href="http://cvquality.acc.org/" class="new-window-icon" target="_blank">Quality Improvement for Institutions</a></li>
                <li><a href="http://cvquality.acc.org/NCDR-Home" class="new-window-icon" target="_blank">NCDR</a></li>
                <li><a href="https://www.cardiosmart.org/For-Clinicians" class="new-window-icon" target="_blank">CardioSmart</a></li>
                <li><a href="https://www.medaxiom.com/" class="new-window-icon" target="_blank">MedAxiom</a></li>
                <li><a href="https://cvquality.acc.org/accreditation" class="new-window-icon" target="_blank">Accreditation Services </a></li>
                <li><a href="/About-ACC/Contact-Us">Contact Us</a></li>
            </ul>
            <address>
                <!-- http://microformats.org/wiki/hcard -->
                <h4 class="m-b_0 font_bold font_copy font_normal font_1 m-t_4:md">Heart House</h4>
                <div class="font_ui font_0">
                    <ul class="ul_none lh_2">
                        <li class="m-b_1 m-b_3:md font_normal">
                            <span class="street-address">2400 N. St. NW</span>
                        </li>
                        <li class="m-b_1 m-b_3:md font_normal">
                            <span class="locality ">Washington</span>, <span class="city-name ">
                                <abbr title="District of Colombia">DC</abbr>
                            </span>
                            <span class="postal-code">20037</span>
                        </li>
                        <li class="m-b_1 m-b_3:md font_normal">
                            <a href="mailto:MemberCare@acc.org" class="email c_white text_underline  h:c_white ">
                                <strong class="p-r_2 inline block:md inline:lg">Email:</strong>
                                <span class="inline block:md inline:lg">MemberCare@acc.org</span></a>
                        </li>
                    </ul>
                    <ul class="ul_none lh_2">
                        <li class="m-b_1 m-b_3:md font_normal">
                            <a tel="+12023756000" href="tel:+12023756000" class="tel c_white h:c_white h:underline">
                                <strong class="p-r_2 block:md inline:lg">Phone:</strong><span class=" block:md inline:lg">(202) 375-6000, ext. 5603</span></a>
                        </li>
                        <li class="m-b_1 m-b_3:md font_normal">
                            <a tel="+18002574737" href="tel:+18002534636.5603" class="tel c_white h:c_white h:underline">
                                <strong class="p-r_2 block:md inline:lg">Toll Free:</strong><span class=" block:md inline:lg">(800) 253-4636, ext. 5603</span></a>
                        </li>
                        <li class="m-b_1 m-b_3:md font_normal">
                            <a fax="+12023757000" href="fax:+12023757000" class="fax c_white h:c_white h:underline">
                                <strong class="p-r_2 block:md inline:lg">Fax:</strong>
                                <span class="block:md inline:lg">(202) 375-7000</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </address>
            <p id="logo-footer">
                <a href="{{ '/' | append: site.github.build_revision | relative_url }}">
                    <img src="https://www.acc.org/-/media/Images/Logos/UPDATED-OCT-3-2014/ACC-Footer.svg" width="142" height="45" alt="ACC Logo Footer">
                </a>
            </p>
        </div>
    </div><!-- / footer -->
    <div id="subfooter">
        <ul class="footer-bottom-links">
            <li><a href="https://www.acc.org/Footer-Pages/Media-Center">Media Center</a></li>
            <li><a href="https://www.acc.org/Footer-Pages/Quick-Start-Guide">ACC.org Quick Start Guide</a></li>
            <li><a href="https://www.acc.org/Footer-Pages/Advertising-and-Sponsorship-Policy">Advertising &amp; Sponsorship Policy</a></li>
            <li><a href="https://www.acc.org/Footer-Pages/Clinical-Content-Disclaimer">Clinical Content Disclaimer</a></li>
            <li><a href="https://www.acc.org/Footer-Pages/Editorial-Board">Editorial Board</a></li>
            <li><a href="https://www.acc.org/Footer-Pages/Privacy-Policy">Privacy Policy</a></li>
            <li><a href="https://www.acc.org/Footer-Pages/Registered-User-Agreement">Registered User Agreement</a></li>
            <li><a href="https://www.acc.org/Footer-Pages/Terms-and-Conditions">Terms of Service</a></li>
            <li><a href="https://www.acc.org/Footer-Pages/Cookie-Policy">Cookie Policy</a></li>
            <li><a href="https://www.acc.org/Footer-Pages/Member-Hub-Terms-of-Use">Member Hub Terms of Use</a></li>
            <li><a href="https://www.acc.org/sitemap-acc.xml">Site Map</a></li>
        </ul><!-- /footer-bottom-links -->
        <p class="legal">© 2021 American College of Cardiology Foundation. All rights reserved.</p>
    </div><!-- /subfooter -->
</div>