<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - Legacy</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-9ZfPnbegQSumzaE7mks2IYgHoayLtuto3AS6ieArECeaR8nCfliJVuLh/GaQ1gyM" crossorigin="anonymous">
 <link rel="stylesheet" href="https://www.acc.org/StyleSheets/bootstrap.css">
 <link rel="stylesheet" href="https://www.acc.org/Content/ACCLibrary?v=PEYNXvu3-M7b2l5_ZSOZz_88AQWzuK4zAtxkNawq05g1">  
 {% include google-fonts.html %}

</head>
