<article class="bg_white br_1 br_black-1 br_radius br_solid flex flex_grow shadow_overlap-light w_30:lg w_100 w_45:md max-w_100">
    <div class="flex flex_row font_ui justify_start relative w_100">
        <main class="flex flex_column flex_auto justify_between flex_auto p-x_4  p-y_3 p-y_3:lg relative w_100">
            <h2 class="font-size_up-1 font_display lh_2 c_primary h:underline c_primary-n3 m-t_2">
                <a class="c_inherit-all "> Cardiovascular Update for the Clinician III</a>
            </h2>
            <ul class="ul_none flex flex_row justify_start font-size_down-2 gap-x_4 c_black-6  m-t_auto lh_0">
                <li><span class="font-size_up c_primary"><i class="fas fa-clock"></i> 15</span> minutes</li>
                <li><span class="font-size_up c_primary">4</span> presentations</li>
                <li><a href="" class="link flex_auto underline"><span class="font-size_up c_primary"><i class="far fa-paperclip"></i></span> Attachments</a></li>
            </ul>
        </main>
        <aside class="flex_none p-x_3 p-b_3">
            <ul class="b_3 flex flex_column flex_wrap font_n3 gap_2 justify_end:md justify_start r_4 self_center ul_none uppercase p-x_3 m-t_n2">
                <li class="flex_auto p-b_3 m-b_auto bookmark-shadow">
                    <a href="" class="[active] a:bg_alert-n2 bg_secondary-3 br-tl_square br-tr_square br_solid br_1 br_black-2 btn c_black-6 flex_none font_0 h:bg_alert-n4 h:c_white p-b_2 p_3 bookmark-clipping-path ">
                        <i class="fas fa-heart"></i>
                    </a>
                </li>
                <li class="inline-block lh_0">
                    <span class="bg_CME br_1 br_black-3 br_round c_white br_solid inline-block p-y_1 p_2">cme </span> </li>
                <li class="inline-block lh_0">
                    <span class="bg_CNE br_1 br_black-3 br_round c_white br_solid inline-block p-y_1 p_2">cne</span>  </li>
                <li class="inline-block lh_0">
                    <span class="bg_COP br_1 br_black-3 br_round c_white br_solid inline-block p-y_1 p_2"> cop</span> </li>
            </ul>
        </aside>
    </div>
</article>   