<li data-name='library-search-facet'  class="bg_white-8 br_radius m-t_3 p_3">
    <header class="flex font-size_up">
        <div class="flex_auto  self_center p-l_0 lh_1 font-size_up font_medium">Drugs Generic </div>
        <div class="flex_none self_center  c_primary-n2 h:c_primary-n3 toggle opacity_5 h:opacity lh_1 font-size_down t_n2 r_n2 text_right m-l_auto user-select_none"> collapse <i class="fa p_3 transition_3 fa-plus rotate-135"></i></div>
    </header>
    <main data-v-a058e742="" class="p_1">
        <ul class="p-y_3 ul_none br-t_1 br-b_1 br_primary-3 transition_3 br_solid">
            <li class="m-y_2">
                <div  class="input flex user-select_none relative h:bg_black-1 br_radius">
                    <div  class="flex_none p-l_3 p-r_3 self_center"><input  type="checkbox" name="check1" id="check1" class="font-size_up"></div>
                    <div  class="flex_auto self_center p-l_2"><label  for="check1" class="font-size_up lh_2"><span  class="font_regular p-y_2 inline-block p-y_1:md"> gemifloxacin mesylate <small  class="flex_auto p-l_2 font_light c_accent font-size_down-1">71</small></span></label></div>
                    <!---->
                </div>
            </li>
            <li class="m-y_2">
                <div  class="input flex user-select_none relative h:bg_black-1 br_radius">
                    <div  class="flex_none p-l_3 p-r_3 self_center"><input  type="checkbox" name="check2" id="check2" class="font-size_up"></div>
                    <div  class="flex_auto self_center p-l_2"><label  for="check2" class="font-size_up lh_2"><span  class="font_regular p-y_2 inline-block p-y_1:md"> Warfarin Sodium <small  class="flex_auto p-l_2 font_light c_accent font-size_down-1">99</small></span></label></div>
                    <!---->
                </div>
            </li>
            <li class="m-y_2">
                <div  class="input flex user-select_none relative h:bg_black-1 br_radius">
                    <div  class="flex_none p-l_3 p-r_3 self_center"><input  type="checkbox" name="check3" id="check3" class="font-size_up"></div>
                    <div  class="flex_auto self_center p-l_2"><label  for="check3" class="font-size_up lh_2"><span  class="font_regular p-y_2 inline-block p-y_1:md"> Enoxaparin Sodium <small  class="flex_auto p-l_2 font_light c_accent font-size_down-1">55</small></span></label></div>
                    <!---->
                </div>
            </li>
            <li class="m-y_2">
                <div  class="input flex user-select_none relative h:bg_black-1 br_radius">
                    <div  class="flex_none p-l_3 p-r_3 self_center"><input  type="checkbox" name="check4" id="check4" class="font-size_up"></div>
                    <div  class="flex_auto self_center p-l_2"><label  for="check4" class="font-size_up lh_2"><span  class="font_regular p-y_2 inline-block p-y_1:md"> oxycodone hydrochloride <small  class="flex_auto p-l_2 font_light c_accent font-size_down-1">91</small></span></label></div>
                    <!---->
                </div>
            </li>
            <li class="m-y_2">
                <div  class="input flex user-select_none relative h:bg_black-1 br_radius">
                    <div  class="flex_none p-l_3 p-r_3 self_center"><input  type="checkbox" name="check5" id="check5" class="font-size_up"></div>
                    <div  class="flex_auto self_center p-l_2"><label  for="check5" class="font-size_up lh_2"><span  class="font_regular p-y_2 inline-block p-y_1:md"> Desmopressin Acetate <small  class="flex_auto p-l_2 font_light c_accent font-size_down-1">98</small></span></label></div>
                    <!---->
                </div>
            </li>
            <li class="m-y_2">
                <div  class="input flex user-select_none relative h:bg_black-1 br_radius">
                    <div  class="flex_none p-l_3 p-r_3 self_center"><input  type="checkbox" name="check6" id="check6" class="font-size_up"></div>
                    <div  class="flex_auto self_center p-l_2"><label  for="check6" class="font-size_up lh_2"><span  class="font_regular p-y_2 inline-block p-y_1:md"> Clemastine fumarate <small  class="flex_auto p-l_2 font_light c_accent font-size_down-1">38</small></span></label></div>
                    <!---->
                </div>
            </li>
            <li class="m-y_2">
                <div  class="input flex user-select_none relative h:bg_black-1 br_radius">
                    <div  class="flex_none p-l_3 p-r_3 self_center"><input  type="checkbox" name="check7" id="check7" class="font-size_up"></div>
                    <div  class="flex_auto self_center p-l_2"><label  for="check7" class="font-size_up lh_2"><span  class="font_regular p-y_2 inline-block p-y_1:md"> cocoa butter, phenylephrine hcl <small  class="flex_auto p-l_2 font_light c_accent font-size_down-1">26</small></span></label></div>
                    <!---->
                </div>
            </li>
            <li class="m-y_2">
                <div  class="input flex user-select_none relative h:bg_black-1 br_radius">
                    <div  class="flex_none p-l_3 p-r_3 self_center"><input  type="checkbox" name="check8" id="check8" class="font-size_up"></div>
                    <div  class="flex_auto self_center p-l_2"><label  for="check8" class="font-size_up lh_2"><span  class="font_regular p-y_2 inline-block p-y_1:md"> liothyronine sodium, LEVOTHYROXINE SODIUM <small  class="flex_auto p-l_2 font_light c_accent font-size_down-1">90</small></span></label></div>
                    <!---->
                </div>
            </li>
            <li class="m-y_2">
                <div  class="input flex user-select_none relative h:bg_black-1 br_radius">
                    <div  class="flex_none p-l_3 p-r_3 self_center"><input  type="checkbox" name="check9" id="check9" class="font-size_up"></div>
                    <div  class="flex_auto self_center p-l_2"><label  for="check9" class="font-size_up lh_2"><span  class="font_regular p-y_2 inline-block p-y_1:md"> risperidone <small  class="flex_auto p-l_2 font_light c_accent font-size_down-1">39</small></span></label></div>
                    <!---->
                </div>
            </li>
            <li class="m-y_2">
                <div  class="input flex user-select_none relative h:bg_black-1 br_radius">
                    <div  class="flex_none p-l_3 p-r_3 self_center"><input  type="checkbox" name="check10" id="check10" class="font-size_up"></div>
                    <div  class="flex_auto self_center p-l_2"><label  for="check10" class="font-size_up lh_2"><span  class="font_regular p-y_2 inline-block p-y_1:md"> TRICLOSAN <small  class="flex_auto p-l_2 font_light c_accent font-size_down-1">58</small></span></label></div>
                    <!---->
                </div>
            </li>
        </ul>
    </main>
    <footer class="text_center font-size_down c_primary-n1 p-t_3"><span class="cursor_not-allowed c_black-3">less</span><span class="c_primary"> | </span><span class="link h:underline h:black link h:underline h:black cursor_pointer">more</span></footer>
</li>
