<div>
    <article class="bg_white br_1 br_black-1 br_radius br_solid flex flex_grow shadow_overlap-light font_0 w_100">
        <div class="flex flex_row font_ui justify_start relative w_100">
            <main class="flex flex_column flex_auto justify_between flex_auto p-x_4  p-y_3 p-y_3:lg relative w_100 isolation_isolate">
                <h2 class="font-size_up-1 font_display lh_2 c_primary h:underline c_primary-n3 m-t_2">
                    <a class="c_inherit-all expanded-click-area z_1"> Session III: Chronic Coronary Disease, Stroke and Pulmonary Embolism</a>
                </h2>
                <ul class="ul_none flex flex_row flex_wrap justify_start font-size_down-1 c_black-7  m-t_auto lh_0 items_end">
                    <li class="inline-block p-r_3 p_2"><span class="font-size_up c_primary-n2 block"><i class="fal fa-clock"></i> 15</span> minutes</li>
                    <li class="inline-block p-r_3 p_2"><span class="font-size_up c_primary-n2 z_2 block">4</span> presentations</li>
                    <li class="inline-block br_round p-x_3 m-l_n3 p_2 z_3 h:bg_black-2 br_radius self_end"><a href="" class="link flex_auto underline h:undecorated "><span class="c_primary-n2"><i class="fal fa-paperclip"></i></span> Attachments</a></li>
                </ul>
            </main>
            <aside class="flex_none p-x_3 p-b_3">
                <ul class="b_3 flex flex_column flex_wrap font_n3 gap_2 justify_end:md justify_start r_4 self_center ul_none uppercase p-x_3 m-t_n2">
                    <li class="flex_auto p-b_3 m-b_auto bookmark-shadow">
                        <a href="" class="[active] a:bg_alert-n2 bg_secondary-3 br-tl_square br-tr_square br_solid br_1 br_black-2 btn c_black-6 flex_none font_0 h:bg_alert-n4 h:c_white p-b_2 p_3 bookmark-clipping-path ">
                            <i class="fas fa-heart"></i>
                        </a>
                    </li>
                    <li class="lh_0">
                        <span class="bg_CME br_1 br_black-3 br_round c_white br_solid p-y_1 p_2 block text_center">cme </span> </li>
                    <li class="lh_0">
                        <span class="bg_CNE br_1 br_black-3 br_round c_white br_solid p-y_1 p_2 block text_center">cne</span>  </li>
                        <li class="lh_0">
                            <span class="bg_COP br_1 br_black-3 br_round c_white br_solid p-y_1 p_2 block text_center"> cop</span> </li>
                            <li class="lh_0">
                                <span class="bg_ECME br_1 br_black-3 br_round c_white br_solid p-y_1 p_2 block text_center"> ecme</span> </li>
                </ul>
            </aside>
        </div>
    </article>   
</div>
