<li class="m-b_4">
    <article class="flex flex_grow flex_column font_0 w_100 p-x_4 br-t_1 br_solid br_black-3">
        <div class="flex flex_row font_ui justify_start relative w_100 gap_3">
            <main class="flex flex_column flex_auto justify_between flex_auto relative w_100 isolation_isolate p-y_3 p-y_4:lg p-r_4:lg">
                <div class="font_display m-b_3 lh_2 c_primary-n2">
                    <span class="block c_black-6 uppercase font_bold font-size_down"> Session I: Evolving New Frontiers of Imaging Ready for Practice</span>
                    <span class="block font-size_up-1 font_display lh_1">New York Cardiovascular Symposium 2021 Welcome Video and Introduction of session and Faculty by Dr. Itchhaporia </span>
                    <span class="block c_black font-size_down-1 font_ui lh_3 opacity_7">Dipti Itchhaporia, MD, FACC (Chair)</span>
                </div>
                <ul class="ul_none flex flex_row justify_start font-size_down-1 c_black-7  m-t_auto lh_0">
                    <li class="p-x_3 p_2"><span class="font-size_up-1 c_primary block:lg"><i class="fas fa-clock"></i> 15</span> minutes</li>
                    <li class="br_radius h:bg_black-2 h:c_white-9 p-x_3 p_2 z_3"><a href="" class="link flex_auto underline h:undecorated"><span class="font-size_up-1 c_primary block:lg"><i class="far fa-paperclip"></i></span> Attachments</a></li>
                </ul>
            </main>
            <aside class="flex_none p-x_3:md p-b_3">
                <ul class="b_3 flex flex_column flex_wrap font_n3 gap_2 justify_end:md justify_start r_4 self_center ul_none uppercase p-x_3 m-t_n2">
                    <li class="flex_auto p-b_3 m-b_auto bookmark-shadow">
                        <a href="" class="[active] a:bg_alert-n2 bg_secondary-3 br-tl_square br-tr_square br_solid br_1 br_black-2 btn c_black-6 flex_none font_0 h:bg_alert-n4 h:c_white p-b_2 p_3 bookmark-clipping-path ">
                            <i class="fas fa-heart"></i>
                        </a>
                    </li>
                    <li class="lh_0">
                        <span class="bg_CME br_1 br_black-3 br_round c_white br_solid p-y_1 p_2 block text_center">cme </span> </li>
                        <li class="lh_0">
                            <span class="bg_CNE br_1 br_black-3 br_round c_white br_solid p-y_1 p_2 block text_center">cne</span>  </li>
                </ul>
            </aside>
        </div>
        <aside class="bg_black-2 p-x_4 p-y_3 br_radius flex flex_row texture_dust">
            <i class="fa fa-play p-x_3 c_priamry"></i>
            <div class="progress w_100 self_center br_black-2 br_solid bg_black-4 br_1 br_round h_0lh font_n4">
                <div class="progress-bar bg_accent" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemax="100"></div>
              </div>
        </aside>  
    </article> 
</li>
