<li data-name='library-search-facet'  class="bg_white-8 br_radius m-t_3 p_3">
    <header class="flex font-size_up">
        <div class="flex_auto  self_center p-l_0 lh_1 font-size_up font_medium">Faculty </div>
        <a class="flex_none self_center  c_primary-n2 h:c_primary-n3 toggle opacity_5 h:opacity lh_1 font-size_down t_n2 r_n2 text_right m-l_auto user-select_none h:undecorated undecorated"  data-bs-toggle="collapse" href="#collapseFaculty" role="button" aria-expanded="false" aria-controls="collapseFaculty"> collapse <i class="fa p_3 transition_3 fa-plus rotate-135"></i></a>
    </header>
    <main  id="collapseFaculty" class="p_1 collapse show">
        <div class="p_3 flex flex_role"><input class="br-tr_square br-br_square"  type="text" name="" id="" placeholder="refine by faculty name"><button class="btn btn-secondary br-tl_square br-bl_square"><i class="fas fa-users"></i></button></div>
    </main>
</li>
