<aside class="flex_none">
    <h4 class="font-size_up c_black-6 font_medium"><i class="fas fa-file-certificate p-r_3"></i> credits</h4>
    <div class="p-y_3 br-t_1  br_black-2 br_solid font-size_down-1">
        <ul class="b_3 flex flex_row flex_wrap font_n3 gap_2self_center ul_none uppercase p-x_3 gap-x_3">
            <li class="lh_0">
                <span class="bg_CME br_1 br_black-3 br_round c_white br_solid p-y_1 p_2 block text_center">cme </span> </li>
            <li class="lh_0">
                <span class="bg_CNE br_1 br_black-3 br_round c_white br_solid p-y_1 p_2 block text_center">cne</span>  </li>
                <li class="lh_0">
                    <span class="bg_COP br_1 br_black-3 br_round c_white br_solid p-y_1 p_2 block text_center"> cop</span> </li>
                    <li class="lh_0">
                        <span class="bg_ECME br_1 br_black-3 br_round c_white br_solid p-y_1 p_2 block text_center"> ecme</span> </li>
        </ul>
    </div>
    <h4 class="font-size_up  c_black-6 font_medium"><i class="fas fa-tag p-r_3"></i>categories</h4>
    <div class="br-t_1  br_black-2 br_solid p-y_3 c_black-7 font-size_down">
        <ul class="ul_inline-comma">
            <li>Channel 1</li>
            <li>Navigating Health Care Economics</li>
        </ul>
    </div>
    <h4 class="font-size_up  c_black-6 font_medium"><i class="fas fa-tags p-r_3"></i>tags</h4>
    <div class="br-t_1  br_black-2 br_solid p-y_3 c_black-7 font-size_down">
        <ul class="ul_inline-comma">
            <li>Tag Name 1</li>
            <li>Daugherty - Larkin</li>
            <li>relationships</li>
            <li>web-readiness</li>
        </ul>
    </div>
</aside>