<li class="">
    <article class="flex flex_grow flex_column font_0 w_100 p-x_4 p-y_3 br_1 br_solid br_black-3 bg_white br_radius">
        <div class="flex flex_row font_ui justify_start relative w_100 gap_3">
            <main class="flex flex_column flex_auto justify_between flex_auto relative w_100 isolation_isolate p-y_3 p-y_4:lg p-r_4:lg">
                <div class="font_display m-b_3 lh_2 c_primary-n2">
                    <span class="block c_black-6 uppercase font_bold font-size_down"> Session I: Evolving New Frontiers of Imaging Ready for Practice</span>
                    <span class="block font-size_up-1 font_display lh_1">New York Cardiovascular Symposium 2021 Welcome Video and Introduction of session and Faculty by Dr. Itchhaporia </span>

                </div>
                <div class="c_black-8 font_copy font-size_down">
                    <ul class="ul_inline-semicolon font_regular font_copy">
                        <li class="no-after font_medium c_primary-n1 [modifier]"> Role Type 1:</li>
                        <li>Pepper H. Soda III, MD, FACC <span class="opacity_9 font_light m-l_2">( New York, NY, USA)<span></li>
                        <li class="no-after font_medium c_primary-n1  [modifier]"> Role Type 2:</li>
                        <li>Dianna Denesik III <span class="opacity_9 font_light m-l_2">( New York, NY, USA)<span></li>
                        <li>Miguel Romaguera <span class="opacity_9 font_light m-l_2">( New York, NY, USA)<span></li>
                        <li>Jeanette Franecki <span class="opacity_9 font_light m-l_2">( New York, NY, USA)<span></li>
                      </ul>
                </div>
                <ul class="ul_none flex flex_row justify_start font-size_down-1 c_black-7  m-t_auto lh_0">
                    <li class="p-x_3 p_2"><span class="font-size_up-1 c_primary"><i class="fas fa-clock"></i> 15</span> minutes</li>
                    <li class="br_radius h:bg_black-2 h:c_white-9 p-x_3 p_2 z_3"><a href="" class="link flex_auto underline h:undecorated"><span class="font-size_up-1 c_primary"><i class="far fa-paperclip"></i></span> Attachments</a></li>
                </ul>
            </main>
            <aside class="flex_none p-x_3:md p-b_3">
                <ul class="b_3 flex flex_column flex_wrap font_n3 gap_2 justify_end:md justify_start r_4 self_center ul_none uppercase p-x_3 m-t_n3">
                    <li class="flex_auto p-b_3 m-b_auto bookmark-shadow">
                        <a href="" class="[active] a:bg_alert-n2 bg_secondary-3 br-tl_square br-tr_square br_solid br_1 br_black-2 btn c_black-6 flex_none font_0 h:bg_alert-n4 h:c_white p-b_2 p_3 bookmark-clipping-path ">
                            <i class="fas fa-heart"></i>
                        </a>
                    </li>
                    <li class="lh_0">
                        <span class="bg_CME br_1 br_black-3 br_round c_white br_solid p-y_1 p_2 block text_center">cme </span> </li>
                        <li class="lh_0">
                            <span class="bg_CNE br_1 br_black-3 br_round c_white br_solid p-y_1 p_2 block text_center">cne</span>  </li>
                </ul>
            </aside>
        </div>
        <aside class="bg_black-_05 p-x_4 p-y_3 br_radius flex flex_row flex_wrap texture_light br_solid br_black-1 br_1 m-b_3 font_ui">
            <strong class="p-r_3 block w_100">Search Word Found At These Time Markers</strong>
            <ul class="ul_inline-pipe block">
                <li class="c_primary uppercase font_medium"><a href="" class="link"><i class="fas fa-play c_primary font-size_down-1 self_center"></i> start</a></li>
                <li><a href="" class="link"><i class="fas fa-step-forward c_primary font-size_down-1 self_center"></i>  0:53</a></li>
                <li><a href="" class="link"><i class="fas fa-step-forward c_primary font-size_down-1 self_center"></i>  2:30</a></li>
            </ul>
        </aside>  
    </article> 
</li>
