<div id="Agenda_105" class="agenda_item grid bg_black-3 br_radius m-x_3 m-y_1 p_2 shadow_1 relative" style="grid-column: 2/2; grid-row: 630 / 780;">
    <div class="absolute t_3 r_n4 flex flex_row gap-x_2 justify_end">
        <a class="aspect_1x1 bg_alert br_circle c_white flex flex_none flex_nowrap flex_row gap_3 grid h:bg_alert-n2 h:undecorated inline-block items_center just justify_center p_3 shadow_overlap-light" target="_blank" href="item-sub-credits.html" title="open modal to add attachments">
            <i class="fa-bell fa-fw fas fa-fw fas"></i>
        </a>
    </div>
    <div class="upnext bg_white-3 c_black-7 m_2 m-b_0 br_radius overflow_hidden p_3" style="grid-row: 1 / 20;">
        <h4 class="font_xbold uppercase font-size_down-2 lh_0 m_0"> up next </h4>
    </div>
    <div class="live bg_primary-3 br-tr_radius  br-tl_radius m_2 m-b_0 c_black overflow_hidden" style="grid-row: 20 / 35;">
        <h4 class="font_xbold uppercase font-size_down-2 lh_0 m_0 p_3"> buffer </h4>
    </div>
    <div class="live bg_primary br-br_radius br-bl_radius m_2 m-t_0 c_white overflow_hidden p_3" style="grid-row: 35 / 150;">
        <h4 class="font_xbold uppercase font-size_down-2 lh_0"> Live </h4>
        <h3 class="block font-size_up overflow_ellipsis">
            <span>105</span> Ut ut iusto deserunt adipisci autem. Expedita aut expedita incidunt eum expedita. Modi laborum inventore. Excepturi quis aut excepturi dignissimos accusamus debitis id autem. Quaerat cum quo impedit impedit itaque fugit. In explicabo autem..
        </h3>
    </div>
</div>
<div id="Agenda_111" class="agenda_item grid bg_black-3 br_radius m-x_3 m-y_1 p_2 shadow_1 relative" style="grid-column: 3/3; grid-row: 500 / 650;">
    <div class="upnext bg_white-3 c_black-7 m_2 m-b_0 br_radius overflow_hidden p_3" style="grid-row: 1 / 20;">
        <h4 class="font_xbold uppercase font-size_down-2 lh_0 m_0"> up next </h4>
    </div>
    <div class="live bg_primary-3 br-tr_radius  br-tl_radius m_2 m-b_0 c_black overflow_hidden" style="grid-row: 20 / 35;">
        <h4 class="font_xbold uppercase font-size_down-2 lh_0 m_0 p_3"> buffer </h4>
    </div>
    <div class="live bg_primary br-br_radius br-bl_radius m_2 m-t_0 c_white overflow_hidden p_3" style="grid-row: 35 / 150;">
        <h4 class="font_xbold uppercase font-size_down-2 lh_0"> Live </h4>
        <h3 class="block font-size_up overflow_ellipsis">
            <span>110</span> Delectus quasi natus deserunt ducimus et commodi. Aspernatur omnis qui aut quaerat ab id. Repellat quasi ab repudiandae voluptates et dolorum sunt assumenda.
        </h3>
    </div>
</div>