<form class="flex_auto">
    <div class="m-b_3">
        <label class="m-b_3 w_100 block m-b_3" for="example-input-email">Session ID
            <input class="w_100" type="text" id="example-input-email" name="session_id" disabled value="104">
        </label>
        <span class="font-size_down-2 c_black-6 lh_1">Session ID's are formulated by the Day #, Channel, And Session Sort #</span>
    </div>
    <div class="m-b_3">
        <label class="m-b_3 w_100 block m-b_3" for="example-input-email">Title 
        </label>
        <textarea class="w_100" type="textarea"></textarea>   
    </div>
    <div class="m-b_3">
        <label class="m-b_3 w_100 block m-b_3" for="example-input-email">Session Sort # 
            <input class="w_100" type="number" value="4">   
        </label>
    </div>
    <div class="m-b_3">
        <label class="m-b_3 w_100 block m-b_3" for="example-input-email">Channel
            <select class="w_100" type="number" value="0"> 
                <option value="1">1</option>
                <option value="2">2</option>
            </select>  
        </label>
    </div>
    <div class="m-b_3">
        <label class="m-b_3 w_100 block m-b_3" for="example-input-email">Release Day
            <select class="w_100" type="number" value="0"> 
                <option value="0">Thursday 18, 2022</option>
                <option value="1">Friday 18, 2022</option>
                <option value="2">Saturday 19, 2002 </option>
            </select>  
        </label>
    </div>
    <div class="flex flex_row gap_4">
        <div class="m-b_3">
            <label class="m-b_3 w_100 block m-b_3" for="example-input-email">Start Time 
                <input class="w_100" type="time" value="4">   
            </label>
        </div>
        <div class="m-b_3">
            <label class="m-b_3 w_100 block m-b_3" for="example-input-email">End Time
                <input class="w_100" type="time" value="4">   
            </label>
        </div>
    </div>
    <div class="m-b_3">
        <label class="m-b_3 w_100 block m-b_3" for="example-input-email">Start Time Buffer 
            <select>
                <option value="15">Events Defined Buffer</option>
                <option value="0">On Time</option>
                <option value="5">5 minutes</option>
                <option value="10">10 minutes</option>
                <option value="15">15 minutes</option>
            </select> 
        </label>
    </div>
    <div class="m-b_3">
        <label class="m-b_3 w_100 block m-b_3" for="example-input-email">Attachments
            <input class="w_100" type="file" value="4">   
            <a href="#" class="link font-size_down-2"><i class="fa fa-plus p-r_3"></i> add another attachment</a>
        </label>
    </div>
    <div class="flex flex_row justify_end gap_3">
        <button class="btn btn-secondary">Cancel</button>
        <button class="btn btn-primary">Save</button>
    </div>
</form>