<div id="Agenda_104" class="agenda_item grid bg_black-3 br_radius m-x_3 m-y_1 overflow_hidden p_2 shadow_1 relative" style="grid-column: 2/3; grid-row: 540 / 630;">
    <div class="absolute t_0 r_4 flex flex_row gap-x_2 justify_end">
        <a class=" c_white flex_none bg_alert h:bg_alert-n2 inline-block p_3 shadow_overlap-light flex flex_row flex_nowrap gap_3 h:undecorated" target="_blank" href="item-sub-credits.html" title="open modal to add Faculty">
            <i class="fas fa-times"></i><i class="fa-users fa-fw fas fa-fw fas"></i>
        </a>
        <a class=" c_white flex_none bg_alert h:bg_alert-n2 inline-block p_3 shadow_overlap-light flex flex_row flex_nowrap gap_3 h:undecorated" target="_blank" href="item-sub-credits.html" title="open modal to add attachments">
            <i class="fas fa-times"></i><i class="fa-paperclip fa-fw fas fa-fw fas"></i>
        </a>
</div>                       
    <div class="upnext bg_white-3 c_black-7 m_2 m-b_0 br_radius overflow_hidden p_3" style="grid-row: 1 / 30;">
        <h4 class="font_xbold uppercase font-size_down-2 lh_0 m_0"> up next </h4>
    </div>
    <div class="live bg_primary-3 br-tr_radius  br-tl_radius m_2 m-b_0 c_black overflow_hidden" style="grid-row: 30 / 35;">
        <h4 class="font_xbold uppercase font-size_down-2 lh_0 m_0 p_3"> buffer </h4>
    </div>
    <div class="live bg_primary br-br_radius br-bl_radius m_2 m-t_0 c_white overflow_hidden p_3" style="grid-row: 35 / 90;">
        <h4 class="font_xbold uppercase font-size_down-2 lh_0"> Live </h4>
        <h3 class="block font-size_up overflow_ellipsis">
            <span>104</span> Session Title super long title that goes on for ever and ever and ever and ever.
        </h3>
    </div>
</div>