<form class="flex_auto font_0">

<div>
    <h3 class="c_primary font_dispay font-size_up-1">Session Label</h3>
    <div class="m-b_3">
        <label class="m-b_3 w_100 block m-b_3">Session ID
            <input class="w_100" type="text" id="example-input-email" name="session_id" disabled value="104">
        </label>
        <span class="font-size_down-2 c_black-6 lh_1">Session ID's are formulated by the Day #, Channel, And Session Sort #</span>
    </div>
    <div class="m-b_3">
        <label class="m-b_3 w_100 block m-b_0">Title 
        </label>
        <textarea class="w_100" type="textarea"></textarea>   
    </div>
    <div class="flex flex_row gap_3">
        <div class="m-b_3">
            <label class="m-b_3 w_100 block m-b_3">Session Sort # 
                <input class="w_100" type="number" value="4">   
            </label>
        </div>
        <div class="m-b_3">
            <label class="m-b_3 w_100 block m-b_3">Channel
                <select class="w_100" type="number" value="0"> 
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>  
            </label>
        </div>
        <div class="m-b_3">
            <label class="m-b_3 w_100 block m-b_3">Release Day
                <select class="w_100" type="number" value="0"> 
                    <option value="0">Thursday 18, 2022</option>
                    <option value="1">Friday 18, 2022</option>
                    <option value="2">Saturday 19, 2002 </option>
                </select>  
            </label>
        </div>
    </div>
</div>
<div>
    <h3 class="c_primary font_dispay font-size_up-1 flex flex_row">
        <div class="toggle " data-bs-toggle="collapse" data-bs-target="#SessionData" role="button" aria-expanded="true" aria-controls="">
        <span class="fa-stack font_n1">
        <i class="fas fa-square fa-stack-2x"></i>
        <i class="fas fa-minus fa-stack-1x c_white"></i>
        <i class="fas fa-minus rotate_90 a:rotation fa-stack-1x  c_white"></i>
        </span>
    </div>  Session Timing</h3>
    <div class="flex flex_row gap_4">
        <div class="m-b_3">
            <label class="m-b_3 w_100 block m-b_3">Start Time 
                <input class="w_100" type="time" value="">   
            </label>
        </div>
        <div class="m-b_3">
            <label class="m-b_3 w_100 block m-b_3">End Time
                <input class="w_100" type="time" value="">   
            </label>
        </div>
    </div>
    <div class="flex flex_row gap_4">
        <div class="m-b_3 flex_auto flex_50">
            <label class="m-b_3 w_100 block m-b_3">Start Time Buffer 
                <select>
                    <option value="15">Events Definition</option>
                    <option value="0">On Time</option>
                    <option value="5">5 minutes</option>
                    <option value="10">10 minutes</option>
                    <option value="15">15 minutes</option>
                </select> 
            </label>
        </div>
        <div class="m-b_3 flex_auto flex_50">
            <label class="m-b_3 w_100 block m-b_3">What's Next 
                <select>
                    <option value="15">Events Definition</option>
                    <option value="15">Don't Show</option>
                    <option value="0">From Previous Session</option>
                    <option value="5">15 minutes earlier</option>
                    <option value="5">1 hour earlier</option>
                </select> 
            </label>
        </div>

    </div>
</div>
<h3 class="c_primary font_dispay font-size_up-1 flex flex_row items_center">
    <div class="toggle " data-bs-toggle="collapse" data-bs-target="#SessionData" role="button" aria-expanded="true" aria-controls="">
    <span class="fa-stack font_n1">
    <i class="fas fa-square fa-stack-2x"></i>
    <i class="fas fa-minus fa-stack-1x c_white"></i>
    <i class="fas fa-minus rotate_90 a:rotation fa-stack-1x  c_white"></i>
    </span>
</div> Session Data Links</h3>
<div class="collapse show" id="SessionData">
    <div class="m-b_3">
        <label class="m-b_3 w_100 block m-b_3">Live Link
            <input class="w_100" type="text" value="4549084908-5419813521-16549854">  
            <span class="font-size_down-2 c_black-6 lh_1">PEID, Webex Link, Teams Link, or Youtube</span> 
        </label>
    </div>
    <div class="m-b_3">
        <label class="m-b_3 w_100 block m-b_3">On Demand PIED 
            <input class="w_100" type="text" value="4549084908-5419813521-16549854">   
        </label>
    </div>
    <div class="flex flex_row gap_4">
        <div class="m-b_3 flex_auto flex_50">
            <label class="w_100 block m-b_1" >Live Button 
                <select>
                    <option value="15">Watch</option>
                    <option value="0">Join</option>
                    <option value="5">Listen</option>
                    <option value="10">View</option>
                </select> 
            </label>
            <label for="" class="p-x_3"><input type="checkbox" name="" id=""> Active</label>
        </div>
        <div class="m-b_3 flex_auto flex_50">
            <label class="w_100 block m-b_1" >On Demand Button 
                <div class="flex flex_row">
                    <select>
                        <option value="15">Watch</option>
                        <option value="0">Join</option>
                        <option value="5">Listen</option>
                        <option value="10">View</option>
                    </select> 
                    <select>
                        <option value="10">Select</option>
                        <option value="15">Don't Show</option>
                        <option value="0">Disable</option>
                        <option value="5">Active</option>
                    </select> 
                </div>
            </label>
            <label for="" class="p-x_3"><input type="checkbox" name="" id=""> Active</label>
        </div>
    </div>
    <div class="m-b_3">
        <label class="m-b_3 w_100 block m-b_3" >Attachments
            <input class="w_100" type="file" value="4">   
            <a href="#" class="link font-size_down-2"><i class="fa fa-plus p-r_3"></i> add another attachment</a>
        </label>
    </div>
</div>
  
    <div class="flex flex_row justify_end gap_3">
        <button class="btn btn-secondary">Cancel</button>
        <button class="btn btn-primary">Save</button>
    </div>
</form>