<article class="p_4 bg_primary-n1 shadow_overlap-light br_round br_1 font_1 isolation_isolate br_solid br_black-3 flex_column flex gap_3 m-x_3 z_3" style="grid-column: 2/2; grid-row: 13 / 37;">
    <header class="font_display m-b_3 lh_2 c_white  m_0">
            <strong class="font_bold font-size_down-2 p-r_3 block uppercase c_white-6">3652</strong>
            <span class="block font_display lh_2 font-size_up-1">Cardiovascular Update for the Clinician III</span>
    </header>
    <div class="font-size_down-1 c_white-6"><ul class="ul_inline-semicolon font_regular font_copy">
        <li class="no-after font_medium c_white inline">Session Role Type 1:</li>
        <li>Pepper H. Soda III, MD, FACC <span class="opacity_9 font_light"><span></span></span></li>
        <li class="no-after font_medium c_white  inline">Session Role Type 2:</li>
        <li>Dianna Denesik III <span class="opacity_9 font_light"><span></span></span></li>
        <li>Miguel Romaguera <span class="opacity_9 font_light"><span></span></span></li>
        <li>Jeanette Franecki <span class="opacity_9 font_light"><span></span></span></li>
          <li class="no-after font_medium c_white inline">Role Type 1:</li>
        <li>Pepper H. Soda III, MD, FACC <span class="opacity_9 font_light"><span></span></span></li>
        <li class="no-after font_medium c_white  inline">Role Type 2:</li>
        <li>Dianna Denesik III <span class="opacity_9 font_light"><span></span></span></li>
        <li>Miguel Romaguera <span class="opacity_9 font_light"><span></span></span></li>
        <li>Jeanette Franecki <span class="opacity_9 font_light"><span></span></span></li>
      </ul></div>
</article>
     <article class="br_1 br_black-3 br_round br_solid c_white flex flex_column isolation_isolate shadow_overlap-light m-x_3 bg_primary-n1" style="grid-column: 3/3; grid-row: 36 / 48;">
            <div class="font_n3 p_2 uppercase bg_primary-n2 p-x_4 m-x_4 inline-block br-br_round br-bl_round c_white-6 font_bold self_start ">
              <ul class="ul_inline-pipe">
                <li>Navigating Health Care Economics</li>
              </ul>
            </div>    <div class="flex flex_auto flex_column gap-y_4 p-b_2 p_4 overflow_hidden">
                <header>
                    <h2 class="uppercase c_white-7 font-size_down-1">
                        <strong class="font_bold p-r_2 block">3652-15612</strong> Cardiovascular Update for the Clinician III
                    </h2>
                    <h3 class="font_display m-b_3 lh_1 c_white p-r_4:lg font-size_up-1 lh_1">
                        New York Cardiovascular Symposium 2021 Welcome Video and Introduction of Session and Faculty 
                    </h3>
                </header>
                <div class="font-size_down-1">
                    <ul class="ul_inline-semicolon font_regular font_copy inline c_white-6">
                      <li class="no-after font_medium c_white ">Session Role Type 1:</li>
                      <li>Pepper H. Soda III, MD, FACC <span class="opacity_9 font_light"><span></li>
                      <li class="no-after font_medium c_white  ">Session Role Type 2:</li>
                      <li>Dianna Denesik III <span class="opacity_9 font_light"><span></li>
                      <li>Miguel Romaguera <span class="opacity_9 font_light"><span></li>
                      <li>Jeanette Franecki <span class="opacity_9 font_light"><span></li>
                        <li class="no-after font_medium c_white ">Role Type 1:</li>
                      <li>Pepper H. Soda III, MD, FACC <span class="opacity_9 font_light"><span></li>
                      <li class="no-after font_medium c_white  ">Role Type 2:</li>
                      <li>Dianna Denesik III <span class="opacity_9 font_light"><span></li>
                      <li>Miguel Romaguera <span class="opacity_9 font_light"><span></li>
                      <li>Jeanette Franecki <span class="opacity_9 font_light"><span></li>
                    </ul>        </div>
               </div>
            <div class="bg_primary-n2 br-bl_round br-br_round br-t_0 br_1 br_black-3 br_solid c_white  m-b_n1 m-x_n1 p_3 relative self_stretch">
                <div class="absolute br-t_1 br_primary-2 br_solid l_0 m_0 opacity_none p_0 r_0 t_0 z_2"></div>
                <div class=" uppercase flex flex_wrap font-size_down-2 justify_start"><ul class=" gap-x_3 gap-y_3 justify_end:md justify_start self_center ul_inline-pipe uppercase">
          <li class="inline-flex items_center lh_0">
              <span class="bg_CME br_1 br_black-3 br_circle br_solid display_none inline-block:md  m-r_2" style=" height: 1em; width: 1em;"></span> CME
          </li>  <li class="inline-flex items_center lh_0">
              <span class="bg_CNE br_1 br_black-3 br_circle br_solid  display_none inline-block:md m-r_2" style=" height: 1em; width: 1em;"></span> CNE
          </li>  <li class="inline-flex items_center lh_0">
              <span class="bg_COP br_1 br_black-3 br_circle br_solid  display_none inline-block:md m-r_2" style=" height: 1em; width: 1em;"></span> COP
          </li>  <li class="inline-flex items_center lh_0">
              <span class="bg_MOCII br_1 br_black-3 br_circle br_solid  display_none inline-block:md m-r_2" style=" height: 1em; width: 1em;"></span> MOCII
          </li></ul></div>
            </div>
        </article>