<article class=" m-y_2:md br_1 br_black-3 br_radius br_solid c_black flex flex_column isolation_isolate shadow_overlap-light bg_white h:bg_primary-5 m-x_3 font_0:lg font_n1 relative overflow_hidden" style="grid-column: 4/5; grid-row: 28 / 40;">
  <div class="br-b_0 br-t_3 br-tl_radius br-tr_radius br_black-3 br_primary-2 br_solid flex flex_column font_ui m-b_n2 m-x_n1 m-t_n1 m-b_0 opacity_none p_0"></div>
  <div class="font-size_down-2 p_2 uppercase bg_primary-2 p-x_4 m-x_4 inline-block br-br_radius br-bl_radius c_white font_bold self_start ">
    <ul class="ul_inline-pipe">
      <li class="">Navigating Health Care Economics</li>
    </ul>
  </div>
  <div class="flex flex_auto flex_column gap-y_3 p-b_2 p_4">
    <header class="font_display m-b_3 lh_2 c_primary-n2 p-r_4:lg font-size_up-1 lh_1">
      <a class="expanded-click-area h:undecorated"><strong class="font_bold p-r_2 block">3652-15612</strong> New York Cardiovascular Symposium 2021 Welcome Video and Introduction of Session and Faculty</a>
    </header>
    <aside class="font-size_down font_ui c_accent-n2 m-b_3">@ 11:15 a.m. – 12:15 a.m. <abbr title="EASTERN TIME, UTC -4">EDT</abbr></aside>
  </div>
  <div class="bg_black-2 br-bl_radius br-br_radius br-t_0 br_1 br_black-3 br_solid c_black  m-b_n1 m-x_n1 p_3 relative self_stretch">
    <div class="absolute br-t_1 br_primary-2 br_solid l_0 m_0 opacity_none p_0 r_0 t_0 z_2"></div>
    <div class=" uppercase flex flex_wrap font-size_down-2 justify_start">
      <ul class=" gap-x_3 gap-y_3 justify_end:md justify_start self_center ul_inline-pipe uppercase">
        <li class="inline-flex items_center lh_0">
          <span class="bg_CME br_1 br_black-3 br_circle br_solid  m-r_2" style=" height: 1em; width: 1em;"></span> CME
        </li>
        <li class="inline-flex items_center lh_0">
          <span class="bg_CNE br_1 br_black-3 br_circle br_solid  m-r_2" style=" height: 1em; width: 1em;"></span> CNE
        </li>
        <li class="inline-flex items_center lh_0">
          <span class="bg_COP br_1 br_black-3 br_circle br_solid  m-r_2" style=" height: 1em; width: 1em;"></span> COP
        </li>
        <li class="inline-flex items_center lh_0">
          <span class="bg_MOCII br_1 br_black-3 br_circle br_solid  m-r_2" style=" height: 1em; width: 1em;"></span> MOCII
        </li>
      </ul>
    </div>
  </div>
</article>
<article class=" m-y_2:md br_1 br_black-3 br_radius br_solid c_black flex flex_column isolation_isolate shadow_overlap-light bg_white h:bg_primary-5 m-x_3 font_0:lg font_n1 relative overflow_hidden" style="grid-column: 2/2; grid-row: 25 / 40;">
  <div class="br-b_0 br-t_3 br-tl_radius br-tr_radius br_black-3 br_primary-2 br_solid flex flex_column font_ui m-b_n2 m-x_n1 m-t_n1 m-b_0 opacity_none p_0"></div>
  <div class="font-size_down-2 p_2 uppercase bg_primary-2 p-x_4 m-x_4 inline-block br-br_radius br-bl_radius c_white font_bold self_start ">
    <ul class="ul_inline-pipe">
      <li class="">Navigating Health Care Economics</li>
    </ul>
  </div>
  <div class="flex flex_auto flex_column gap-y_3 p-b_2 p_4">
    <header class="font_display m-b_3 lh_2 c_primary-n2 p-r_4:lg font-size_up-1 lh_1">
      <a class="expanded-click-area h:undecorated"><strong class="font_bold p-r_2 block">3652-15612</strong> New York Cardiovascular Symposium 2021 Welcome Video and Introduction of Session and Faculty</a>
    </header>
    <aside class="font-size_down font_ui c_accent-n2 m-b_3">@ 11:00 a.m. – 12:15 a.m. <abbr title="EASTERN TIME, UTC -4">EDT</abbr></aside>
  </div>
  <div class="bg_black-2 br-bl_radius br-br_radius br-t_0 br_1 br_black-3 br_solid c_black  m-b_n1 m-x_n1 p_3 relative self_stretch">
    <div class="absolute br-t_1 br_primary-2 br_solid l_0 m_0 opacity_none p_0 r_0 t_0 z_2"></div>
    <div class=" uppercase flex flex_wrap font-size_down-2 justify_start">
      <ul class=" gap-x_3 gap-y_3 justify_end:md justify_start self_center ul_inline-pipe uppercase">
        <li class="inline-flex items_center lh_0">
          <span class="bg_CME br_1 br_black-3 br_circle br_solid  m-r_2" style=" height: 1em; width: 1em;"></span> CME
        </li>
        <li class="inline-flex items_center lh_0">
          <span class="bg_CNE br_1 br_black-3 br_circle br_solid  m-r_2" style=" height: 1em; width: 1em;"></span> CNE
        </li>
        <li class="inline-flex items_center lh_0">
          <span class="bg_COP br_1 br_black-3 br_circle br_solid  m-r_2" style=" height: 1em; width: 1em;"></span> COP
        </li>
        <li class="inline-flex items_center lh_0">
          <span class="bg_MOCII br_1 br_black-3 br_circle br_solid  m-r_2" style=" height: 1em; width: 1em;"></span> MOCII
        </li>
      </ul>
    </div>
  </div>
</article>
<article class=" m-y_2:md br_1 br_black-3 br_radius br_solid c_black flex flex_column isolation_isolate shadow_overlap-light bg_white h:bg_primary-5 m-x_3 font_0:lg font_n1 relative overflow_hidden" style="grid-column: 3/3; grid-row: 25 / 40;">
  <div class="br-b_0 br-t_3 br-tl_radius br-tr_radius br_black-3 br_secondary-n2 br_solid flex flex_column font_ui m-b_n2 m-x_n1 m-t_n1 m-b_0 opacity_none p_0"></div>
  <div class="font-size_down-2 p_2 uppercase bg_secondary-n2 p-x_4 m-x_4 inline-block br-br_radius br-bl_radius c_white font_bold self_start ">
    <ul class="ul_inline-pipe">
      <li>Industry Theater</li>
    </ul>
  </div>
  <div class="flex flex_auto flex_column gap-y_3 p-b_2 p_4 br-b_1 br_solid br_secondary-n2">
    <header class="font_display m-b_3 lh_2 c_primary-n2 p-r_4:lg font-size_up-1 lh_1">
      <a class="expanded-click-area h:undecorated"><strong class="font_bold p-r_2 block">3652-15612</strong> New York Cardiovascular Symposium 2021 Welcome Video and Introduction of Session and Faculty</a>
    </header>
    <aside class="font-size_down font_ui c_accent-n2 m-b_3">@ 11:00 a.m. – 12:15 a.m. <abbr title="EASTERN TIME, UTC -4">EDT</abbr></aside>
  </div>
  <div class="c_black flex flex_wrap font_n3 justify_start p_3 br-br_radius br-bl_radius bg_black-2 br_solid br_1 br-t_0 br_black-3 m-b_n1">
    <div class="flex_grow uppercase m-l_auto c_secondary-n2" "="">
        <strong class="font_xbold uppercase"><i class="fas fa-info-circle"></i> Nonaccredited | Industry Session</strong>        </div>
</div>
</article>