{% comment %}
guid: a unique identifier to generate a GUID URL. Example: "{12345-abcd-67890}"
media: a unique media identifier to generate a media URL. Example: "{1231212-12312312-asfdas-1342}"
url: an alternative URL to use if neither GUID nor MEDIA is provided. Example: "https://www.example.com"
{% endcomment %}

{%- if include.media -%}
  {%- assign cleaned_guid = include.media | remove: '{' | remove: '}' | remove: '-' | strip -%}
  {%- assign url = "~/media/" | append: cleaned_guid | append: ".ashx" -%}
{%- elsif include.guid -%}
    {%- assign cleaned_guid = include.guid | remove: '{' | remove: '}' | remove: '-' | strip -%}
  {%- assign url = "~/link.aspx?_id=" | append: cleaned_guid | append: "&amp;_z=z" -%}
{%- elsif include.relative -%}
  {%- assign url = include.relative | append: site.github.build_revision | relative_url -%}
{%- elsif include.url -%}
  {%- assign url = include.url -%}
{%- else -%}
  {%- assign url = "" -%}
{%- endif -%}
{{- url -}}