<div class="br_1 br_black-2 br_radius br_solid p-y_4 p_2 reading-typography m-y_3 m-y_4:md">
            <div id="Adslot-x" style="/* width:300px; *//* height:250px; */" class="aspect_bigbox bg_acc m_auto max-w_100">
            <a href="https://www.acc.org/" target="_blank" class="block w_100"><img class="w_100" src="https://picsum.photos/300/250"></a>
            </div>
            <small class="block c_black-5 font_n2 m-b_n3 m-t_2 text_center uppercase">advertisment</small>
            </div>