<div class="">
  <picture class="bg_no-repeat brand-header col_all row_all w_100" aria-hidden="true">
  <source media="(min-width: 1040px)" srcset="https://www.acc.org/-/media/ScientificSessions/BannerImages/header1040.jpg">
  <source media="(min-width: 992px)" srcset="https://www.acc.org/-/media/ScientificSessions/BannerImages/header1000.jpg">
  <source media="(min-width: 781px)" srcset="https://www.acc.org/-/media/ScientificSessions/BannerImages/header980.jpg">
  <source media="(min-width: 500px)" srcset="https://www.acc.org/-/media/ScientificSessions/BannerImages/header780.jpg">
  <img src="https://www.acc.org/-/media/ScientificSessions/BannerImages/header320.jpg" alt="" class="bg_no-repeat w_100">
</picture>
</div>
<div class="flex c_white relative">
	<nav class="flex_auto navbar navbar-primary p_0 navbar-expand-lg navbar-dark bg_acc font_2 font_1:lg relative">
		<div class="relative"><button class="br_solid br_2 br_white-2 collapsed m-l_3 m-y_3 navbar-toggler p_2 expanded-click-area collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navBarMainNav" aria-controls="navBarMainNav" aria-expanded="false" aria-label="Toggle navigation">
			<i class="icon-toggle_bars-times fas fa a:c_acc-2 c_white"></i><span class="a:c_acc-2 c_white p-x_3 uppercase font_accent">Menu</span>
		</button>
		</div>		<div class="collapse navbar-collapse" id="navBarMainNav">
			<ul class="navbar-nav flex flex_row:lg flex_column justify_around w_100">
				<li class="nav-item relative text_left text_center:lg  flex_shrink">
					<a class="nav-link expanded-click-area nowrap p-l_4 p-l_0:lg" href="//www.acc.org/" title="Home of the American College of Cardiology"><i class="fas fa-home p-x_3:lg"></i><span class="display_none:lg"> Home</span></a>
				</li>
				<li class="display_none:lg relative nav-item relative text_left text_center:lg  flex_auto">
					<a class="nav-link expanded-click-area nowrap p-l_4 p-l_0:lg" href="//www.acc.org/guidelines#doctype=Guidelines" title="Access ACC guidelines and clinical policy documents as well as related resources">Guidelines</a>
				</li>
				<li class="nav-item relative text_left text_center:lg  flex_auto dropdown  [ active ]">
<a class="nav-link nowrap p-l_4 p-l_0:lg dropdown-toggle [ a:c_white ] display_none:lg inline-block"
	id="clinicalTopicsDropdown"
	role="button"
	data-bs-toggle="dropdown"
	aria-haspopup="true"
	aria-expanded="false"><i
		class="far fa icon-toggle_plus-minus m-l_n2 m-r_2 "></i></a>
<a class="nav-link nowrap p-l_0  [ a:c_white ] inline-block"
	href="/clinical-topics">Submit Your Science</a>

				</li>
				<li class="nav-item relative text_left text_center:lg  flex_auto ">
					<a class="nav-link expanded-click-area nowrap p-l_4 p-l_0:lg" href="#">Registration</a>
				</li>
				<li class="nav-item relative text_left text_center:lg  flex_auto dropdown ">
					<a class="nav-link nowrap p-l_4 p-l_0:lg dropdown-toggle [a:c_white] display_none:lg inline-block"
						id="eduDropdown"
						role="button"
						data-bs-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"><i
							class="far fa icon-toggle_plus-minus m-l_n2 m-r_2 "></i>
					</a>
					<a class="nav-link nowrap p-l_0  [a:c_white] inline-block"
						href="/Edu-Edu">Plan your Program</a>

				</li>
				<li class="nav-item relative text_left text_center:lg  flex_auto dropdown ">
					<a class="nav-link nowrap p-l_4 p-l_0:lg dropdown-toggle [a:c_white] display_none:lg inline-block"
						id="toolDropdown"
						role="button"
						data-bs-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"><i
							class="far fa icon-toggle_plus-minus m-l_n2 m-r_2 "></i>
					</a>
					<a class="nav-link nowrap p-l_0  [a:c_white] inline-block"
						href="/Edu-Edu">Meeting Desitinations</a>

				</li>
				<li class="display_none:lg nav-item relative text_left text_center:lg  flex_auto ">
					<a class="nav-link expanded-click-area nowrap p-l_4 p-l_0:lg" href="//www.acc.org/membership" title="Access exclusive member features and groups or learn about ACC membership">Membership</a>
				</li>
				<li class="display_none:lg nav-item relative text_left text_center:lg  flex_auto ">
					<a class="nav-link expanded-click-area nowrap p-l_4 p-l_0:lg" href="//www.acc.org/about-acc" title="Learn about the ACC organization">About ACC</a>
				</li>
				<li class="display_none:lg nav-item relative text_left text_center:lg  flex_auto ">
					<a class="nav-link expanded-click-area nowrap p-l_4 p-l_0:lg" href="http://www.onlinejacc.org/" target="_blank" title="JACC.org">JACC</a>
				</li>
				<li class="display_none:lg nav-item relative text_left text_center:lg  flex_auto ">
					<a class="nav-link expanded-click-area nowrap p-l_4 p-l_0:lg" href="http://accscientificsession.acc.org" target="_blank" title="ACC Annual Scientific Session Website">ACC.19</a>
				</li>
			</ul>
		</div>
	</nav>
	<nav class="font_1 absolute bg_primary br-t_1 br_primary br_solid br_none flex_shrink font_0 font_0:lg m-l_auto navbar navbar-dark navbar-expand p-y_2 r_0 t_0 b_0:lg relative:lg" >
		<ul class="navbar-nav">
			<li class="nav-item relative flex_shrink dropdown">
				<a class="nav-link expanded-click-area [a:c_white] h:c_white nowrap"
					 role="button"
					 id="dropdownMyACC"
					 data-bs-toggle="dropdown"
					 aria-expanded="false"
					>My ACC <i class="far icon-toggle_chevron-up-down"></i></a>
				<div
				class="dropdown-menu font_copy br-t_0 dropdown-menu-end br_none br_solid:lg m-t_0 m-t_2:lg font_0" aria-labelledby="dropdownMyACC"
				>
					<div class="flex flex_column flex_row:md p-x_2:lg m-x_n1 m-x_0:lg">
						<div class="p-x_2 p-y_0 dropdown_column">
							<ul class="ul_none lh_2 m_0">
								<li>
									<a class="dropdown-item link transition_4 wrap text-indent_n1 p-l_5 lh_2" href="/my-acc/my-profile">My Profile</a>
								</li>
								<li>
									<a class="dropdown-item link transition_4 wrap text-indent_n1 p-l_5 lh_2" href="/my-acc/my-training-program">My Training Programs</a>
								</li>
								<li>
									<a class="dropdown-item link transition_4 wrap text-indent_n1 p-l_5 lh_2" href="/my-acc/my-membership">My Membership</a>
								</li>
								<li>
									<a class="dropdown-item link transition_4 wrap text-indent_n1 p-l_5 lh_2" href="/my-acc/my-library">My Library</a>
								</li>
								<li>
									<a class="dropdown-item link transition_4 wrap text-indent_n1 p-l_5 lh_2" href="http://edu.acc.org/diweb/dashboard">My Learning Dashboard</a>
								</li>
								<li>
									<a class="dropdown-item link transition_4 wrap text-indent_n1 p-l_5 lh_2" href="http://edu.acc.org/diweb/grades">My Transcript</a>
								</li>
								<li>
									<a class="dropdown-item link transition_4 wrap text-indent_n1 p-l_5 lh_2" href="/my-acc/ncdr-physician-dashboard">NCDR Physician Dashboard</a>
								</li>
								<li>
									<a class="dropdown-item link transition_4 wrap text-indent_n1 p-l_5 lh_2" href="/my-acc/my-communication-preferences">My Communication Preferences</a>
								</li>
								<li>
									<a class="dropdown-item link transition_4 wrap text-indent_n1 p-l_5 lh_2" href="https://memberhub.acc.org/">ACC Member Hub</a>
								</li>
								<li>
									<a class="dropdown-item link transition_4 wrap text-indent_n1 p-l_5 lh_2" href="/my-acc/my-purchase-history">My Purchases</a>
								</li>
								<li>
									<a class="dropdown-item link transition_4 wrap text-indent_n1 p-l_5 lh_2" href="/my-acc/personalization">Personalize ACC.org</a>
								</li>
								<div class="dropdown-divider m-y_3"></div>
								<li class="">
									<a class="dropdown-item link transition_4 wrap text-indent_n1 p-l_5 lh_2" href="/RemoteLogOff"> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="nav-item">
				<a class=" nav-link nowrap" href="#"><i class="far fa-shopping-cart"></i></a>
			</li>
			<!--<li class="nav-item">
				<a class=" nav-link nowrap" href="#"><i class="fas fa-sign-out-alt"></i></a>
			</li>-->
			<!--<li class="nav-item">
				<a href="@loginlink" class="nav-link nowrap"><i class="fas fa-sign-in-alt"></i> Log in to MyACC </a>
			</li>-->
		</ul>
	</nav></div>

<!-- <div id="header" class="header">
  <div class="brand-header"></div>
  <div class="header-toggle d-lg-none">
    <div class="mobile-toggle header-nav-toggle" data-target="#header_nav"></div>
    <div class="mobile-toggle login-toggle" data-target="#login_form"></div><a
      href="https://registration.experientevent.com/ShowACC261/flow/ATT" class="callToAction action-register"
      id="register_now">Register Now</a>
  </div>
  <div id="login_form" class="logged-out login menu-item">
    <div class="row skinny login-links text-center">
      <div class="col-12"><a id="login_btn" class="btn btn-block btn-secondary"
          href="https://federated.acc.org/ACCFederatedLogin/PostSP?SP=ScientificSessionSp&amp;target=https://accscientificsession.acc.org">Login</a>
      </div>
      <div class="col-12 clear-xs"><a href="#"
          data-registration-href="https://federated.acc.org/ACCFederatedLogin/ACCLogin#/Preregistration?SP=ScientificSessionSp&amp;target=https%3a%2f%2faccscientificsession.acc.org%2f%2f%3f_gl%3d1*13m2jo1*_gcl_au*MTU4MDYyNDA1Mi4xNzY4NTA0Mjgz*_ga*NjM1OTQwNTEyLjE3Njg1MDQyODM.*_ga_2V8VW4Y237*czE3NzE1Mjg1OTEkbzMzJGcxJHQxNzcxNTM1ODkyJGo2MCRsMCRoMA.."
          onclick="return navigateToLogin(this)" id="create_an_account">Create An Account</a></div>
    </div>
    <script
      type="text/javascript">account.init(); function navigateToLogin(e) { window.location.href = e.attributes['data-registration-href'].value; return false; } </script>
  </div>
  <div class="header-nav">
    <nav id="header_nav" class="menu-item">
      <ul class="skinny">
        <li class="active"><a href="/" id="home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><span class="glyphicon glyphicon-plus expand"></span><a href="/Submit-Your-Science"
            id="submit_your_science">Submit Your Science</a>
          <ul class="skinny">
            <li><a href="/Submit-Your-Science/Late-Breaking-Clinical-Trials"
                id="late-breaking_clinical_trials">Late-Breaking Clinical Trials</a></li>
            <li><a href="/Submit-Your-Science/Abstracts" id="abstracts">Abstracts</a></li>
            <li><a href="/Submit-Your-Science/Complex-Clinical-Cases" id="complex_clinical_cases">Complex Clinical
                Cases</a></li>
            <li><a href="/Submit-Your-Science/CV-Team-Abstracts" id="cv_team_abstracts">CV Team Abstracts</a></li>
            <li><a href="/Submit-Your-Science/CV-Team-Cases" id="cv_team_cases">CV Team Cases</a></li>
            <li><a href="/Submit-Your-Science/Cardio-Sim-Creator-Competition" id="cardio_sim_creator_competition">Cardio
                Sim Creator Competition</a></li>
            <li><a href="/Submit-Your-Science/Young-Investigator-Awards" id="young_investigator_awards">Young
                Investigator Awards</a></li>
          </ul>
        </li>
        <li><span class="glyphicon glyphicon-plus expand"></span><a href="/Registration-and-Hotels"
            id="registration_&amp;_hotels">Registration &amp; Hotels</a>
          <ul class="skinny">
            <li><a href="/Registration-and-Hotels/Registration-Rates-and-Dates" id="registration_rates">Registration
                Rates</a></li>
            <li><a href="/Registration-and-Hotels/Hotel-Options-and-Map" id="hotel_reservations">Hotel Reservations</a>
            </li>
            <li><a href="/Registration-and-Hotels/Travel-And-Transportation"
                id="travel_information_&amp;_attendee_services">Travel Information &amp; Attendee Services</a></li>
            <li><a href="/Registration-and-Hotels/International-Travel-and-Visa-Information"
                id="international_travel_&amp;_visa_information">International Travel &amp; Visa Information</a></li>
            <li><a href="/Registration-and-Hotels/Group-Registration-Hotels" id="group_registration_&amp;_hotels">Group
                Registration &amp; Hotels</a></li>
            <li><a href="/Registration-and-Hotels/Changes-and-Cancellations" id="changes_and_cancellations">Changes and
                Cancellations</a></li>
          </ul>
        </li>
        <li><span class="glyphicon glyphicon-plus expand"></span><a href="/Plan-Your-Program"
            id="plan_your_program">Plan Your Program</a>
          <ul class="skinny">
            <li><a href="/Plan-Your-Program/Pre-Conference-Programs" id="pre-conference_sessions">Pre-Conference
                Sessions</a></li>
            <li><span class="glyphicon glyphicon-plus expand"></span><a href="/Plan-Your-Program/Education-Sessions"
                id="education_sessions">Education Sessions</a>
              <ul class="skinny">
                <li><a href="/Plan-Your-Program/Education-Sessions/Clinical-Spotlight-Sessions"
                    id="clinical_spotlight_sessions">Clinical Spotlight Sessions</a></li>
                <li><a href="/Plan-Your-Program/Education-Sessions/Guideline-Sessions"
                    id="guidelines_sessions">Guidelines Sessions</a></li>
                <li><a href="/Plan-Your-Program/Education-Sessions/Interactive-Sessions"
                    id="interactive_sessions">Interactive Sessions</a></li>
                <li><a href="/Plan-Your-Program/Education-Sessions/Keynote-Lectures" id="keynotes">Keynotes</a></li>
                <li><a href="/Plan-Your-Program/Education-Sessions/Late-Breakers" id="late-breakers">Late-Breakers</a>
                </li>
                <li><a href="/Plan-Your-Program/Education-Sessions/Special-Sessions" id="special_sessions">Special
                    Sessions</a></li>
                <li><a href="/Plan-Your-Program/Education-Sessions/Symposiums" id="symposiums">Symposiums</a></li>
              </ul>
            </li>
            <li><span class="glyphicon glyphicon-plus expand"></span><a href="/Plan-Your-Program/Learning-Pathways"
                id="learning_pathways">Learning Pathways</a>
              <ul class="skinny">
                <li><a href="/Plan-Your-Program/Learning-Pathways/Cardiac-Arrhythmias-Learning-Pathway"
                    id="cardiac_arrhythmias">Cardiac Arrhythmias</a></li>
                <li><a href="/Plan-Your-Program/Learning-Pathways/Cardiovascular-Disease-Prevention-Learning-Pathway"
                    id="cardiovascular_disease_prevention">Cardiovascular Disease Prevention</a></li>
                <li><a href="/Plan-Your-Program/Learning-Pathways/Congenital-Heart-Disease-CHD-Learning-Pathway"
                    id="congenital_heart_disease_(chd)">Congenital Heart Disease (CHD)</a></li>
                <li><a
                    href="/Plan-Your-Program/Learning-Pathways/Coronary-Peripheral-and-Structural-Interventions-Learning-Pathway"
                    id="coronary,_peripheral_and_structural_interventions">Coronary, Peripheral and Structural
                    Interventions</a></li>
                <li><a
                    href="/Plan-Your-Program/Learning-Pathways/Heart-Failure-HF-and-Cardiomyopathies-Learning-Pathway"
                    id="heart_failure_(hf)_and_cardiomyopathies">Heart Failure (HF) and Cardiomyopathies</a></li>
                <li><a href="/Plan-Your-Program/Learning-Pathways/Ischemic-Heart-Disease-IHD-Learning-Pathway"
                    id="ischemic_heart_disease_(ihd)">Ischemic Heart Disease (IHD)</a></li>
                <li><a href="/Plan-Your-Program/Learning-Pathways/Multimodal-Imaging-Learning-Pathway"
                    id="multimodal_imaging">Multimodal Imaging</a></li>
                <li><a href="/Plan-Your-Program/Learning-Pathways/Pulmonary-Vascular-Disease-Learning-Pathway"
                    id="pulmonary_vascular_disease">Pulmonary Vascular Disease</a></li>
                <li><a href="/Plan-Your-Program/Learning-Pathways/Special-Topics" id="special_topics">Special Topics</a>
                </li>
                <li><a href="/Plan-Your-Program/Learning-Pathways/Valvular-Diseases-Learning-Pathway"
                    id="valvular_diseases">Valvular Diseases</a></li>
                <li><a href="/Plan-Your-Program/Learning-Pathways/Vascular-Diseases-Learning-Pathway"
                    id="vascular_diseases">Vascular Diseases</a></li>
              </ul>
            </li>
            <li><a href="/Plan-Your-Program/Additional-Activities" id="additional_activities">Additional Activities</a>
            </li>
            <li><span class="glyphicon glyphicon-plus expand"></span><a href="/Plan-Your-Program/Special-Interest-Areas"
                id="special_interest_groups">Special Interest Groups</a>
              <ul class="skinny">
                <li><a href="/Plan-Your-Program/Special-Interest-Areas/CV-Team-Members"
                    id="cardiovascular_team">Cardiovascular Team</a></li>
                <li><a href="/Plan-Your-Program/Special-Interest-Areas/Fellows-in-Training"
                    id="fellows_in_training">Fellows in Training</a></li>
              </ul>
            </li>
            <li><a href="/Plan-Your-Program/Accreditation" id="accreditation">Accreditation</a></li>
            <li><a href="/Plan-Your-Program/Presenter-Disclosures" id="presenter_disclosures">Presenter Disclosures</a>
            </li>
          </ul>
        </li>
        <li><span class="glyphicon glyphicon-plus expand"></span><a href="/Meeting-Destinations"
            id="meeting_destinations">Meeting Destinations</a>
          <ul class="skinny">
            <li><a href="/Meeting-Destinations/Expo" id="expo">Expo</a></li>
            <li><span class="glyphicon glyphicon-plus expand"></span><a
                href="/Meeting-Destinations/Learning-Destinations" id="learning_destinations">Learning Destinations</a>
              <ul class="skinny">
                <li><a href="/Meeting-Destinations/Learning-Destinations/Future-Hub" id="future_hub">Future Hub</a></li>
                <li><a href="/Meeting-Destinations/Learning-Destinations/Health-Equity-Hub"
                    id="health_equity_hub">Health Equity Hub</a></li>
                <li><a href="/Meeting-Destinations/Learning-Destinations/Industry-Expert-Theaters"
                    id="industry-expert_theaters">Industry-Expert Theaters</a></li>
                <li><a href="/Meeting-Destinations/Learning-Destinations/Innovation-Stage"
                    id="innovation_stage">Innovation Stage</a></li>
                <li><a href="/Meeting-Destinations/Learning-Destinations/Interactive-Learning-Labs"
                    id="interactive_learning_labs">Interactive Learning Labs</a></li>
              </ul>
            </li>
            <li><a href="/Meeting-Destinations/Lounge-and-Learn-Pavilion" id="lounge_&amp;_learn_pavilion">Lounge &amp;
                Learn Pavilion</a></li>
            <li><a href="/Meeting-Destinations/Social-Media" id="social_media">Social Media</a></li>
          </ul>
        </li>
        <li><a href="https://registration.experientevent.com/ShowACC261/flow/ATT"
            class="callToAction action-register hidden-xs" id="register_now">Register Now</a></li>
      </ul>
    </nav>
  </div>
</div> -->