<div class="bg_accent-n2 br_round c_inherit c_white m-x_3 m-y_3 m-y_4:md p_3 p_4:md reading-typography ul_none">
  <h4 class="c_white">ACC Registration and Housing Center</h4>
  <li><em class="fa fa-phone" aria-hidden="true"></em><a class="c_white" href="tel:+1-864-208-2670">864-208-2670</a>
  </li>
  <li><em class="fa fa-calendar-times-o" aria-hidden="true"></em>M-F, 9 a.m. – 5 p.m. ET</li>
  <li><em class="fa fa-envelope-o" aria-hidden="true"></em><a href="mailto:ACC@maritz.com"
      class="c_white link link-light"><em>ACC@maritz.com</em></a></li>
</div>