
<!-- 
container_modifier: class slot to change the row mechanizm.
container_type: [ bevel, border ]
custom_fontsize:  change the base sizing for the reading typography defaults to 1.
button_type: this is looking for the bootstrap buton decorator class and defaults to btn-secondary
-->
{% assign path_parts = 'Blocks.FollowUpCTA' | split: '.' %}
{% if include.data_path %}
  {% assign path_parts = include.data_path | split: '.' %}
{% endif %}

{% assign data_object = site.data %}
{% for part in path_parts %}
  {% assign data_object = data_object[part] %}
{% endfor %}

{% assign grid_styles = " columns_3:lg  columns_2:md columns_1 gap_5:lg gap_4 grid " %}
{% if include.grid_modifier %}
  {% assign grid_styles = include.grid_modifier %}
{% endif %} 

{% assign font_size = 1 %}
{% if include.custom_fontsize %}
  {% assign font_size = include.custom_fontsize %}
{% endif %} 


<div
    label="CTA_follow_up"
    class="reading-typography font-size_up p_4 p_5:md {% if include.container_modifier %}{{ include.container_modifier }} {% endif %}"
    style="--custom-font-size-up: {{font_size}} ;"
  >


{% assign cta_styles = "" %}
{% if include.cta_type %}
    {% if include.cta_type == "bevel" %}
        {% assign cta_styles = "shadow_bevel-light p_4 p_5:lg bg_white br_round" %}
    {% elsif include.cta_type == "border" %}
        {% assign cta_styles = "p_4 p-t_6 p-x_5:lg bg_white br-t_2 br_solid br_primary" %}
    {% endif %}
{% endif %}
    <div data-item="cta" class="{{ cta_styles }} font-size_up m-t_6:lg m-y_4 m-y_5:md m_auto max-w_60 relative text_center relative" > 
        {% for cta in data_object %}
            <h2 data-item="cta-title" class="m-b_3 lh_1 font_medium font_display">
                <strong class="font-size_up m-b_2 block">{{ cta.title }}</strong>
                <small class="font-size_down block">{{ cta.subtitle }}</small>
            </h2>
            <div class="p-t_2 p-b_3" data-item="cta-description">
                <p class="font-size_up">{{ cta.description }}</p>
            </div>
            <div class="grid justify_center">
                <a rel="noopener noreferrer" href="{{ cta.link_url }}" target="_blank" class="{% if include.button_type %}{{ include.button_type }}{% else %}btn-primary{% endif %} expanded-click-area br_solid btn btn-lg capitalize m-b_n2 shadow_1  {% if include.container_type != "bevel" %} shadow_overlap-bold {% endif  %}">{{ cta.link_text }}</a>
            </div>
        {% endfor %}
    </div>
</div>