{% assign path_parts = 'Blocks.Image_Bento' | split: '.' %}
{% if include.data_path %}
  {% assign path_parts = include.data_path | split: '.' %}
{% endif %}

{% assign data_object = site.data %}
{% for part in path_parts %}
  {% assign data_object = data_object[part] %}
{% endfor %}

{% assign grid_styles = " columns_3:lg columns_2 rows_2:lg rows_3 gap_1 " %}
{% if include.grid_modifier %}
  {% assign grid_styles = include.grid_modifier %}
{% endif %} 

{% assign font_size = 1.02 %}
{% if include.custom_fontsize %}
  {% assign font_size = include.custom_fontsize %}
{% endif %} 

{% if include.container_modifier %}
  <section
    label="Image_Bento"
    class="reading-typography font-size_up color_inherit c_white {{ include.container_modifier }}"
    style="--custom-font-size-up: {{font_size}} ;"
  >
{% else %}
  <div
    label="Image_Bento"
    class="reading-typography font-size_up color_inherit c_white "
    style="--custom-font-size-up: {{font_size}} ;"
  >
{% endif %}



  <div
    class="grid {{grid_styles}}"
    style="--row-1: auto; --row-2: auto; --row-3: auto"
  >
    <div
      class="bg_primary-n2 c_white col-end_3 col-start_start color_inherit columns_1 relative rows_1"
    >
      <div class="row_all col_all p_4 p_5:lg">
        <h2>Steeped in Tradition, Posed for the Future</h2>
        <p>
          In 1949, 13 cardiologists founded the ACC, creating a professional
          home for cardiovascular clinicians. The College has since evolved into
          a global cardiovascular leader, uniting more than 56,000 members
          spanning the entire cardiovascular care team.
        </p>
      </div>
    </div>
    <div class="aspect_1x1 grid rows_1 columns_1 isolation_isolate relative">
      <img
        class="row_all col_all z_0"
        src="/PrototypingACCorg/assets/images/ACC/History.png"
        alt="Building on our history painting"
      />
      <div class="bg-blend_darken bg_black-5 col_all row_all z_1"></div>
      <a
        class="c_white col_all expanded-click-area font_2 font_bold font_copy grid h:bg_black-5 items_end justify_end not-link p_4 row_all z_2 text_right"
        href
        ><span>History <i class="p-l_3 far fa-arrow-right"></i></span>
      </a>
    </div>
    <div class="aspect_1x1 grid rows_1 columns_1 isolation_isolate relative">
      <img
        class="row_all col_all z_0"
        src="/PrototypingACCorg/assets/images/ACC/Governance.png"
        alt="Building on our history painting"
      />
      <div class="bg-blend_darken bg_black-5 col_all row_all z_1"></div>
      <a
        class="c_white col_all expanded-click-area font_2 font_bold font_copy grid h:bg_black-5 items_end justify_end not-link p_4 row_all z_2 text_right"
        href
        ><span
          >Leadership & Governance <i class="p-l_3 far fa-arrow-right"></i
        ></span>
      </a>
    </div>
    <div
      class="bg_acc-n3 c_white col-end_end col-start_n3 color_inherit columns_1 relative rows_1 grid"
    >
      <div class="row_all col_all p_4 p-b_4:lg p-b_6 p_5:lg">
        <h2>75 Years of Innovation: Join Us for the ACC’s Anniversary Gala.</h2>
        <p>
          The ACC is celebrating its 75th Anniversary and its remarkable
          achievements, culminating with a 75th Anniversary Gala on March 28,
          2025 as part of ACC.25 in Chicago, IL.
        </p>
      </div>
      <a
        class="c_white col_all expanded-click-area font_2 font_bold font_copy grid h:bg_black-5 items_end justify_end not-link p_4 row_all z_2 text_right"
        href
        ><span
          >Celebrate with the ACC in Chicago!
          <i class="p-l_3 far fa-arrow-right"></i
        ></span>
      </a>
    </div>
  </div>
  {% if include.container_modifier %}
</section>
{% else %}
</div>
{% endif %}
