<div class="reading-typography text_center">
    <p>Sponsorship opportunities are available. Explore them here or for details contact <a href="mailto:philanthropy@acc.org">Brynne MacCann</a></p>
</div>
<div class="relative">
	<span class="absolute l_0 t_1 r_0 block br_primary br-b_2 br_solid display_none:lg"></span>
	<span class="sticky float_right t_0 w_auto r_0 block bg_primary c_acc-n3 display_none:lg z_5 p-x_3 p_2 font_n2 br-br_radius br-bl_radius lh_0">Sponsorship</span>
	<ul class="gap_5 ul_none grid column_1 clear_both columns_3:lg p-b_6:lg p-y_5  relative">
    {% include_relative Gala/sponsor/toast.html %}
    {% include_relative Gala/sponsor/blue-carpet.html %}
    {% include_relative Gala/sponsor/bar.html %}
    {% include_relative Gala/sponsor/paddle.html %}
    {% include_relative Gala/sponsor/emcee.html %}
</ul></div>
