{% assign cr = site.data.ClinicianWellBeing.cardio_renew %}
<section id="Key-Benefits" data-jump-section class="wrapper-container m-t_5:lg m-t_4 reading-typography scroll-mt_5" aria-labelledby="benefits-title">
  <h2 id="benefits-title" data-jump-title="Key benefits" class="m-t_0">Key Benefits</h2>
  <p>{{ cr.why }}</p>
  <ul class="ul_none grid columns_1 columns_3:lg gap_4 m-t_4 m-b_0 p_0">
    {% for benefit in cr.benefits %}
    <li class="bg_white br_1 br_black-3 br_radius br_solid p_4 shadow_bevel-light flex flex_column gap_2">
      <i class="c_accent-n1 {{ benefit.icon }} font_4" aria-hidden="true"></i>
      <strong class="font_display font-size_down">{{ benefit.title }}</strong>
    </li>
    {% endfor %}
  </ul>
</section>
