{% assign cr = site.data.ClinicianWellBeing.cardio_renew %}
<div class="reading-typography m-y_4:lg bg_black-1 br_radius p_4">
  <h3 id="Program-Highlights" data-jump-title="Program highlights" class="heading m-t_0">Program Highlights</h3>
  <div class="reading-typography font-size_up" style="--custom-font-size-modifier: 1.65;">
    <ul class="ul_none grid columns_3:lg columns_1 gap_5:lg gap_4">
      {% for item in cr.highlights %}
      <li class="flex flex_row gap_3 gap_4:lg items_center justify_start">
        <strong class="c_accent-n2 font-size_up-2 font_xbold lh_0">{{ item.value }}</strong>
        <small class="font-size_down-2 lh_1 font_medium">{{ item.label }}</small>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
