{% assign cr = site.data.ClinicianWellBeing.cardio_renew %}
<div class="heading-children reading-typography p_4 m-t_4 m-x_4 bg_primary-5 br_radius">
  <div class="el-h3 heading-wrapper">
    <h4 class="heading m-t_0" id="Coaching-Faculty">Coaching Faculty</h4>
    <div class="heading-children">
      <div class="el-p">
        <p>Led by experienced ACC members and coaching experts committed to mid-career clinician well-being.</p>
      </div>
      <blockquote class="bg_white br_radius m-t_3 m-b_0 p_3">
        <p class="font-size_down m-t_0 m-b_2"><em>&ldquo;{{ cr.quote.text }}&rdquo;</em></p>
        <cite class="font-size_down-2 c_shade-n2 not-italic">— {{ cr.quote.author }}</cite>
      </blockquote>
    </div>
  </div>
</div>
