 <script src="https://www.acc.org/Scripts/slider.js"></script>
<div class="carousel m_4" data-cardcount="4">
    <div class="carousel-track">
            <div class="carousel-slide br_1 br_solid br_black-3 br-tl_square br-tr_square shadow_overlap-light br_radius flex flex_column m_3 relative">
                <div class="image w_100">
                    <picture>
                        <source srcset="/-/media/Non-Clinical/Images/Marketing-Images/Features/Triptychs_New/ACC-Meetings/2026/H26006-Asia-2026_625x350.jpg" media="(min-width: 1024px)">
                        <source srcset="/-/media/Non-Clinical/Images/Marketing-Images/Features/Triptychs_New/ACC-Meetings/2026/H26006-Asia-2026_625x350.jpg" media="(min-width: 768px)">
                        <source srcset="/-/media/Non-Clinical/Images/Marketing-Images/Features/Triptychs_New/ACC-Meetings/2026/H26006-Asia-2026_625x350.jpg" media="(min-width: 480px)">
                        <img src="/-/media/Non-Clinical/Images/Marketing-Images/Features/Triptychs_New/ACC-Meetings/2026/H26006-Asia-2026_625x350.jpg" alt="Slider Feature Title">
                    </picture>
                </div>
                <div class="content p-t_4:lg p-t_3 p-x_4 c_black flex_grow">
                    <h2 class="font_display font_2:lg font_1 font_bold c_primary-n2 m-b_3 m-t_3">Slider Feature Title</h2>
                    <p class="font_0:md font_n1 font_copy m-t_0 m-b_4 p-b_3">This is some short text for the slider feature A.</p>
                </div>
                    <div class="flex_shrink p-x_4 m-b_3"><a href="www.acc.org" class="font_0:lg text_left font_bold h:c_primary-n3 c_primary block p-y_2 lh_2 nowrap m-r_4 expanded-click-area">Read More <i class="fa-solid fa-arrow-right p-x_2"></i></a></div>
            </div>
            <div class="carousel-slide br_1 br_solid br_black-3 br-tl_square br-tr_square shadow_overlap-light br_radius flex flex_column m_3 relative">
                <div class="image w_100">
                    <picture>
                        <source srcset="/-/media/Non-Clinical/Images/Marketing-Images/Features/Triptychs_New/ACC-Meetings/2026/A26043-ACC26-v2_625x350.jpg" media="(min-width: 1024px)">
                        <source srcset="/-/media/Non-Clinical/Images/Marketing-Images/Features/Triptychs_New/ACC-Meetings/2026/A26043-ACC26-v2_625x350.jpg" media="(min-width: 768px)">
                        <source srcset="/-/media/Non-Clinical/Images/Marketing-Images/Features/Triptychs_New/ACC-Meetings/2026/A26043-ACC26-v2_625x350.jpg" media="(min-width: 480px)">
                        <img src="/-/media/Non-Clinical/Images/Marketing-Images/Features/Triptychs_New/ACC-Meetings/2026/A26043-ACC26-v2_625x350.jpg" alt="Slider Feature Title">
                    </picture>
                </div>
                <div class="content p-t_4:lg p-t_3 p-x_4 c_black flex_grow">
                    <h2 class="font_display font_2:lg font_1 font_bold c_primary-n2 m-b_3 m-t_3">Slider Feature Title</h2>
                    <p class="font_0:md font_n1 font_copy m-t_0 m-b_4 p-b_3">This is some short text for the slider feature A.</p>
                </div>
                    <div class="flex_shrink p-x_4 m-b_3"><a href="www.acc.org" class="font_0:lg text_left font_bold h:c_primary-n3 c_primary block p-y_2 lh_2 nowrap m-r_4 expanded-click-area">Read More <i class="fa-solid fa-arrow-right p-x_2"></i></a></div>
            </div>
            <div class="carousel-slide br_1 br_solid br_black-3 br-tl_square br-tr_square shadow_overlap-light br_radius flex flex_column m_3 relative">
                <div class="image w_100">
                    <picture>
                        <source srcset="/-/media/Non-Clinical/Images/Marketing-Images/Features/Triptychs_New/ACC-Meetings/2026/A26043-ACC26-v1_625x350.jpg" media="(min-width: 1024px)">
                        <source srcset="/-/media/Non-Clinical/Images/Marketing-Images/Features/Triptychs_New/ACC-Meetings/2026/A26043-ACC26-v1_625x350.jpg" media="(min-width: 768px)">
                        <source srcset="/-/media/Non-Clinical/Images/Marketing-Images/Features/Triptychs_New/ACC-Meetings/2026/A26043-ACC26-v1_625x350.jpg" media="(min-width: 480px)">
                        <img src="/-/media/Non-Clinical/Images/Marketing-Images/Features/Triptychs_New/ACC-Meetings/2026/A26043-ACC26-v1_625x350.jpg" alt="Slider Feature Title">
                    </picture>
                </div>
                <div class="content p-t_4:lg p-t_3 p-x_4 c_black flex_grow">
                    <h2 class="font_display font_2:lg font_1 font_bold c_primary-n2 m-b_3 m-t_3">Slider Feature Title</h2>
                    <p class="font_0:md font_n1 font_copy m-t_0 m-b_4 p-b_3">This is some short text for the slider feature A.</p>
                </div>
                    <div class="flex_shrink p-x_4 m-b_3"><a href="www.acc.org" class="font_0:lg text_left font_bold h:c_primary-n3 c_primary block p-y_2 lh_2 nowrap m-r_4 expanded-click-area">Read More <i class="fa-solid fa-arrow-right p-x_2"></i></a></div>
            </div>
            <div class="carousel-slide br_1 br_solid br_black-3 br-tl_square br-tr_square shadow_overlap-light br_radius flex flex_column m_3 relative">
                <div class="image w_100">
                    <picture>
                        <source srcset="/-/media/Non-Clinical/Images/Marketing-Images/Features/Triptychs_New/ACC-Meetings/2026/A26043-ACC26-v1_625x350.jpg" media="(min-width: 1024px)">
                        <source srcset="/-/media/Non-Clinical/Images/Marketing-Images/Features/Triptychs_New/ACC-Meetings/2026/A26043-ACC26-v1_625x350.jpg" media="(min-width: 768px)">
                        <source srcset="/-/media/Non-Clinical/Images/Marketing-Images/Features/Triptychs_New/ACC-Meetings/2026/A26043-ACC26-v1_625x350.jpg" media="(min-width: 480px)">
                        <img src="/-/media/Non-Clinical/Images/Marketing-Images/Features/Triptychs_New/ACC-Meetings/2026/A26043-ACC26-v1_625x350.jpg" alt="Slider Feature Title">
                    </picture>
                </div>
                <div class="content p-t_4:lg p-t_3 p-x_4 c_black flex_grow">
                    <h2 class="font_display font_2:lg font_1 font_bold c_primary-n2 m-b_3 m-t_3">Slider Feature Title</h2>
                    <p class="font_0:md font_n1 font_copy m-t_0 m-b_4 p-b_3">This is some short text for the slider feature A.</p>
                </div>
                    <div class="flex_shrink p-x_4 m-b_3"><a href="www.acc.org" class="font_0:lg text_left font_bold h:c_primary-n3 c_primary block p-y_2 lh_2 nowrap m-r_4 expanded-click-area">Read More <i class="fa-solid fa-arrow-right p-x_2"></i></a></div>
            </div>
    </div>
    <div class="carousel-nav display_none:touch">
        <button class="carousel-prev bg_white-8 br_0 c_secondary-1 font_4 opacity_9 text-shadow_black-1"><i class="fa-solid fa-chevron-left"></i></button>
        <button class="carousel-next bg_white-8 br_0 c_secondary-1 font_4 opacity_9 text-shadow_black-1"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
    <div class="carousel-dots"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const carouselElement = document.querySelector('.carousel');
        const carousel = new InfiniteCarousel(carouselElement, {
            autoplay: false,
            autoplayDelay: 4000,
            transitionClass: 'transition_4',
            breakpoints: {
                768: 2,
                1024: 3
            }
        });
    });
    
</script>

<style scoped>
    .carousel {
        overflow: hidden;
    }

    .carousel-track {
        display: flex;
    }

    .carousel-slide {
        flex: 0 0 calc((100% / var(--visible-slides)) - (var(--margin-offset) *1px));
        text-decoration: none;
        box-sizing: border-box;
    }

    .carousel-slide img {
        width: 100%;
    }

    .carousel-prev,
    .carousel-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    .carousel-prev {
        left: 10px;
    }

    .carousel-next {
        right: 10px;
    }

    .carousel-dots {
        text-align: center;
        margin-top: 10px;
    }

    .carousel-dots span {
        width: 10px;
        height: 10px;
        margin: 5px;
        border-radius: 50%;
        border: none;
        background: #ccc;
        display: inline-block;
    }

    .carousel-dots span.active {
        background: #333;
    }
</style>