 <script src="https://www.acc.org/Scripts/slider.js"></script>

<div class="carousel m-x_3 m-x_4:md m-x_5:lg" data-cardcount="3">
    <div class="carousel-track">
            <div class="carousel-slide br_1 br_solid br_black-3 br-tl_square br-tr_square shadow_overlap-light br_radius flex flex_column m_3 relative">
                <div class="image w_100">
                    <picture>
                        <source srcset="https://picsum.photos/id/101/625/350" media="(min-width: 1024px)">
                        <source srcset="https://picsum.photos/id/101/625/350" media="(min-width: 768px)">
                        <source srcset="https://picsum.photos/id/101/625/350" media="(min-width: 480px)">
                        <img src="https://picsum.photos/id/101/625/350" alt="SAPs">
                    </picture>
                </div>
                <div class="content p-t_4:lg p-t_3 p-x_4 c_black flex_grow">
                    <h2 class="font_display font_2:lg font_1 font_bold c_primary-n2 m-b_3 m-t_3">SAPs: Your Pathway to Cardiovascular Mastery!</h2>
                    <p class="font_0:md font_n1 font_copy m-t_0 m-b_4 p-b_3">SAPs: Your Pathway to Cardiovascular Mastery!</p>
                </div>
                    <div class="flex_shrink p-x_4 m-b_3"><a href="https://www.acc.org/Education-and-Meetings/Products-and-Resources/SAP" class="font_0:lg text_left font_bold h:c_primary-n3 c_primary block p-y_2 lh_2 nowrap m-r_4 expanded-click-area">Learn More <i class="fa-solid fa-arrow-right p-x_2"></i></a></div>
            </div>
            <div class="carousel-slide br_1 br_solid br_black-3 br-tl_square br-tr_square shadow_overlap-light br_radius flex flex_column m_3 relative">
                <div class="image w_100">
                    <picture>
                        <source srcset="https://picsum.photos/id/180/625/350" media="(min-width: 1024px)">
                        <source srcset="https://picsum.photos/id/180/625/350" media="(min-width: 768px)">
                        <source srcset="https://picsum.photos/id/180/625/350" media="(min-width: 480px)">
                        <img src="https://picsum.photos/id/180/625/350" alt="ACC Anywhere">
                    </picture>
                </div>
                <div class="content p-t_4:lg p-t_3 p-x_4 c_black flex_grow">
                    <h2 class="font_display font_2:lg font_1 font_bold c_primary-n2 m-b_3 m-t_3">ACC Anywhere</h2>
                    <p class="font_0:md font_n1 font_copy m-t_0 m-b_4 p-b_3">Access Top Science and Insightful Presentations on Any Topic With ACC Anywhere</p>
                </div>
                    <div class="flex_shrink p-x_4 m-b_3"><a href="https://start.accanywhere.acc.org/?utm_source=website&utm_medium=acc_homepage&utm_campaign=acc-anywhere-sales-page" class="font_0:lg text_left font_bold h:c_primary-n3 c_primary block p-y_2 lh_2 nowrap m-r_4 expanded-click-area">Start Watching <i class="fa-solid fa-arrow-right p-x_2"></i></a></div>
            </div>
            <div class="carousel-slide br_1 br_solid br_black-3 br-tl_square br-tr_square shadow_overlap-light br_radius flex flex_column m_3 relative">
                <div class="image w_100">
                    <picture>
                        <source srcset="https://picsum.photos/id/200/625/350" media="(min-width: 1024px)">
                        <source srcset="https://picsum.photos/id/200/625/350" media="(min-width: 768px)">
                        <source srcset="https://picsum.photos/id/200/625/350" media="(min-width: 480px)">
                        <img src="https://picsum.photos/id/200/625/350" alt="EP SAP">
                    </picture>
                </div>
                <div class="content p-t_4:lg p-t_3 p-x_4 c_black flex_grow">
                    <h2 class="font_display font_2:lg font_1 font_bold c_primary-n2 m-b_3 m-t_3">EP SAP</h2>
                    <p class="font_0:md font_n1 font_copy m-t_0 m-b_4 p-b_3">Maintain Your EP Certification Your Way With EP SAP</p>
                </div>
                    <div class="flex_shrink p-x_4 m-b_3"><a href="https://www.acc.org/Education-and-Meetings/Products-and-Resources/SAP/EPSAP" class="font_0:lg text_left font_bold h:c_primary-n3 c_primary block p-y_2 lh_2 nowrap m-r_4 expanded-click-area">Subscribe Today <i class="fa-solid fa-arrow-right p-x_2"></i></a></div>
            </div>
    </div>
    <div class="carousel-nav display_none:touch">
        <button class="carousel-prev bg_white-8 br_0 c_secondary-1 font_4 opacity_9 text-shadow_black-1"><i class="fa-solid fa-chevron-left"></i></button>
        <button class="carousel-next bg_white-8 br_0 c_secondary-1 font_4 opacity_9 text-shadow_black-1"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
    <div class="carousel-dots"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const carouselElement = document.querySelector('.carousel');
        const carousel = new InfiniteCarousel(carouselElement, {
            autoplay: false,
            autoplayDelay: 4000,
            transitionClass: 'transition_4',
            breakpoints: {
                768: 2,
                1024: 3
            }
        });
    });
    
</script>

<style scoped>
    .carousel {
        overflow: hidden;
    }

    .carousel-track {
        display: flex;
    }

    .carousel-slide {
        flex: 0 0 calc((100% / var(--visible-slides)) - (var(--margin-offset) *1px));
        text-decoration: none;
        box-sizing: border-box;
    }

    .carousel-slide img {
        width: 100%;
    }

    .carousel-prev,
    .carousel-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    .carousel-prev {
        left: 10px;
    }

    .carousel-next {
        right: 10px;
    }

    .carousel-dots {
        text-align: center;
        margin-top: 10px;
    }

    .carousel-dots span {
        width: 10px;
        height: 10px;
        margin: 5px;
        border-radius: 50%;
        border: none;
        background: #ccc;
        display: inline-block;
    }

    .carousel-dots span.active {
        background: #333;
    }
</style>
