---
layout: arches-sidebar
name: "AACC (Associate)"
position: "JOIN US"
sidebarRoot: Join Us
sidebarRootURL: ../Join
masthead: masthead_join.html
sidebarArray:
-   label: Fellow of the ACC
    url: ../Join_FACC
    active: false
-   label: Associate of the ACC
    url: ../Join_AACC
    active: true
-   label: Cardiovascular Team
    url: ../Join_CVTEAM
    active: false
-   label: Cardiovascular Administrator
    url: ../Join_CVADMIN
    active: false
-   label: Trainees & Students
    url: ../Join_STUDENT
    active: false
-   label: Outside US &amp; Canada
    url: ../JOIN_International
    active: false
-   label: Affiliate
    url: ../Join_AFFILIATE
    active: false
-   label: Benefits
    url: ../Join_BENEFITS
    active: false
---
                <div
                       
                class="relative isolation_isolate grid columns_5:lg columns_2 p-t_5:lg p-t_4 m-x_n4 m-b_5:lg m-b_4 gap_4" style="--col-1: 1fr;">
                <div zone-label="main-content"
               
                        class="reading-typography  col-start_start col-end_4:lg col-end_end p-x_5:lg p-x_4">
                   
                   
            
        
            <h1>Associate of the American College of Cardiology (AACC)</h1>
        <p>Reserved for nationally<strong> Board-certified cardiovascular professionals</strong>,or those who have
            demonstrated their excellence through successful completion of the CCKE examination. This professional
                credential is our advanced membership offering, and bestows upon qualified applicants some of the most
                    distinguished credentials offered by the College. It signals to patients and peers that the reci
p           ient
                        holds advanced training, education and commitment to quality.</p>
        
    
    </div>
    <div class="relative col-start_n3:lg col-start_start col-end_end font_n1 font_0:lg">
        <div data-item="cta-overlay"
                class="bg_primary-n2 br_round c_white color_inherit shadow_overlap-light m-x_4 m-x_5:lg p_4 p_5:lg reading-typography  z_1 sticky t_3">
                <h3 data-item="cta-title" class="font_medium">Already a Member?</h3>
                    <div data-item="cta-description" class="font-size_up lh_2">
                            <ul class="ul_none">
                                    <li><a href="https://www.acc.org/login?returnUrl=https://www.acc.org/my-acc/my-profile"><i
                                            class="fas fa-user p-r_3"></i>Access your profile</a></li>
                                <li><a href="https://www.acc.org/login?returnUrl=https://www.acc.org/My-ACC/My-Membership"><i
                                            class="fas fa-check p-r_3"></i>Renew your membership</a></li>
                   
                            <li><a href="https://www.acc.org/login?returnUrl=https://www.acc.org/My-ACC/Personalization"><i
                                        class="fas fa-pencil p-r_3"></i>Personalize your ACC.org</a></li>
                            </ul>
                            </div>
                    </div>
                </div>
            </div>
                   
        
        <div class="reading-typography m-x_n4 p_5 m-b_4 m-b_5:lg br_radius">
                <h2>Qualified Professionals
                        <small class="block">Membership is open to the following professionals:</small>
                </h2>
                <ul class="grid columns_2:lg columns_1 marker_primary gap-x_5 ">
                    <li>Clinical Nurse Specialists</li>
                   
                <li>PAs </li>
            <li>Nurse Practitioners </li>
        <li>Clinical Pharmacists </li>
        <li>Registered Nurses </li>
        <li>Genetic Counselors
            <li>Cardiovascular Technologists <small class="block font_italic">(Sonographers<sup
                            class="c_primary font_xbold">*</sup>, Electrophysiology
                            Specialists<sup class="c_primary font_xbold">*</sup>, Invasive Specialists<sup
                                    class="c_primary font_xbold
            ">*</sup>, Vascular Specialists<sup class="c_primary font_xbold">*</sup>,
                            Perfusionists)</small></li>
               
               
                    <li>Cardiovascular Rehabilitation Professionals<small class="block font_italic"> (Clinical Psychologists,
                            Clinical Social Workers, Exercise Physiologists, Occupational Therapists, Physical Therapists,
                                Registered Dietitians) </small></li>
               
               
                    </li>
            </ul>
            <p class="font-size_down-1 opacity_8 font-italic">
                    <!--<sup class="c_primary font_xbold">*</sup>Currently, Cardiovascular Technologists can only apply for CV Team membership and Fellow of the ACC.<br />-->
                <sup class="c_primary font_xbold">*</sup>Certified by Cardiovascular Credentialing International or the American
                Registry of Diagnostic Medical
                    Sonography
               
                </p>
                   
               
            </div>
            
            <div class="reading-typography bg_black-1 m-x_n4 p_5 m-b_4 m-b_5:lg br_radius" style="--col-1: 1fr;">
                   
                <h2>Benefits</h2>
                <ul class="columns_2:lg gap-x_6 gap-y_4 grid p-x_4:lg ul_none">
                   
                    {% include_relative JOIN/Benefits/JACC.html %}
                   
                    {% include_relative JOIN/Benefits/ClinicalGuidelines.html %}
                    {% include_relative JOIN/Benefits/EducationDiscounts.html %}
                    {% include_relative JOIN/Benefits/Networking.html %}
                            {% include_relative JOIN/Benefits/SectionsCouncils-AACC_CVTEAM.html %}
                {% include_relative JOIN/Benefits/__ReadMore.html %}
        </ul>
</div>
<div class="reading-typography m-b_5:lg m-b_4">
        <div class="flex flex_row items_start m-x_4:md p-y_4">
                <h2>Pricing</h2>
                </div>
            <ul class="flex flex_row:lg flex_column gap_5 ul_none font_copy font_0">
        
                    <li>
                        <div data-element="data-table"
                                class="bg_primary-n2 br_round c
            _white c_white-8 color_inherit inherit_all p_4 p_5:md reading-typography shadow_bevel-light relative">
                            <header class="font_display font_4">
               
               
            
               
                                <h3 class="font-size_up-2 lh_2"><span class="font_bold c_white">$149</span><span>/Annual Dues</span>
                                </h3>
                   
                            </header>
                            <main>
                                <hr class="br_dashed br_solid br_white-4 m-t_2">
                                <ul class="c_white-9 flex flex_column font-size_1 font_medium gap-y_3 m-l_4 p-b_4 p-x_3 ul_none">
                                        <li class="text-indent_n1"><i class="fas fa-usd m-r_2 c_primary-5"
                                            aria-hidden="true">25</i>Application Fee</li>
                                </ul>
                                </main>
                       
            
                            <footer class="m-b_n3:md"><a href="{% include_relative JOIN/JOINURL.txt %}" 
                                        class="bg_white btn btn_primary c_primary-n2 h:bg_white-5 h:undecorated not-link
                    shadow_overlap-light expanded-click-area">Join
                   
                   
                                    Now</a></footer>
                            <abbr title="United States Dollar"
                                    class="absolute b_4 block font_n1 font_xbold lh_0 m-r_2 opacity_5 r_4 z_1">USD</abbr>
            
                        </div>
                    </li>
            
                </ul>
            
            </div>
            <div class="relative bg_black-1 p_4 br_radius">
                    <div class="m-x_4:md p-y_4">
            
                <h2>Membership Criteria</h2>
            
    </div>
    {% include_relative JOIN/MembershipCriteria/Associate_Certified.html %}

        <!-- <div class="relative">
                <header id="accordion_header"
                        class="flex flex_row sticky t_n2 bg_white shadow_overlap-light br_solid br_1 br_black-2 z_2 ">
                        <div class="h:bg_primary-5 m_2 c_primary h:c_primary-n2 br_radius">
                            <div class="flex_none collapsed" aria-expanded="false" data-bs-toggle="collapse"
                                    data-bs-target="#BoardCertifiedPhysician" aria-controls="#BoardCertifiedPhysician">
                                <span class="fa-stack">
                                    <i class="fas fa-minus fa-s
t                   ack-1x"></i>
               
                                    <i class="fas fa-minus rotate_90 a:rotation fa-stack-1x "></i>
                                </span>
                                </div>
                            </div>
                    <div class=" font-size_up flex_auto flex flex_row justify_center p-y_2">
                    <div class="flex_auto self_center reading-typography no-margins">
                    <h3> Associate of the ACC
                        (Board Certified)</h3>
                </div>
                </div>
            </header>
            <main  id="BoardCertifiedPhysician"
            class="bg_black-_05 br-bl_radius br-br_radius m-x_0 m-x_3:md p_4 reading-typography shadow_emboss-light tab-content transition_4 collapse"

            aria-labelledby="accordion_header m-x_3">
                {% include_relative JOIN/MembershipCriteria/Associate_Certified.html %}
            </main>
    </div> -->

 {
</div>         
        
            
        
        
                    
        

   
   
   
   

                
       
                        
                                
 {    
                            
               
    
    
            
            
                    
    
             
 { 
 { 
      
            
                                
                                

         
    
                    
                

         
        
        
        
        
        
        
        
        
        
    

         
       
        
        
        
        
        
        
        
    
                
       
                                        
    
               
            
             
    
    
                                                            
        
                        
        
    
    
                
                
                
                
                        
                        
                        
                        
                        
                        
                        
                        
                        
                
     {         
                        
     {                                                                                                                                                  
                                             
                                                            