---
layout: arches
name: Home Access
position: "Section Member"
---

{% include MicroSite/heroimage.dynamic.html parent_link ="#" parent_page_name
="Member Sections" page_title ="Women in Cardiology: Member Section" cta_title
="DocMater where the conversation matters. " cta_description ="Unlock exclusive resources,
expand your influence, and support our mission. Join the Women in Cardiology
section today!" cta_link ="" cta_button_text ="Join the Conversation" %}

<section grid-template="page-layout" class="">
  <div grid-area="sidebar-primary">
    <nav class="nav-sub bg_primary c_white font_2 font_ui">
      <ul class="ul_none flex_column flex">
        <li class="nav-item font-size_up" data-nav="parent">
          <div class="bg_black-4">
            <a
              href="../index/"
              class="text-shadow_black-1 block w_100 c_white p-y_2 p-x_4 w_100 h:c_white inline-block h:underline self_center active"
              >Women in Cardiology</a
            >
          </div>
        </li>

        <li class="nav-item" data-nav="child">
          <div class="flex flex_row">
            <div class="flex flex_column flex_none justify_start">
              <div class="flex_none">
                <span class="fa-stack">
                  <i class="fas fa-minus fa-stack-1x"></i>
                  <i class="fas fa-minus rotate_90 a:rotation fa-stack-1x "></i>
                  </span>
              </div>
            </div>
            <div class="flex_auto self_center">
              <a
                href="../about/"
                class="text-shadow_black-1 c_white-9 p-y_2 p-x_3 w_100 h:c_white inline-block h:underline self_center a:bg_black-3 "
                >About</a
              >
            </div>
          </div>
        </li>

        <li class="nav-item" data-nav="child">
          <div class="flex flex_row">
            <div class="flex flex_column flex_none justify_start">
              <div class="flex_none">
                <span class="fa-stack">
                  <i class="fas fa-spacer fa-stack-1x" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div class="flex_auto self_center">
              <a
                href="../announcements.html"
                class="text-shadow_black-1 c_white-9 p-y_2 p-x_3 w_100 h:c_white inline-block h:underline self_center a:bg_black-3"
                >Announcements</a
              >
            </div>
          </div>
        </li>

        <li class="nav-item" data-nav="child">
          <div class="flex flex_row">
            <div class="flex flex_column flex_none justify_start">
              <div class="flex_none">
                <span class="fa-stack">
                  <i class="fas fa-spacer fa-stack-1x" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div class="flex_auto self_center">
              <a
                href="../webinars"
                class="text-shadow_black-1 c_white-9 p-y_2 p-x_3 w_100 h:c_white inline-block h:underline self_center a:bg_black-3"
                >Webinars</a
              >
            </div>
          </div>
        </li>

        <li class="nav-item" data-nav="child">
          <div class="flex flex_row">
            <div class="flex flex_column flex_none justify_start">
              <div class="flex_none">
                <span class="fa-stack">
                  <i class="fas fa-minus fa-stack-1x"></i>
                  <i class="fas fa-minus rotate_90 a:rotation fa-stack-1x "></i>
                  </span>
              </div>
            </div>
            <div class="flex_auto self_center">
              <a
                href="../resources"
                class="text-shadow_black-1 c_white-9 p-y_2 p-x_3 w_100 h:c_white inline-block h:underline self_center a:bg_black-3"
                >Resources</a
              >
            </div>
          </div>
        </li>

        <li class="nav-item" data-nav="child">
          <div class="flex flex_row">
            <div class="flex flex_column flex_none justify_start">
              <div class="flex_none">
                <span class="fa-stack">
                  <i class="fas fa-spacer fa-stack-1x" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div class="flex_auto self_center">
              <a target="blank"
                href="../members_area"
                class="text-shadow_black-1 c_white-9 p-y_2 p-x_3 w_100 h:c_white inline-block h:underline self_center a:bg_black-3"
                >Doc Matter <i class="fa-solid fa-external-link-alt font-size_down m-l_3"></i></a
              >
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <div
    grid-area="content"
    class="wrapper-container"

    
  >
  <section class="grid columns_1 columns_3:lg">
    <main zone-label="introduction" class="reading-typography font-size_up p-l_4:lg max-w_65 p-t_5:lg p-t_4 col-start_start col-end_end col-end_n2:lg " style="--custom-font-size-up: 1.06">
      <h2 class="lh_2 m-b_4">
        The Women in Cardiology: Member Section
         <small class="block font-size_down-1"
           >Where we champion women’s leadership, professional growth, and
           wellness.</small
         >
       </h2>
       <p>The Women in Cardiology Section of the ACC offers women cardiologists opportunities to strengthen their professional support system and skills through networking events, professional development and mentoring programs. In addition, membership and active involvement in the Section provides a training ground for developing leadership skills and understanding the governance structure and avenues to leadership within the College.</p>
      </main>
    <aside class="col-end_end col-start_start col-start_n2:lg reading-typography wrapper-container p-l_4:lg">
      <div class="m-t_4:lg m-r_4:lg bg_white br_1 br_black-3 br_radius br_solid grid columns_2 columns_3:md gap_4 items_start justify_start p_4 shadow_overlap-light">
        <img src="https://www.acc.org//-/media/Non-Clinical/Images/2019/07/01/Lundberg-Gina-600x600.jpg" class="aspect_1x1 bg_secondary-4 br_radius m_auto max-w_20 self_center w_100 col_all col-end_2:md">
        <div class="font_display lh_1 c_secondary-n1 col-start_2:md col_all">
          Gina Price Lundberg, MD, FACC
          <strong class="block font-size_down-1 c_primary font_bold">Chair</strong>
          <div class="col_all items_center justify_center grid m-t_3 ">
            <a href="#about" class="btn btn-secondary col_all">Message from Chair</a>
          </div>
        </div>
      </div>
    </aside>
  </section>
  <section class="columns_1 grid columns_2:lg gap_5:lg gap_4 reading-typography ">
    <div>
      <h3>Mission</h3>
      <div class="wrapper-container">{% include_relative PageBlocks/UL_IconHeadlineText.html %}</div>
    </div>
    <div>
      <h3>Initiatives</h3>
      <div class="wrapper-container">{% include_relative PageBlocks/UL_IconHeadlineText.html %}</div>
    </div> 
  </section>
  </div>
</section>
