<article class="">
    <div class="absolute r_n1 t_3 text_center flex flex_column:md justify_end align-right font_n2:md font_n3 overflow_hidden">
        <div class="flex flex_row justify_end c_white"><span class="flex_shrink p-y_2 p-x_3 br_1 br_solid br_white-7 bg_acc-1"><span class="display_none m-b_2 m-t_1 p-x_2">editor’s pick</span> <i class="fas fa-fw m-t_1 m-b_2 fa-thumbs-up"></i></span></div>
    </div>
    <div class="flex flex_row:md flex_column gap-x_4">
        <div class="flex_auto m-r_4:md">
            <h2 class="article-title c_primary-n2 cursor_pointer font-size_up font_display font_medium h:underline lh_1 m-y_2">
				<span class="journal-title c_accent-2 font_bold uppercase wrap block:md font_n1">Expert Consensus</span>
				Long-Term Cardiovascular Outcomes After Bariatric Surgery in the Medicare Population | Journal of the American College of Cardiology</h2>
            <div class="font-size_down font_bold lh_1 m-b_0:md m-b_3 m-l_0:md m-l_3 m-t_2:md meta opacity_6">
                <span class="c_black-7 m-r_3">Apr 11, 2022</span>
            </div>
        </div>
    </div>

</article>