<article class="relative font_ui br_solid br_1  br_black-2  br_radius p_3 bg_white shadow_1 m_2">
    <!-- <article class="relative font_ui  br_radius br_1 br_black-3 bg_black_-05 br_solid p_3"> -->
    <div class="flex flex_row:md flex_column gap-x_4">
        <div class="flex_auto m-r_4:md">
            <h2 class="article-title c_primary-n2 cursor_pointer font-size_up font_display font_medium  h:underline lh_1 m-y_2">
                <span class="journal-title c_accent-2 font_bold uppercase wrap block:md font_n1">Journal Article</span> The Growing Case for Use of SGLT2i in Heart Failure: Additional Benefits of Empagliflozin in a HFpEF Rodent Model∗
            </h2>
            <div class="meta m-t_2:md m-l_3 m-l_0:md m-b_3 m-b_0:md font_bold opacity_6 font_n2">
                <span class="c_black-7 m-r_3">Apr 11, 2022</span>
            </div>
        </div>
    </div>
</article>