<article class="relative font_ui">
    <div class="flex flex_row:md flex_column gap-x_4">
		<div class="flex_auto m-r_4:md">
		    <h2 class="article-title c_primary-n2 cursor_pointer font-size_up font_display font_medium  h:underline lh_1 m-y_2">
				<span class="journal-title c_accent-2 font_bold uppercase wrap block:md font_n1">Journal Article</span>
				The Growing Case for Use of SGLT2i in Heart Failure: Additional Benefits of Empagliflozin in a HFpEF Rodent Model∗</h2>
            <div class="meta m-t_2:md m-l_3 m-l_0:md m-b_3 m-b_0:md font_bold opacity_6 font-size_down">
                <span class="c_black-7 m-r_3">Apr 11, 2022</span>
            </div>
        </div>
    </div>
</article>