<article class="br_radius br_1 br_black-3 bg_black_-05 br_solid p_4 relative m-b_4 font_ui">
    <div class="flex flex_row:md flex_column gap-x_4">
        <div class="aspect_1x1 flex_none " style="width: 2rem;">
        	<i class="fas fa-question c_white aspect_1x1 flex_none bg_acc grid justify_center items_center"></i>
        </div>
		<div class="flex_auto m-r_4:md">
		    <h2 class="article-title c_primary-n2 cursor_pointer font-size_up font_display font_medium  h:underline lh_1 m-y_2">Slide Set | 2022 AHA/ACC/HFSA Guideline for the Management of Heart Failure</h2>
            <div class="meta m-t_2:md m-l_3 m-l_0:md m-b_3 m-b_0:md font_bold opacity_6 font-size_down">
                <span class="c_black-7 m-r_3">Apr 11, 2022</span>
            </div>
        </div>
    </div>
</article>