<article class="br_solid br_1  br_black-3 relative font_copy flex_column flex justify_start w_100 relative isolation_isolate" amsproductid="ACCSAPSUB">
	<header class="relative">
		<div class="">
			<div class="br_1 br-t_0 br_solid br_black-4 bg_cover font_4 h_lh_2 text-shadow_black-1 font_display p_3 c_white bg-blend_multiply bg_right" style="background-image: url(https://www.acc.org/-/media/Non-Clinical/Homepage/Products/F21153-Product-Section_ACCSAP.jpg);"><span class="uppercase font_xbold">ACC</span><span class="uppercase font_light">SAP</span></div>
		</div>
	</header>
	<main class="relative p-t_4 flex flex_row gap-x_5">
		<p class="font_0:lg font_n1 p-r_3 p-r_4:lg p-l_3 lh_2"><span>ACC's flagship self-assessment program covering the entire field of adult clinical cardiology.</span></p>
<ul class="flex_none font-size_down-2 p-r_2 text_right ul_none">
			<li class="c_primary-n2 font-size_up font_bold">Product Status</li>
			<li><i class="fas fa-check m-r_3 c_success"></i> Purchased</li>
			<li><i class="fas fa-check m-r_3 c_success"></i>Enrolled in CMP</li>
		</ul>
	</main>
	<footer class="flex flex_row justify_center items_center p-x_3 p-b_4 gap_4">
		<a href="" class="btn btn-primary inline-block shadow_overlap-light"> Launch SAP</a>
	</footer>
</article>