<article class="relative font_ui br_solid br_1  br_black-2  br_radius p_3 bg_white shadow_1 m_2 flex flex_column" amsproductid="ACCSAPSUB">
	<header class="relative">
		<div class="">
			<div class="br_1 br-t_0 br_solid br_black-4 bg_cover font_4 h_lh_2 text-shadow_black-1 font_display p_3 c_white bg-blend_multiply bg_right br-tr_radus overflow_hidden" style="background-image: url(https://www.acc.org/-/media/Non-Clinical/Homepage/Products/F21153-Product-Section_ACCSAP.jpg);"><span class="uppercase font_xbold">HF</span><span class="uppercase font_light">SAP</span></div>
		</div>
	</header>
	<main class="relative p-t_4 flex flex_row gap-x_5">
		<p class="font_0:lg font_n1 p-r_3 p-r_4:lg p-l_3 lh_2"><span>HF SAP covers the entire field of advanced heart failure and transplant cardiology.</span></p>
	</main>
	<footer class="flex flex_row justify_center items_center p-x_3 p-b_4 gap_4">
		<a href="" class="btn btn-primary inline-block shadow_overlap-light"> Launch SAP</a>
	</footer>
</article>