---
layout: arches
name: "About"
position: "About"
---
{% include_relative  PageBlocks/HeroArea.html  custom_fontsize="1.02" %}

<section class="reading-typography font-size_up p-x_4:lg m-b_5:lg bg_black-2 m-x_n4 p-t_1 p-b_1 shadow_emboss-light" style="--custom-font-size-up: 1.06;">
  <div class="grid columns_2:md columns_1 m-y_5:md m-y_4 text_center">
    <div class="p-x_5:lg p-x_4:md p_4 shadow_overlap-light m_4 m-x_6:lg m-x_5:md br_radius bg_white">
      <h2 class="c_white font_medium lh_2 bg_primary-n2 m-t_n4 m-x_n5:lg m-x_n4 p_3 m-b_5">Mission</h2>
      <p>To transform cardiovascular care and improve heart health for all </p>
    </div>
    <div class="p-x_5:lg p-x_4:md p_4 shadow_overlap-light m_4 m-x_6:lg m-x_5:md br_radius bg_white">
      <h2 class="c_white font_medium lh_2 bg_accent-n2 m-t_n4 m-x_n5:lg m-x_n4 p_3 m-b_5">Vision</h2>
      <p> A world where science, knowledge and innovation optimize patient care and outcomes </p>
    </div>
  </div>
  <div class="p_4 m_auto text_left text_center:md shadow_overlap-light m_4 m-x_6:lg m-x_5:md m-x_4 m-b_4 m-b_5:lg br_radius bg_white" >
    <h2 class="c_white font_medium lh_2 bg_acc-n2 m-t_n4 m-x_n4 p_3 m-b_5" >Core Values</h2>
    <div class="max-w_45 m_auto">
    <p>
      We will achieve the mission and vision through our core values: patient-centered; teamwork and collaboration; and professionalism, excellence, and equity.  
    </p>
    </div>
    {% include_relative  PageBlocks/UnOrderedListIcon.html header="" custom_fontsize="1.02" %}
</div>

</section>
<section class="reading-typography font-size_up color_inherit m-x_n4 m-t_n5:lg m-b_5:lg m-b_4 p-t_1 p-b_1" style="--custom-font-size-up: 1.02;">
 <div class="grid columns_3:lg columns_2 rows_2:lg rows_3 gap_1" style="
 --row-1: auto;
 --row-2: auto;
 --row-3: auto;
">

<div class="bg_primary-n2 c_white col-end_3 col-start_start color_inherit columns_1 relative rows_1 ">
  <div class="row_all col_all p_4 p_5:lg">
  <h2>Steeped in Tradition, Posed for the Future </h2>
  <p>In 1949, 13 cardiologists founded the ACC, creating a professional home for cardiovascular clinicians. The College has since evolved into a global cardiovascular leader, uniting more than 56,000 members spanning the entire cardiovascular care team. </p>
</div>
</div>
<div class="aspect_1x1 grid rows_1 columns_1 isolation_isolate relative">
  <img class="row_all col_all z_0" src="/PrototypingACCorg/assets/images/ACC/History.png" alt="Building on our history painting">
  <div class="bg-blend_darken bg_black-5 col_all row_all z_1"></div>
  <a class="c_white col_all expanded-click-area font_2 font_bold font_copy grid h:bg_black-5 items_end justify_end not-link p_4 row_all z_2 text_right" href=""><span>History <i class="p-l_3 far fa-arrow-right"></i></span> </a>
</div>
<div class="aspect_1x1 grid rows_1 columns_1 isolation_isolate relative">
  <img class="row_all col_all z_0" src="/PrototypingACCorg/assets/images/ACC/Governance.png" alt="Building on our history painting">
  <div class="bg-blend_darken bg_black-5 col_all row_all z_1"></div>
  <a class="c_white col_all expanded-click-area font_2 font_bold font_copy grid h:bg_black-5 items_end justify_end not-link p_4 row_all z_2 text_right" href=""><span>Leadership & Governance <i class="p-l_3 far fa-arrow-right"></i></span> </a>
</div>
<div class="bg_acc-n3 c_white col-end_end col-start_n3 color_inherit columns_1 relative rows_1 grid">
  <div class="row_all col_all p_4 p-b_4:lg p-b_6 p_5:lg">
    <h2>75 Years of Innovation: Join Us for the ACC’s Anniversary Gala. </h2>
    <p>The ACC is celebrating its 75th Anniversary and its remarkable achievements, culminating with a 75th Anniversary Gala on March 28, 2025 as part of ACC.25 in Chicago, IL. </p>
    
  </div>
  <a class="c_white col_all expanded-click-area font_2 font_bold font_copy grid h:bg_black-5 items_end justify_end not-link p_4 row_all z_2 text_right" href=""><span>Celebrate with the ACC in Chicago! <i class="p-l_3 far fa-arrow-right"></i></span> </a>
</div>

 </div>



</section>


<section class="reading-typography p-x_4:lg m-b_4 m-b_5:lg  p-t_1 p-b_1" style="--custom-font-size-up: 1.02;">

  <h2>ACC is a Collection of Voices and Points of View </h2>
  <p>Incorporating unique perspectives shapes a more comprehensive, inclusive, and forward-thinking future for the cardiovascular community.  </p>
  <ul class="columns_2:md columns_3:lg  gap-x_6 gap-y_4 grid p-x_4:lg ul_none">
      
      
    <!-- Default pattern for other items -->
    <li class="flex flex_row items_center justify_start isolate relative">
      <em class="c_accent font_7 p-r_4 fa-regular fa-people-group" aria-hidden="true"></em>
      <span class="font-size_up">
        Member Sections 
        
      </span>
    </li>
  
  
  
    <!-- Default pattern for other items -->
    <li class="flex flex_row items_center justify_start isolate relative">
      <em class="c_accent font_7 p-r_4 far fa-regular fa-flag-usa" aria-hidden="true"></em>
      <span class="font-size_up">
       State Chapters
        
      </span>
    </li>
  
  
  
    <!-- Default pattern for other items -->
    <li class="flex flex_row items_center justify_start isolate relative">
      <em class="c_accent font_7 p-r_4 far fa-regular fa-rocket" aria-hidden="true"></em>
      <span class="font-size_up">
        ACC Innovation Program 
        
      </span>
    </li>
  
  
  
    <!-- Default pattern for other items -->
    <li class="flex flex_row items_center justify_start isolate relative">
      <em class="c_accent font_7 p-r_4 far fa-regular fa-people-roof" aria-hidden="true"></em>
      <span class="font-size_up">
        Diversity and Inclusion 
        
      </span>
    </li>
  
  
  
    <!-- Default pattern for other items -->
    <li class="flex flex_row items_center justify_start isolate relative">
      <em class="c_accent font_7 p-r_4 far fa-regular fa-flask-gear" aria-hidden="true"></em>
      <span class="font-size_up">
        User Experience 
        
      </span>
    </li>
  

  
  
</ul>
  </section>

  <section section-label="Cards" class="reading-typography font-size_up m-x_n4 bg_black-2 p_5:lg p_4  m-b_4 m-b_5:lg" style="--custom-font-size-up:  1  ;">
    <h2>Make an Impact with ACC   </h2>
    <p>Join the long tradition of innovative, collaborative and driven individuals dedicated to transforming cardiovascular care and improve heart health for all.  </p>

    <div grid-label="card-holder" class="columns_2:md columns_1 gap_6:lg gap_4 grid ">
      <div grid-area="card" class="br_solid br_black-3 br_1 br_radius p_4 p_5:lg flex flex_column gap_3 bg_white shadow_bevel-bold text_center">
        <h3 class="m-b_0">Interested in Membership?
        </h3>
        <p>Be part of a global community of cardiovascular professionals. </p>
        <div class="flex_row justify_around flex gap_4 w_auto m-x_auto m-t_auto">
          <a href="/About-ACC/UX/Surveys" class="btn m-x_auto btn-secondary m-t_auto">Learn More</a>
          <a href="/About-ACC/UX/Surveys" class="btn m-x_auto btn-primary m-t_auto">Join Now</a>
        </div>
        <a href="" class="font-size_down-1 m-t_4">Already a Member? Login.</a>
      </div>
      <div grid-area="card" class="br_solid br_black-3 br_1 br_radius p_4 p_5:lg flex flex_column gap_3 bg_white shadow_bevel-bold text_center">
        <h3 class="m-b_0">Want to Work at the ACC?
        </h3>
        <p>Join a team dedicated to supporting the cardiovascular community. </p>
        <div class="flex_row justify_around flex gap_4 w_auto m-x_auto m-t_auto">
          <a href="/About-ACC/UX/Surveys" class="btn m-x_auto btn-secondary m-t_auto">Learn More</a>
          <a href="/About-ACC/UX/Surveys" class="btn m-x_auto btn-primary m-t_auto">Search Open Jobs</a>
        </div>
      </div>
      </div>
    </div>


</section>
  
{% include_relative  PageBlocks/IconDecoratedLists.html custom_fontsize="1.02" %}
