---
layout: arches
name: "About"
position: "About"
---
{% include_relative  PageBlocks/HeroArea.html  custom_fontsize="1.125" %}

<section class="reading-typography p-x_4:lg m-b_5:lg bg_black-2 m-x_n4 p-t_1 p-b_1 shadow_emboss-light" style="--custom-font-size-modifier: 1.0125">
  <div class="grid columns_2:md columns_1 m-y_5:md m-y_4 text_center">
    <div class="p-x_5:lg p-x_4:md p_4 shadow_overlap-light m_4 m-x_6:lg m-x_5:md br_radius bg_white">
      <h3 class="c_white bg_primary-n2 m-t_n4 m-x_n5:lg m-x_n4 p_3 m-b_5">Mission</h3>
      <p>To transform cardiovascular care and improve heart health for all </p>
    </div>
    <div class="p-x_5:lg p-x_4:md p_4 shadow_overlap-light m_4 m-x_6:lg m-x_5:md br_radius bg_white">
      <h3 class="c_white bg_accent-n2 m-t_n4 m-x_n5:lg m-x_n4 p_3 m-b_5">Vision</h3>
      <p> A world where science, knowledge and innovation optimize patient care and outcomes </p>
    </div>
  </div>
  <div class="p_4 m_auto text_left text_center:md reading-typography shadow_overlap-light m_4 m-x_6:lg m-x_5:md m-x_4 m-b_4 m-b_5:lg br_radius bg_white" >
    <h3 class="c_white bg_acc-n2 m-t_n4 m-x_n4 p_3 m-b_5" >Core Values</h3>
    <div class="max-w_45 m_auto">
    <p>
      We will achieve the mission and vision through our core values: patient-centered; teamwork and collaboration; and professionalism, excellence, and equity.  
    </p>
    </div>
    {% include_relative  PageBlocks/UnOrderedListIcon.html header="" %}
</div>

</section>

{% include_relative  PageBlocks/IconDecoratedLists.html %}
{% include_relative  PageBlocks/Cards.html container_modifier="m-x_n4 bg_black-2 p_5:lg p_4" button_class="btn-primary" %}