---
layout: arches
name: "TEMP"
position: "Inovation"
---

{% include_relative MicroSite/heroimage.basic.ai.html %}
<div class="reading-typography font-size_up m-t_5:lg m-t_4:md m-t_3" grid-template="page-layout">
    <div grid-area="content">
        <p>
            Artificial intelligence (AI) and digital technology advances have emerged as catalysts for changing how we
            diagnose, treat and manage patients. The following collection of AI resources has been curated to support
            ACC members in understanding and applying AI in the digital transformation of care delivery.
        </p>
    </div>
</div>
<div class="flex flex_row justify_center">
    <h2
        class="c_acc flex flex_row:md flex_column text_center text_left:md flex_shrink font_7:md font_5 font_display font_medium gap_3 items_center nowrap:md p-r_3">
        {% include_relative AI/intro.svg.html %} <span>Introductory</span>
    </h2>
    <span class="block:md display_none br-b_1 br_acc br_solid flex_grow lh_0 m-l_4 self_center"></span>
</div>
<div class="m-t_5:lg m-t_4:md m-t_3" grid-template="page-layout">
    <section grid-area="content" class="reading-typography">

        <p>
            How can AI shape health care? Delve into the following resources for insights and perspectives on the role
            of AI in cardiology.
        </p>
        <ul>
            <li>AI: An Opportunity to Revolutionize Health Care? - Investigating AI's potential in cardiology.</li>
            <li>AI in Cardiology: I Am Robot - A podcast exploring AI's impact in cardiology.</li>
            <li>The Future of Deep Learning in Cardiology</li>
            <li>ChatGPT and Generative AI: What Physicians Should Consider - Understanding the role of advanced AI like
                ChatGPT in medical practice.</li>
            <li><a href="https://www.jacc.org/doi/10.1016/j.jcin.2019.04.048" class="link">Impact of AI on Interventional Cardiology: From Decision</a> - Making Aid to Advanced Interventional Procedure
                Assistance</li>
        </ul> 
        <a href="https://www.ama-assn.org/system/files/ama-ai-principles.pdf">AMA Principles for Augmented Intelligence Development, Deployment and Use </a>
        </section>
    <div grid-area="sidebar-secondary">
        <img src="https://www.jacc.org/cms/asset/320c7b72-5fac-458f-ba76-a72b4e303067/fx1.jpg" alt="" class="w_100" />
    </div>
</div>
<div class="flex flex_row justify_center">
    <h2
        class="c_acc flex flex_row:md flex_column text_center text_left:md flex_shrink font_7:md font_5 font_display font_medium gap_3 items_center nowrap:md p-r_3">
        {% include_relative AI/webinar.svg.html %}
         <span>Webinars and Education</span>
    </h2>
    <span class="block:md display_none br-b_1 br_acc br_solid flex_grow lh_0 m-l_4 self_center"></span>
</div>
<div class="m-t_5:lg m-t_4:md m-t_3" grid-template="page-layout">
    <section grid-area="content" class="reading-typography">
     
        <p>
            The <a href="https://www.acc.org/innovationprogram#sort=%40commonsortdate%20descending" class="link">ACC Innovation Program</a> focuses on how advances in AI can support the ACC’s Mission to transform cardiovascular care and improve heart health for all. Use the following webinars, workbooks, and other educational resources for help implement AI into practice.
          </p>
          <ul>
            <li><a href="https://www.acc.org/Education-and-Meetings/Meetings/Meeting-Items/2024/01/01/01/Webinar-Navigating-the-AI-Landscape" class="link">Navigating the AI Landscape: Choosing the Right Tool for Your Medical Practice</a></li>
            <li>Novel Utilization of Large Language Models in Care Delivery - Integrating AI language models into patient care.</li>
            <li>AI in Cardiovascular Imaging Webinar
              <ul>
                <li>Part 1 - AI's impact on cardiovascular imaging.</li>
                <li>Part 2 - AI's impact on cardiovascular imaging</li>
              </ul>
            </li>
            <li>Point of Care Ultrasound (POCUS) Innovation Workbook - Guide to implementing POCUS in clinical settings.</li>
            <li>ACC Anywhere – Log in or activate your account to access ACC’s on-demand video library. Search “Artificial Intelligence” for curated content from ACC’s live meetings and more.. †</li>
          </ul>
        </section>
    <div grid-area="sidebar-secondary">
        <div class="bg_acc br_radius c_inherit c_inherit-all c_white font-size_down links_inherit p-x_4 p-y_4 reading-typography">
            <p><a href="" class="link"> Listing of Digital Health Companies compiled by Digital.Health‡</a></p>
        </div>
    </div>
</div>
<div class="flex flex_row justify_center">
    <h2
        class="c_acc flex flex_row:md flex_column text_center text_left:md flex_shrink font_7:md font_5 font_display font_medium gap_3 items_center nowrap:md p-r_3">
        <svg class="aspect_1x1" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 400 400" height="1.5em">
            <defs>
                <style>
                    .cls-1 {
                        fill: none;
                        stroke: currentColor;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-width: 8px;
                    }

                    .cls-2 {
                        fill: currentColor;
                        stroke-width: 0px;
                    }
                </style>
            </defs>
            <g>
                <polygon class="cls-1"
                    points="137.17 166.6 137.17 239.6 200.38 276.09 263.6 239.6 263.6 166.6 200.38 130.1 137.17 166.6">
                </polygon>
                <g>
                    <g>
                        <polyline class="cls-1" points="164.56 225.94 182.76 180.26 200.31 225.94"></polyline>
                        <line class="cls-1" x1="171.95" y1="210.93" x2="193.47" y2="210.93"></line>
                    </g>
                    <g>
                        <line class="cls-1" x1="222.03" y1="224.94" x2="222.03" y2="181.25"></line>
                        <line class="cls-1" x1="215.85" y1="225.38" x2="227.77" y2="225.38"></line>
                        <line class="cls-1" x1="216.29" y1="180.81" x2="228.21" y2="180.81"></line>
                    </g>
                </g>
                <line class="cls-1" x1="200.24" y1="306.32" x2="200.24" y2="336.51"></line>
                <polygon class="cls-1"
                    points="113.02 152.66 113.02 253.54 200.38 303.97 287.75 253.54 287.75 152.66 200.38 102.22 113.02 152.66">
                </polygon>
                <line class="cls-1" x1="200.24" y1="102.22" x2="200.24" y2="67.54"></line>
                <line class="cls-1" x1="288.94" y1="251.42" x2="318.84" y2="268.32"></line>
                <line class="cls-1" x1="110.97" y1="150.81" x2="73.28" y2="129.49"></line>
                <line class="cls-1" x1="110.92" y1="254.17" x2="84.77" y2="269.26"></line>
                <line class="cls-1" x1="291.57" y1="149.88" x2="317.72" y2="134.79"></line>
            </g>
            <circle class="cls-2" cx="200.24" cy="48.01" r="19.53"></circle>
            <circle class="cls-2" cx="200.47" cy="351.99" r="19.53"></circle>
            <circle class="cls-2" cx="334.68" cy="124.99" r="19.53"></circle>
            <circle class="cls-2" cx="65.32" cy="124.99" r="19.53"></circle>
            <circle class="cls-2" cx="334.68" cy="276.09" r="19.53"></circle>
            <circle class="cls-2" cx="72.94" cy="276.09" r="19.53"></circle>
        </svg> <span>AI Regulations and Policies</span>
    </h2>
    <span class="block:md display_none br-b_1 br_acc br_solid flex_grow lh_0 m-l_4 self_center"></span>
</div>
<div grid-template="page-layout">
    <section grid-area="content">
        <p>
            Governments, agencies, and medical societies around the world are increasingly developing policies and principles to guide the implementation and use of AI. Explore key regulations and guidelines from the US, EU, and the World Health Organization.
          </p>
          <ul>
            <li>White House AI Bill of Rights Blueprint - Framework for AI utilization in the U.S.</li>
            <li>Ethics and Governance of AI for Health
              <ul>
                <li>WHO Guidance Executive Summary</li>
                <li>WHO Guidance on Large Multi-modal Models</li>
              </ul>
            </li>
            <li><a href="https://www.ama-assn.org/system/files/cpt-appendix-s.pdf" class="link">CPT® Appendix S: AI Taxonomy for Medical Services and Procedures</a></li>
            <li>EU AI Act - AI regulation framework in the EU.
              <ul>
                <li>EU AI Act Compliance Checker</li>
              </ul>
            </li>
          </ul>
        </section>
    <div></div>
</div>
<section id="latest" class="reading-typography bg_primary-5 p_4">
    <h2>The Latest in AI </h2>
    {% include_relative AI/latest-feed.html %}
</section>

<cite grid-template="page-layout">
    <ul grid-area="content" class="ul_none flex flex_column gap_3">
        <li>
            &dagger;You can access ACC Anywhere with your ACC.org login information.
        </li>
        <li>
            &Dagger; This content was developed independently from the content
            developed for ACC.org. This content was not reviewed by the ACC and is
            provided on an "as is" basis. Inclusion on ACC.org does not constitute a
            guarantee or endorsement by the ACC and ACC makes no warranty that the
            content is accurate, complete or error-free.
        </li>
    </ul>
</cite>