---
layout: arches
name: "A to Z Industry Generator"
position: "Home"
---
{% assign alpha_array = 'A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,#' | split: ',' %}
{% assign industry = site.data.industry | sort: 'sortname' %}
{% assign alpha_categories = industry | map: 'grouping' %}
<h1 id="AlphaNavTop" class="font_4 c_primary">Alpha List Render</h1>
<a href="https://raw.githubusercontent.com/ACC-Style/PrototypingACCorg/main/_data/industry.csv" class="link">industry.csv</a>
<section class="relative p-t_2">
  <div class="sticky t_0 r_0 z_1">
    <div class="absolute r_4 t_0 flex flex_row flex_nowrap gap-x_3">
      <!-- Helper Jump links -->
      <a
        class="br-tl_square br-tr_square br_radius btn btn-accent btn-sm grid items_center justify_center m-l_auto self_center shadow_3"
        href="#AlphaNavTop"
      >
        <span>
          <i class="fas fa-arrow-up"></i>
          top</span
        >
      </a>
      <!-- Helper Jump links -->
    </div>
  </div>
  <nav
    class="bg_white br_radius grid items_center p_3 p_4:lg relative shadow_overlap-light z_2 m-t_n2"
  >
    <ul
      class="c_secondary-2 flex:lg flex_row font_bold gap_4 grid grid-col_5 justify_around:lg justify_center m-x_4 m-y_3 ul_none"
    >
      <!-- Loop -->
      {% for alpha in alpha_array %}
        {% if alpha_categories contains alpha %}
          <li class="c_black-7 text_center">
            <a
              class="bg_primary-4 br_radius h:c_white h:bg_primary-n3 p-x_3 block h:undecorated"
              href="#{{ alpha }}"
            >
              {{- alpha -}}
            </a>
          </li>
        {% else %}
          <li class="c_black-7 text_center">{{ alpha }}</li>
        {% endif %}
      {% endfor %}
      <!-- End Loop -->
    </ul>
  </nav>
  {% for alpha in alpha_array %}
    {% if alpha_categories contains alpha %}
      <div
        id="{{alpha}}"
        class="relative br-t_1 br_dotted br_primary-3 w_100 p-y_4 font_0 flex_row flex"
      >
        <div class="flex_none">
          <div
            class="c_white font_8 font_accent font_bold inline-block uppercase shadow_overlap-light bg_primary-n2 lh_0 br_radius p_2 p-x_4 m-x_3 sticky t_4 flex_none"
          >
            {{ alpha }}
          </div>
        </div>
        <ul
          class="flex_auto gap-x_5:lf gap-x_4 gap-y_4 grid grid-col_1 grid-col_2:md grid-col_3:lg p-t_0 p_4 ul_none"
        >
          {% for company in industry %}
            {% if company.grouping == alpha %}
              <li class="lh_1 font_ui flex flex_column font_ui justify_center lh_1">

          
                {% if company.exhibitor_url != null and company.exhibitor_url != '' %}
                <a
                  data-name="newMember__name"
                  class="block font_display c_primary-n2 font-size_up-1 lh_1 m-b_2"
                  target="_blank"
                  href="{{ company.exhibitor_url }}"
                >
                  {{ company.exhibitor_name }}
                </a>
                {% else %}
                <span
                  data-name="newMember__name"
                  class="block font_display c_primary-n4 font-size_up-1 lh_1 m-b_2"
                >
                  {{ company.exhibitor_name }}
                </span>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endfor %}
</section>
