---
layout: arches
name: "COR Colors"
position: "COR"
---
<div class="p_5:lg p_4">

    <h1>Colors CORs</h1>
    <h2>Current</h2>
    <ul class="kss-parameters kss-colors-container gap-x_4 gap-y_3 grid columns-max_15 ul_none">
        {% for color in site.data.currentcolors %}
        <li class="kss-parameters__item kss-color relative br_1 br_solid br_black-3 p_3 br_radius"
            style='background-color: {{ color.hex }};''>
        <p class="kss-parameters__description b_2 l_2 p_3 r_2 w_auto bg_white-7 br_radius shadow_bevel-light">
            <span class="kss-color__name lh_1 font_3 block font_medium font_display p-b_3">{{ color.name }}</span>
            <span class="block font_0">{{ color.hex }}</span>
        </p>
        <div class="kss-parameters__name font_ui font_xbold {{ color.font_color }} flex flex_column">
            {% assign contrast_value = color.contrast | plus: 0 %}
            <span class="AA-true">
                {% if contrast_value >= 4.5 %}
                    <i class="fas fa-check"></i> AA (>4.5)
                {% else %}
                    <i class="fas fa-times"></i> AA (>4.5)
                {% endif %}
            </span>
            <span class="AAA-true">
                {% if contrast_value >= 7 %}
                    <i class="fas fa-check"></i> AAA (>7.0)
                {% else %}
                    <i class="fas fa-times"></i> AAA (>7.0)
                {% endif %}
            </span>
        </div>
    </li>
    {% endfor %}
</ul>
<hr class="m-y_5">
<h2>Proposed</h2>

<ul class="kss-parameters kss-colors-container gap-x_4 gap-y_3 grid columns-max_15 ul_none">
    {% for color in site.data.proposedcolors %}
    <li class="kss-parameters__item kss-color relative br_1 br_solid br_black-3 p_3 br_radius"
        style="background-color: {{ color.hex }};">
        <p class="kss-parameters__description b_2 l_2 p_3 r_2 w_auto bg_white-7 br_radius shadow_bevel-light">
            <span class="kss-color__name lh_1 font_3 block font_medium font_display p-b_3">{{ color.name }}</span>
            <span class="block font_0">{{ color.hex }}</span>
        </p>
        <div class="kss-parameters__name font_ui font_xbold {{ color.font_color }} flex flex_column">
            {% assign contrast_value = color.contrast | plus: 0 %}
            <span class="AA-true">
                {% if contrast_value >= 4.5 %}
                    <i class="fas fa-check"></i> AA (>4.5)
                {% else %}
                    <i class="fas fa-times"></i> AA (>4.5)
                {% endif %}
            </span>
            <span class="AAA-true">
                {%if contrast_value >= 7  %}
                    <i class="fas fa-check"></i> AAA (>7.0)
                {% else %}
                    <i class="fas fa-times"></i> AAA (>7.0)
                {% endif %}
            </span>
        </div>
    </li>
    {% endfor %}
</ul>
</div>