---
layout: arches-nobrand
name: "Gala-Sub Alt B"
position: "AboutUs/Feature/Gala"
---
{% include_relative Gala/style-override.html %}
{% include_relative Gala/sub/hero-branding-cta.html %}
{% include_relative Gala/sub/intro-alt-b.html %}
<section id="impactSection" class="reading-typography">
    <h2 class="c_primary flex items_center opacity_7 m-b_n4">
        <span class="br-b_1 br_solid br_primary flex_grow"></span>
        <div class="aspect_16x9 flex_100 max-w_30 m-x_5:lg m-x_4:md m-b_n5:md p-t_4">
            {% include_relative Gala/impact.svg %}
        </div>
        <span class="br-b_1 br_solid br_primary flex_grow"></span>
    </h2>
    <h3>With your support</h3>
    <p>We can expand our existing strategic programs that were built upon our core objectives. Together, we can grow these programs and create a bright future for the cardiovascular profession. Explore the programs supported through contributions to the ACC Foundation below.</p>
    <div class="relative">
        <span class="absolute l_0 t_0 r_0 block br_primary br-b_2 br_solid display_none:lg"></span>
        <span class="sticky float_right t_0 w_auto r_0 block bg_primary c_acc-n3 display_none:lg z_5 p-x_3 p_2 font_n2 br-br_radius br-bl_radius lh_0">Impact</span>

    <ul class="gap_5 ul_none grid column_1 clear_both columns_3:lg p-b_6:lg p-y_5 items_start relative">
        <li data-element="data-table" class="shadow_bevel-light flex flex_column justify_start font_0 font_copy p_5:md p_4 c_white relative overflow_hidden br_round br_1 br_solid br_white-3">
	<header class="font_display font_3 m-b_3">
		<span class="block font-size_up-1 lh_1 m-t_n2 font_bold">Health Equity Programs</span>
	</header>
	<main>
		<ul class="ul_none gap-y_2 flex flex_column font-size_1 font_medium c_primary p-l_3">
			<li class="lh_2 text-indent_n1 p-l_4"><i class="c_primary-3 fa-solid fa-circle-small m-r_3" aria-hidden="true"></i> Health Equity Education and Training</li>
            <li class="lh_2 text-indent_n1 p-l_4"><i class="c_primary-3 fa-solid fa-circle-small m-r_3" aria-hidden="true"></i> Caring Hearts Community Initiative</li>
            <li class="lh_2 text-indent_n1 p-l_4"><i class="c_primary-3 fa-solid fa-circle-small m-r_3" aria-hidden="true"></i> Diversity in Clinical Trials Resource Center</li>
            <li class="lh_2 text-indent_n1 p-l_4"><i class="c_primary-3 fa-solid fa-circle-small m-r_3" aria-hidden="true"></i> Rural Cardiovascular Health Initiative</li>
            <li class="lh_2 text-indent_n1 p-l_4"><i class="c_primary-3 fa-solid fa-circle-small m-r_3" aria-hidden="true"></i> Health Equity Focused Activities at the ACC Annual Scientific Session</li>         
		</ul>
	</main>
    <div class="z_0 absolute inset_0 br_round bg_secondary" style="filter:blur(30px) opacity(.2);backdrop-filter: blur(3px);"></div> 
</li>
        <li data-element="data-table" class="shadow_bevel-light flex flex_column justify_start font_0 font_copy p_5:md p_4 c_white relative overflow_hidden br_round br_1 br_solid br_white-3">
	<header class="font_display font_3 m-b_3">
		<span class="block font-size_up-1 lh_1 m-t_n2 font_bold"> Workforce Diversification Programs</span>
	</header>
	<main>
		<ul class="ul_none gap-y_2 flex flex_column font-size_1 font_medium c_primary p-l_3">
            <li class="lh_2 text-indent_n1 p-l_4"><i class="c_primary-3 fa-solid fa-circle-small m-r_3" aria-hidden="true"></i> Young Scholars and Internal Medicine</li>
            <li class="lh_2 text-indent_n1 p-l_4"><i class="c_primary-3 fa-solid fa-circle-small m-r_3" aria-hidden="true"></i> Clinical Trials Research (CR) and REACH Cohort</li>
            <li class="lh_2 text-indent_n1 p-l_4"><i class="c_primary-3 fa-solid fa-circle-small m-r_3" aria-hidden="true"></i> Member Leadership Development Programs and Awards</li>
            <li class="lh_2 text-indent_n1 p-l_4"><i class="c_primary-3 fa-solid fa-circle-small m-r_3" aria-hidden="true"></i> International Leadership Development Programs</li>
            <li class="lh_2 text-indent_n1 p-l_4"><i class="c_primary-3 fa-solid fa-circle-small m-r_3" aria-hidden="true"></i> Fellowship Research Awards</li>         
		</ul>
	</main>
    <div class="z_0 absolute inset_0 br_round bg_secondary" style="filter:blur(30px) opacity(.2);backdrop-filter: blur(3px);"></div> 
</li>
        <li data-element="data-table" class="shadow_bevel-light flex flex_column justify_start font_0 font_copy p_5:md p_4 c_white relative overflow_hidden br_round br_1 br_solid br_white-3">
	<header class="font_display font_3 m-b_3">
		<span class="block font-size_up-1 lh_1 m-t_n2 font_bold">Global Innovation Programs</span>
	</header>
	<main>
		<ul class="ul_none gap-y_2 flex flex_column font-size_1 font_medium c_primary p-l_3">
            <li class="lh_2 text-indent_n1 p-l_4"><i class="c_primary-3 fa-solid fa-circle-small m-r_3" aria-hidden="true"></i> Global Heart Attack Treatment Initiative (GHATI)</li>
            <li class="lh_2 text-indent_n1 p-l_4"><i class="c_primary-3 fa-solid fa-circle-small m-r_3" aria-hidden="true"></i> Research Support in Low- and Middle-Income Countries</li>
            <li class="lh_2 text-indent_n1 p-l_4"><i class="c_primary-3 fa-solid fa-circle-small m-r_3" aria-hidden="true"></i> NCD Academy</li>
            <li class="lh_2 text-indent_n1 p-l_4"><i class="c_primary-3 fa-solid fa-circle-small m-r_3" aria-hidden="true"></i> Chapter Section Grants</li>      
		</ul>
	</main>
    <div class="z_0 absolute inset_0 br_round bg_secondary" style="filter:blur(30px) opacity(.2);backdrop-filter: blur(3px);"></div> 
</li>
    </ul>
</div>
<p>To learn more about how you can help sponsor these initiatives and help us make an impact, contact <a href="mailto:philanthropy@acc.org">Brynne MacCann</a>.</p>
</section>
<sections id="sponsorSection">
	<h2 class="c_primary flex items_center opacity_7 m-b_n4">
		<span class="br-b_1 br_solid br_primary flex_grow"></span>
		<div class="aspect_16x9 flex_100 max-w_30 m-x_5:lg m-x_4:md m-b_n5:md p-t_4">
			{% include_relative Gala/sponsors.svg %}
		</div>
		<span class="br-b_1 br_solid br_primary flex_grow"></span>
	</h2>
	{% include_relative Gala/sponsorship-opp-more.html %}
</sections>
{% include_relative Gala/footer.html %}