---
layout: arches-nobrand
name: "Gala"
position: "AboutUs/Feature"
---
{% include_relative Gala/style-override.html %}
{% include_relative Gala/hero-branding-area.html %}

{% include_relative Gala/intro.html %}
<span id="tickets"></span>
<h2 class="c_primary flex items_center opacity_4 m-b_n4">  
	<span class="br-b_1 br_solid br_primary flex_grow"></span>  
	<div class="aspect_16x9 flex_100 max-w_30 m-x_5 m-b_n5 p-t_4">
    {% include_relative Gala/tickets.svg %}
	</div>
	<span class="br-b_1 br_solid br_primary flex_grow"></span> 
</h2>
{% include_relative Gala/tickets.html %}
<h2 class="c_primary flex items_center opacity_4 m-b_n4">  
	<span class="br-b_1 br_solid br_primary flex_grow"></span>  
	<div class="aspect_16x9 flex_100 max-w_30 m-x_5 m-b_n5 p-t_4">
        {% include_relative Gala/details.svg %}
	</div>
	<span class="br-b_1 br_solid br_primary flex_grow"></span> 
</h2>
{% include_relative Gala/event-details.html %}
<h2 class="c_primary flex items_center opacity_4 m-b_n4">  
	<span class="br-b_1 br_solid br_primary flex_grow"></span>  
	<div class="aspect_16x9 flex_100 max-w_30 m-x_5 m-b_n5 p-t_4">
        {% include_relative Gala/tables.svg %}
	</div>
	<span class="br-b_1 br_solid br_primary flex_grow"></span> 
</h2>
{% include_relative Gala/sponsorship-opp.html %}
<h2 class="c_primary flex items_center opacity_4 m-b_n4">  
	<span class="br-b_1 br_solid br_primary flex_grow"></span>  
	<div class="aspect_16x9 flex_100 max-w_30 m-x_5 m-b_n5 p-t_4">
        {% include_relative Gala/sponsors.svg %}
	</div>
	<span class="br-b_1 br_solid br_primary flex_grow"></span> 
</h2>
{% include_relative Gala/sponsorship-opp-more.html %}