<header class="font-size_up-2 font_accent font_medium isolate_isolation overflow_visible grid justify_center items_center" style="translate: 0 -50%;">
	<div id="question-line" class="flex flex_wrap flex_row items_center justify_center z_1 p-x_5:lg p-x_4:md p-x_4 gap-y_4 bg_white w_auto">
		<div data-label="sentence-starter" class="flex_none self_center lh_0 p-x_4 bg_white">I want to</div>
		{% include_relative ACCNavigator/subs/question-line.html %}
		{% include_relative ACCNavigator/subs/result-button.html %}
		<div data-label="sentence-bridge" class="flex_none self_center lh_0 p-x_4 bg_white">Something</div>
		{% include_relative ACCNavigator/subs/question-line.html %}
		{% include_relative ACCNavigator/subs/result-button.html %}
	</div>
</header>