{% assign res = include.res %}
<li class="p-y_3 {% unless forloop.last %}br-b_1 br_black-2 br_solid{% endunless %}{% unless res.url %} opacity_8{% endunless %}"{% unless res.url %} data-role="resource-unlinked"{% endunless %}>
  <div class="flex flex_column flex_row:md gap_2 items_start justify_between">
    <div class="flex_1">
      {% if res.url %}
      <a href="{{ res.url }}" class="font_bold h:undecorated h:underline" {% if res.format == 'external' or res.format == 'journal' %}rel="noopener noreferrer" target="_blank"{% endif %}>
        {{ res.title }}
      </a>
      {% else %}
      <span class="c_shade-n1 font_normal">{{ res.title }}</span>
      {% endif %}
      {% if res.note %}
      <span class="block font-size_down c_shade-n1 m-t_1">{{ res.note }}</span>
      {% endif %}
    </div>
    <div class="flex flex_row flex_none gap_2 items_center font-size_down-2 font_ui{% unless res.url %} opacity_8{% endunless %}">
      {% case res.format %}
      {% when 'journal' %}<span title="Journal article"><i class="fas fa-book-medical" aria-hidden="true"></i><span class="sr-only">Journal</span></span>
      {% when 'pdf' %}<span title="PDF"><i class="fas fa-file-pdf" aria-hidden="true"></i><span class="sr-only">PDF</span></span>
      {% when 'external' %}<span title="External link"><i class="fas fa-external-link-alt" aria-hidden="true"></i><span class="sr-only">External</span></span>
      {% endcase %}
    </div>
  </div>
</li>
