{% assign pages = site.data.ClinicianWellBeing.pages %}
{% assign grid = site.data.ClinicianWellBeing.grids[include.grid_key] %}
{% assign linked = include.linked | default: true %}
<section id="{{ include.zone_id | default: grid.heading | slugify }}" class="m-b_5:lg m-b_4 reading-typography" zone-label="{{ include.zone_label | default: grid.heading }}">
  {% if grid.heading %}
  <h2 class="font_display m-b_3 p-x_5:lg p-x_4:md p-x_0">{{ grid.heading }}</h2>
  {% endif %}
  {% if grid.intro %}
  <p class="m-b_4 max-w_65 p-x_5:lg p-x_4:md">{{ grid.intro }}</p>
  {% endif %}
  <div class="bg_black-1 br_radius m-x_n4 p_4 p_5:lg">
    <ul class="columns_1 columns_2:md {% if include.columns == '3' %}columns_3:lg{% endif %} gap-x_4 gap-y_4 grid ul_none m_0">
      {% for item in grid.items %}
      <li class="flex flex_row:md flex_column items_start:md items_center justify_start isolate relative c_accent-n1 p_3 p_4:md br_radius {% if linked %}h:bg_primary-4{% endif %}">
        <i class="c_inherit-all font_7 self_center self_start:md p_4 p_0:md m-t_4 m-t_3:md p-r_4:md far fa-regular {{ item.icon }}" aria-hidden="true"></i>
        {% if linked %}
          {% if item.url_key %}
            {% assign item_url = pages[item.url_key] | relative_url %}
          {% else %}
            {% assign item_url = item.external_url %}
          {% endif %}
          <a href="{{ item_url }}" class="expanded-click-area not-link h:undecorated font-size_up block" {% if item.external_url %}target="_blank" rel="noopener noreferrer"{% endif %}>
            <strong class="font_bold not-link c_inherit-all lh_2 text_center text_left:md m-b_3 m-b_0:md" style="text-wrap-style: balance;">{{ item.title }}</strong>
            <span class="block font-size_down opacity_8 c_black">{{ item.description }}</span>
          </a>
        {% else %}
          <div class="font-size_up text_center text_left:md">
            <strong class="block font_bold font_display not-link c_inherit-all lh_2 m-b_3 m-b_0:md" style="text-wrap-style: balance;">{{ item.title }}</strong>
            <span class="block font-size_down opacity_8 c_black">{{ item.description }}</span>
          </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
