{% assign stats = site.data.ClinicianWellBeing.stats[include.stats_key] %}
<section id="{{ include.zone_id | default: stats.heading | slugify }}" zone-label="{{ include.zone_label | default: stats.heading }}" class="reading-typography wrapper-container p_4 p-x_5:lg m-b_5">
  {% if stats.heading %}
  <h2 class="font_display m-b_4">{{ stats.heading }}</h2>
  {% endif %}
  <ul class="flex flex_column flex_row:lg gap_5:lg gap_4 ul_none font_copy font_0 m_0 p_0">
    {% for item in stats.items %}
    <li data-element="data-stat" class="flex flex_row items_start gap_3 flex_grow m_0">
      <div class="flex flex_row items_start gap_3 flex_grow">
        <p class="font_display font_bold font_6 font_7:lg lh_1 m-b_0 flex_none c_primary">
          {{ item.value }}{% if item.citation %}<span class="font-size_down-1">*</span>{% endif %}
        </p>
        <span class="br_1 br_solid br_primary-3 flex_shrink m-y_1" style="width: 2px; align-self: stretch; min-height: 3rem" aria-hidden="true"></span>
        <div class="flex_grow">
          <p class="font_medium m-b_0 c_primary-n2">{{ item.context }}</p>
          {% if item.citation %}
          <p class="font-size_down-1 m-t_2 m-b_0 c_black-7"><em>({{ item.citation }})</em></p>
          {% endif %}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
