{% assign pages = site.data.ClinicianWellBeing.pages %}
<aside id="{{ include.zone_id | default: 'toolkit-citation' }}" zone-label="Toolkit Citation"
  class="reading-typography opacity_8 m-t_5 p_4 bg_black-1 br_radius">
  <p class="m_0 text_center max-w_65 font-size_down-1 ">
    Content on this page is adapted from the
    <a href="{{ pages.toolkit_ppt }}" target="_blank" rel="noopener noreferrer">ACC Clinician Well-Being Toolkit (PPT)</a>,
    developed by the ACC BOG Task Force on Wellness, Early Career Section, and Membership Committee Well-Being Work Group.
  </p>
</aside>
