<html class="">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0, width=device-width" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Home - American College of Cardiology</title>
        <meta name="description" content="The American College of Cardiology, a 49,000-member nonprofit medical society, is dedicated to enhancing the lives of cardiovascular patients through continuous quality improvement, patient-centered care, payment innovation and professionalism." />
        <meta name="keyword" content="" />
        <link rel="stylesheet" href="./styles/bootstrap.css" />
        <link rel="stylesheet" href="./styles/ACCLibrary.css" />
        <link rel="stylesheet" href="./arches/dist/css/acc_arches_override.min.css" />
        <link rel="stylesheet" href="./arches/dist/css/color-code_credits.min.css" />
        <link rel="stylesheet" href="./arches/dist/css/color-code_social.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     </head>

<body id="ng-app" ng-app="AccApp" class="user-not-logged-in ng-scope medium-viewport">
    <div id="main-container" class="layout-homepage">
        <header id="header">
            <h1 id="header-logo" role="banner">
               <a href="https://acc-style.github.io/ACC-HomePlayground/">
                  <img src="Images/logo-header-acc.png" alt="American College of Cardiology" class="desktop-logo" />
                  <svg class="mobile-logo-svg">
                     <image xlink:href="Images/logo-header-mobile.svg" src="Images/mobile-logo-2x.png" width="126" height="43" class="mobile-logo-image"></image>
                  </svg>
               </a>
            </h1>
         </header>
        <!-- header -->
        <div id="acc_arches_override" role="main">
            <div class="p_5 reading-typography min-h_80">
                <!-- HOME PAGE PROTOTYPE START -->
                <h1 class=""> BLOCK</h1>
                <h2>WireFrame</h2>
                <h3 class="br-b_1 br_solid br_primary">Desktop</h3>
                <img src="" alt="" class="w_auto m-x_n5 shadow_2">
                <!-- HOME PAGE PROTOTYPE END -->
            </div>
        </div>
        <!-- /main-content -->
        <!-- footer -->

        <!-- /footer wrap-->
        <!--  832.0.0.0 -->
    </div>
</body>

</html>