---
layout: default
---

{% include arches-head.html %}

<body id="ng-app" ng-app="AccApp" class="user-not-logged-in ng-scope medium-viewport"
  style="background-color: #c1d6d9;">
  <div class="max-w_75 m_auto">
    <div class="bg_white shadow_overlap-light">
      {% include arches-header.html %}
      {% include {{ page.masthead }} hero_title=page.hero-title hero_image_base=page.hero_image_base cta_title=page.hero-cta-title cta_description=page.hero-cta-description cta_text=page.hero-cta-text cta_link=page.hero-cta-link parent_page=page.parent-page %}
      <div  grid-template="page-layout">{{content}}
       
      </div>
      {% include arches-footer.html %}
    </div>
  </div>
</body>
