---
layout: jacc
--- 


{{content}}
<style lang="css">
	.lg-fade {
  transition: opacity 0.3s;
}
.h\:opacity:hover{
	opacity: 1;
}
</style>
<script>
let scrollTimeout;

function fadeIn() {
  const fadeElements = document.getElementsByClassName('lg-fade');

  for (let i = 0; i < fadeElements.length; i++) {
	fadeElements[i].classList.remove('opacity_5');
	fadeElements[i].classList.add('opacity_9');
  }
}

function fadeOut() {
  const fadeElements = document.getElementsByClassName('lg-fade');

  for (let i = 0; i < fadeElements.length; i++) {
	fadeElements[i].classList.remove('opacity_9');
	fadeElements[i].classList.add('opacity_5');
  }
}

window.addEventListener('scroll', function () {
  clearTimeout(scrollTimeout);
  fadeIn();

  scrollTimeout = setTimeout(function () {
	fadeOut();
  }, 150);
});
</script>

<style>
.lg-grid {
	--gutter-size: 1.5rem;
	grid-template-columns: minmax(var(--gutter-size), auto) 1fr minmax(var(--gutter-size), auto);
	grid-template-rows: auto minmax(var(--gutter-size), auto);
	grid-template-areas:
		"lg-bridge lg-content lg-alterations"
		"lg-aux-linkages lg-aux-linkages lg-alterations";
	gap: .25rem;
	/* add some space between the grid items */
}

.lg-grid.lg-removed {
	grid-template-columns: minmax(var(--gutter-size), auto) 1fr;
	grid-template-rows: minmax(var(--gutter-size), auto) auto;
	grid-template-areas:
		"lg-bridge lg-alterations"
		"lg-content  lg-content"
		"lg-aux-linkages lg-aux-linkages";
}

.ws_nowrap {
	white-space: nowrap;
}

.lg-bridge {
	grid-area: lg-bridge;
}

.lg-alterations {
	grid-area: lg-alterations;
}

.lg-content {
	grid-area: lg-content;
}

.lg-aux-linkages {
	grid-area: lg-aux-linkages;
}

.lg-grid.lg-removed .lg-content {
	display: none;
}

.grid.debug {
	outline: 1px dotted lightcoral;
}

.grid.debug>* {
	outline: 1px dotted lightcoral;
}

.marker {}
</style>
<style>
.article-section__inline-figure{
  display:grid;
  justify-content: center;
}
.article-table-content a::hover {
color: hsla(var(--primary-h), calc( var( --primary-s ) - ( var( --primary-s ) * 0.025 ) ), calc( var( --primary-l ) - ( var( --primary-l ) * 0.25 ) ), 1);
text-decoration: none;
}
.table,
.figure {
margin: 8px 0 16px;
margin: 0.5rem 0 1rem;
}
table {
margin: 4px 0 8px;
margin: 0.25rem 0 0.5rem;
border-bottom: 1px solid hsla(var(--primary-h), calc( var( --primary-s ) - ( var( --primary-s ) * 0.045 ) ), calc( var( --primary-l ) - ( var( --primary-l ) * 0.45 ) ), 0.5);
border-collapse: collapse;
font-family: "Open Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
table thead tr {
border-bottom: 2px solid hsla(var(--primary-h), calc( var( --primary-s ) - ( var( --primary-s ) * 0.045 ) ), calc( var( --primary-l ) - ( var( --primary-l ) * 0.45 ) ), 0.8);
}
table th {
vertical-align: bottom;
word-break: break-word;
}
table td {
padding: 4px 8px;
padding: 0.25rem 0.5rem;
vertical-align: top;
}
table ul {
margin: 0;
padding: 4px 0;
padding: 0.25rem 0;
}
table .table-align-center {
background-color: #13121206;
box-shadow: unset !important;
font-family: "Roboto Slab","Times New Roman","Lucida Bright",Georgia,serif, "slab";
text-align: center;
}
.article-table-content {
display: block;
}
.article-table-content::after {
-webkit-appearance: button;
box-sizing: border-box;
display: inline-block;
width: calc(100% - 4rem);
margin: 8px 32px;
margin: 0.5rem 2rem;
padding: 8px;
padding: 0.5rem;
border-width: thin;
border-style: none;
border-radius: 6px;
border-color: hsla(var(--primary-h), calc( var( --primary-s ) - ( var( --primary-s ) * 0.025 ) ), calc( var( --primary-l ) - ( var( --primary-l ) * 0.25 ) ), 1) !important;
outline: none;
background-color: var(--primary) !important;
box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.3), 1px 5px 5px rgba(0, 0, 0, 0.01);
content: "Open Table \f08e";
color: white;
font-weight: 500;
font-size: 14.222px;
font-size: 0.8888888889rem;
line-height: 1;
font-family: "Font Awesome 5 Pro";
text-align: center;
text-transform: none;
cursor: pointer;
transition: all 0.1s;
transition-timing-function: ease-out;
}
.article-table-content::after:hover {
background-color: hsla(var(--primary-h), calc( var( --primary-s ) - ( var( --primary-s ) * 0.025 ) ), calc( var( --primary-l ) - ( var( --primary-l ) * 0.25 ) ), 1) !important;
}
.article-table-content::before {
display: block;
width: 100%;
margin: 8px 0 16px;
margin: 0.5rem 0 1rem;
padding: 16px 16px;
padding: 1rem 1rem;
border-radius: 5px;
background-color: hsla(var(--warning-h), calc( var(--warning-s) + ((100% - var(--warning-s)) * 0.06) ), calc( var(--warning-l) + ((100% - var(--warning-l)) * 0.6) ), .8);
content: "\f0ce  View Table in New Tab  \f0ce";
color: #131212;
font-weight: 900;
font-size: 18px;
font-size: 1.125rem;
font-family: "Font Awesome 5 Pro";
text-align: center;
}
@media only screen and (min-width : 768px) {
.article-table-content::before {
  font-family: inherit;
  margin: 0.5rem 0 0.5rem;
  background-color: transparent;
  content: "<--  Tables May Scroll Left to Right  -->";
  color: hsla(var(--warning-h), calc( var( --warning-s ) - ( var( --warning-s ) * 0.01 ) ), calc( var( --warning-l ) - ( var( --warning-l ) * 0.1 ) ), 1);
  font-size: 0.8888888889rem;
}
}
.article-table-content table tr {
position: relative;
}
.article-table-content > div {
width: calc(100% + 0rem);
height: auto;
overflow-x: auto;
box-shadow: inset -4px 0 5px 0px hsla(var(--primary-h), calc( var( --primary-s ) - ( var( --primary-s ) * 0.06 ) ), calc( var( --primary-l ) - ( var( --primary-l ) * 0.6 ) ), 0.1);
/* Track */
/* Handle */
}
.article-table-content > div::-webkit-scrollbar {
width: 6.4px;
width: 0.4rem;
height: 6.4px;
height: 0.4rem;
}
.article-table-content > div::-webkit-scrollbar-track {
background-color: hsla(var(--shade-h), calc( var( --shade-s ) - ( var( --shade-s ) * 0.045 ) ), calc( var( --shade-l ) - ( var( --shade-l ) * 0.45 ) ), 0.1);
box-shadow: inset 1px 1px 4px 0.5px rgba(0, 0, 0, 0.2);
}
.article-table-content > div::-webkit-scrollbar-thumb {
border-radius: 25px;
background: hsla(var(--accent-h), calc( var( --accent-s ) - ( var( --accent-s ) * 0.01 ) ), calc( var( --accent-l ) - ( var( --accent-l ) * 0.1 ) ), 1);
box-shadow: inset 1px 1px 4px 0.5px rgba(0, 0, 0, 0.2);
}
.article-table-content > div::-webkit-scrollbar-thumb:window-inactive {
background-color: hsla(var(--accent-h), calc( var( --accent-s ) - ( var( --accent-s ) * 0.01 ) ), calc( var( --accent-l ) - ( var( --accent-l ) * 0.1 ) ), 0.1);
}
.article-table-content > div::-webkit-scrollbar-track:window-inactive {
background-color: hsla(var(--shade-h), calc( var( --shade-s ) - ( var( --shade-s ) * 0.045 ) ), calc( var( --shade-l ) - ( var( --shade-l ) * 0.45 ) ), 0.1);
}
.article-table-content > div:where(.table-footnotes,.inline-table-caption,.inline-table-label) {
overflow: unset;
box-shadow: unset;
}
.article-table-content table {
display: none;
width: -moz-fit-content;
width: fit-content;
min-width: 100%;
}
.article-table-content table td > * {
max-width: 25em;
}
.article-table-content .table-footnotes, .article-table-content .inline-table-caption, .article-table-content .inline-table-label {
display: none;
}
@media only screen and (min-width : 768px) {
.article-table-content .table-footnotes, .article-table-content .inline-table-caption, .article-table-content .inline-table-label {
  display: block;
}
.article-table-content table {
  display: table;
  width: -moz-min-content;
  width: min-content;
}
.article-table-content table td > * {
  max-width: 30em;
}
}
@media only screen and (min-width : 1024px) {
.article-table-content table {
  width: -moz-fit-content;
  width: fit-content;
}
.article-table-content table td > * {
  max-width: 35em;
}
}
.inline-table-caption {
color: hsla(var(--secondary-h), calc( var( --secondary-s ) - ( var( --secondary-s ) * 0.045 ) ), calc( var( --secondary-l ) - ( var( --secondary-l ) * 0.45 ) ), 1);
font-size: 14.222px;
font-size: 0.8888888889rem;
}
.table-footnotes {
color: hsla(var(--secondary-h), calc( var( --secondary-s ) - ( var( --secondary-s ) * 0.025 ) ), calc( var( --secondary-l ) - ( var( --secondary-l ) * 0.25 ) ), 1);
font-size: 12.641px;
font-size: 0.7901234568rem;
}
.superscript-reference, .inline-reference {
padding-right: 4px;
padding-right: 0.25rem;
color: hsla(var(--primary-h), calc( var( --primary-s ) - ( var( --primary-s ) * 0.01 ) ), calc( var( --primary-l ) - ( var( --primary-l ) * 0.1 ) ), 1);
text-decoration: none;
}
.inline-image.figure {
display: flex;
justify-content: center;
}
figure {
width: 100%;
max-width: 50em;
margin: 8px 0;
margin: 0.5rem 0;
padding: 8px;
padding: 0.5rem;
border: 1px solid hsla(var(--primary-h), calc( var(--primary-s) + ((100% - var(--primary-s)) * 0.06) ), calc( var(--primary-l) + ((100% - var(--primary-l)) * 0.6) ), 1);
border-radius: 6px;
color: hsla(var(--primary-h), calc( var( --primary-s ) - ( var( --primary-s ) * 0.045 ) ), calc( var( --primary-l ) - ( var( --primary-l ) * 0.45 ) ), 1);
}
</style>