---
layout: arches-sidebar-double
---

{% if page.course_id == nil or page.course_id == '' %}
<p>Missing Course ID</p>
{% else %}
<!-- Main Content Section -->
{% if site.data.Blocks.NCD.main_content %} {% assign content_data =
site.data.Blocks.NCD.main_content | where: "id", page.course_id | first %} {% if
content_data %}
<div class="main-content p_4:lg">
  <section
    class="reading-typography font-size_up m-y_4"
    id="introduction"
    style="--custom-font-size-up: 1"
  >
    <h2 class="lh_2">
      {{ content_data.title }}

      <small class="font_n2 c_black-7 block">
        {% if content_data.credits %}
        <strong>Avaliable Credits:</strong> {{ content_data.credits }} {% endif %}
        {% if content_data.credits and content_data.duration %} | {% endif %} {%
        if content_data.duration %} <strong>Course Duration:</strong> {{
        content_data.duration }} {% endif %}
      </small>
    </h2>
    {% assign paragraphs = content_data.description | split: '
    <p>' %}</p>
    <div class="lh_2">
      {% for paragraph in paragraphs %} {% unless paragraph == '' %}
      <p>{{ paragraph | strip_html }}</p>
      {% endunless %} {% endfor %}
    </div>
  </section>
  <!-- Course Trailer Section -->
  <div class="course-trailer">
    <h3>Course Trailer</h3>
    <iframe
      class="w_100 br_radius aspect_16x9"

      src="https://www.youtube.com/embed/{{ content_data.trailer_url }}"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <!-- Start Course Section -->
  {% assign main_button = site.data.Blocks.NCD.buttons | where: "id",
  page.course_id | where: "language", "main" | first %}
  {% if main_button and main_button.link and main_button.link != "#" %}
  <div class="items_center bg_black-2 p_4 br_radius m-t_5:lg m-t__4">
    <h3 class="font_display font_bold text_center c_black m-y_3:md">
      Start Course
    </h3>
   
    <div
      class="main-language grid columns_1 columns_3:md gap-x_4 gap-y_5:lg gap-y_4"
    >
      <a
        class="btn btn-primary max-w_20 col-start_2:md col-end_3:md"
        href="{{ main_button.link }}"
        >{{ main_button.label }}</a
      >
    </div>

    {% assign other_buttons = site.data.Blocks.NCD.buttons | where:
    "id", page.course_id | where_exp: "item", "item.language != 'main'" | sort:
    "label" %} {% if other_buttons.size > 0 %}

    <h4
      class="c_black-9 flex flex_column flex_row:md font_display font_medium m_0 p-y_5:md p-y_4"
    >
      <span class="flex_auto grid">
        <span
          class="br-t_1 br-tl_radius br_inherit br_solid self_center"
        ></span>
      </span>
      <span class="flex_auto flex_shrink p-x_3 lh_1 text_center">
        Course Also Available in These Language(s)
      </span>
      <span class="flex_auto grid">
        <span
          class="br-t_1 br-tl_radius br_inherit br_solid self_center"
        ></span>
      </span>
    </h4>
    <div
      class="other-languages grid columns_2 columns_3:md gap-x_4 gap-y_4:lg gap-y_4 m-b_3"
    >
      {% for button in other_buttons %}
      {% if button.link and button.link != "#" %}
        <a class="btn btn-secondary" href="{{ button.link }}"
        >{{ button.label }}</a
      >
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% else  %}
  <div class="items_center bg_black-2 p_4 br_radius m-t_5:lg m-t__4">
    <h3 class="font_display font_bold text_center c_black m-y_3:md">
      Course Coming Soon
    </h3></div>
{% endif %} 
  <!-- Back to Catalog Link -->
  <div class="back-link p_3 text_center">
    <a href="{% include URL.html guid='{44928E10-8039-40D3-ABE7-522BE5A961E6}'  %} ">
      <i class="fa-solid fa-arrow-left p-r_3"></i> Back to full catalog
    </a>
  </div>
</div>
{% endif %} {% endif %} {% endif %}
