---
layout: default
--- 

{% include arches-head.html %}
<body id="ng-app" ng-app="AccApp" >
<h1 class="font_display p_4">Co - Branded</h1>
<p class="font_copy p_4 p-t_0 m-t_0">color alterations are on the following colors bg_brand, bg_primary, bg_secondary.  There is no alterations to sizes shapes or fonts. </p>
   <div id="branded" class="user-not-logged-in ng-scope medium-viewport bg_brand-5">
        <div class="max-w_90 m_auto">
            <div class="bg_white shadow_overlap-light "> 
                <div>{{content}}</div>
           </div>
        </div>
   </div>
   <h1 class="font_display p_4">ACC Branded</h1>
   <div class="user-not-logged-in ng-scope medium-viewport bg_primary-4 m-t_5">
    <div class="max-w_90 m_auto">
        <div class="bg_white shadow_overlap-light "> 
            <div>{{content}}</div>
       </div>
    </div>
    </div>
</body>

<style>
    .bg_brand-5{
        background-color: #96c6e5 !important;
    }
    #branded .bg_brand{
        background-color: #460525 !important;
    }
    #branded.bg_brand-5{background-color: #c5b9bf !important;}
    #branded .bg_primary{background-color: #c7950c !important;}
    #branded .active.a\:bg_primary, #branded .active.a\:bg_primary-0, #branded .active>.a\:bg_primary, #branded .active>.a\:bg_primary-0 {
    background-color: #c7950c !important;
}
</style>