---
layout: arches-sidebar
name: "International"
position: "JOIN US - International"
sidebarRoot: Join Us
sidebarRootURL: ../Join
masthead: masthead_join.html
sidebarArray:
  - label: Fellow of the ACC
    url: ../Join_FACC
    active: false
  - label: Associate of the ACC
    url: ../Join_AACC
    active: false
  - label: Cardiovascular Administrator
    url: ../Join_CVADMIN
    active: false
  - label: Trainees & Students
    url: ../Join_STUDENT
    active: false
  - label: International
    url: ../Join_IA
    active: true
  - label: Affiliate
    url: ../Join_AFFILIATE
    active: false
  - label: Benefits
    url: ../Join_BENEFITS
    active: false
---
<div
  class="relative isolation_isolate grid  columns_4:md columns_5:lg columns_2 p-t_5:lg p-t_4 m-x_n4 m-b_5:lg m-b_4 gap_4">
  <div zone-label="main-content"
    class="reading-typography  col-start_start col-end_3:md col-end_4:lg col-end_end p-x_5:lg p-x_4">
    <h1>Become a Member of the ACC</h1>
    <p>The ACC believes in the strength and the necessity of the care team model to transform cardiovascular care.

      To ensure a greater diversity of voices at the table we have memberships for International practitioners.</p>
  </div>
  <div class="relative col-start_n3:md col-start_start col-end_end font_n1 font_0:lg">
    <div data-item="cta-overlay"
      class="bg_primary-n2 br_round c_white color_inherit shadow_overlap-light m-x_4 m-x_5:lg p_4 p_5:lg reading-typography  z_1 sticky t_3">
      <h3 data-item="cta-title" class="font_medium">Already a Member?</h3>
      <div data-item="cta-description" class="font-size_up lh_2">
        <ul class="ul_none">
          <li>
            <a href="https://www.acc.org/login?returnUrl=https://www.acc.org/my-acc/my-profile">
              <i class="fas fa-user p-r_3"></i>Access your profile</a>
          </li>
          <li>
            <a href="https://www.acc.org/login?returnUrl=https://www.acc.org/My-ACC/My-Membership">
              <i class="fas fa-check p-r_3"></i>Renew your membership</a>
          </li>
          <li>
            <a href="https://www.acc.org/login?returnUrl=https://www.acc.org/My-ACC/Personalization">
              <i class="fas fa-pencil p-r_3"></i>Personalize your ACC.org</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="reading-typography bg_black-1 m-x_n4 p_5 m-b_4 m-b_5:lg br_radius">
  <h2>Benefits</h2>
  <ul class="columns_2:md gap-x_6 gap-y_4 grid p-x_4:lg ul_none">
    <li class="flex flex_row items_start justify_start">
      <i class="c_accent font_7 m-t_3 p-r_4 far fa-regular fa-newspaper" aria-hidden="true"></i>
      <span class="font-size_up">
        <strong>Free</strong>
        digital access to the
        <a href="http://www.onlinejacc.org/" target="_blank">
          <em>JACC</em>
          Journals</a>
      </span>
    </li>
    <li class="flex flex_row items_start justify_start">
      <i class="c_accent font_7 m-t_3 p-r_4 far fa-regular fa-file-certificate" aria-hidden="true"></i>
      <span class="font-size_up">
        <strong>Free</strong>
        <a href="/Education-and-Meetings/Education-Catalog">online educational
          activities</a>
        to help you expand your knowledge
      </span>
    </li>
    <li class="flex flex_row items_start justify_start">
      <i class="c_accent font_7 m-t_3 p-r_4 far fa-regular fa-calendar" aria-hidden="true"></i>
      <span class="font-size_up">
        Discounts on live meetings – including the
        <a href="https://accscientificsession.acc.org/" target="_blank">Annual Scientific Session</a>
        – and educational products
      </span>

    </li>
    <li class="flex flex_row items_start justify_start">
      <i class="c_accent font_7 m-t_3 p-r_4 far fa-regular fa-certificate" aria-hidden="true"></i>
      <span class="font-size_up">
        20+
        <a href="/Clinical-Topics">clinical topic collections</a>
        with the latest information on your
        specialty
      </span>
    </li>
    <li class="flex flex_row items_start justify_start gap_3">
      <span class="font-size_up">
        Read about more of our
        <a href="/Membership/Join-Us/Benefits" target="_blank">Member Benefits</a>
      </span>
      <span class="flex flex_row">
        <i class="c_accent font_6 m-t_3 fas fa-solid fa-ellipsis " aria-hidden="true"></i>
        <i class="c_accent fa-chevron-right fa-solid fas font_6 m-l_n3 m-t_3" aria-hidden="true"></i>
      </span>
    </li>
  </ul>
</div>
<div class="relative p_4">
  <div class="m-x_4:md p-y_4">
    <h2>Membership Criteria</h2>
    <p>Interested in elevating your career? You're in the right section. The "Membership
      Criteria" below provides a breakdown on pricing, how to apply, and the prerequisites to consider for each member
      type.
    </p>
  </div>
  <div class="relative">
    <header id="accordion_header_International-FACC"
      class="flex flex_row sticky t_n2 bg_white shadow_overlap-light br_solid br_1 br_black-2 z_2 ">
      <div class="h:bg_primary-5 m_2 c_primary h:c_primary-n2 br_radius">
        <div class="flex_none collapsed" aria-expanded="false" data-bs-toggle="collapse"
          data-bs-target="#International-FACC" aria-controls="#International-FACC">
          <span class="fa-stack">
            <i class="fas fa-minus fa-stack-1x"></i>
            <i class="fas fa-minus rotate_90 a:rotation fa-stack-1x "></i>
          </span>
        </div>
      </div>
      <div class=" font-size_up flex_auto flex flex_row justify_center p-y_2">
        <div class="flex_auto self_center reading-typography no-margins">
          <h3>International Fellow of the ACC</h3>
        </div>
      </div>
    </header>
    <main id="International-FACC"
      class="bg_black-_05 br-bl_radius br-br_radius m-x_0 m-x_3:md p_4 reading-typography shadow_emboss-light tab-content transition_4 collapse"
      aria-labelledby="accordion_header m-x_3">
      {% include_relative JOIN/MembershipCriteria/FACC_International.html %}
    </main>
  </div>
  <div class="relative">
    <header id="accordion_header_International-AACC"
      class="flex flex_row sticky t_n2 bg_white shadow_overlap-light br_solid br_1 br_black-2 z_2 ">
      <div class="h:bg_primary-5 m_2 c_primary h:c_primary-n2 br_radius">
        <div class="flex_none collapsed" aria-expanded="false" data-bs-toggle="collapse"
          data-bs-target="#International-AACC" aria-controls="#International-AACC">
          <span class="fa-stack">
            <i class="fas fa-minus fa-stack-1x"></i>
            <i class="fas fa-minus rotate_90 a:rotation fa-stack-1x "></i>
          </span>
        </div>
      </div>
      <div class=" font-size_up flex_auto flex flex_row justify_center p-y_2">
        <div class="flex_auto self_center reading-typography no-margins">
          <h3>International Associate of the ACC
          </h3>
        </div>
      </div>
    </header>
    <main id="International-AACC"
      class="bg_black-_05 br-bl_radius br-br_radius m-x_0 m-x_3:md p_4 reading-typography shadow_emboss-light tab-content transition_4 collapse"
      aria-labelledby="accordion_header m-x_3">
      {% include_relative JOIN/MembershipCriteria/Associate_International.html %}
    </main>
  </div>
  <div class="relative">
    <header id="accordion_header_International-AF"
      class="flex flex_row sticky t_n2 bg_white shadow_overlap-light br_solid br_1 br_black-2 z_2 ">
      <div class="h:bg_primary-5 m_2 c_primary h:c_primary-n2 br_radius">
        <div class="flex_none collapsed" aria-expanded="false" data-bs-toggle="collapse"
          data-bs-target="#International-AF" aria-controls="#International-AF">
          <span class="fa-stack">
            <i class="fas fa-minus fa-stack-1x"></i>
            <i class="fas fa-minus rotate_90 a:rotation fa-stack-1x "></i>
          </span>
        </div>
      </div>
      <div class=" font-size_up flex_auto flex flex_row justify_center p-y_2">
        <div class="flex_auto self_center reading-typography no-margins">
          <h3>International Affiliate
          </h3>
        </div>
      </div>
    </header>
    <main id="International-AF"
      class="bg_black-_05 br-bl_radius br-br_radius m-x_0 m-x_3:md p_4 reading-typography shadow_emboss-light tab-content transition_4 collapse"
      aria-labelledby="accordion_header m-x_3">
      {% include_relative JOIN/MembershipCriteria/AFFILIATE_International.html %}
    </main>
  </div>
  <div class="relative">
    <header id="accordion_header_International-FIT"
      class="flex flex_row sticky t_n2 bg_white shadow_overlap-light br_solid br_1 br_black-2 z_2 ">
      <div class="h:bg_primary-5 m_2 c_primary h:c_primary-n2 br_radius">
        <div class="flex_none collapsed" aria-expanded="false" data-bs-toggle="collapse"
          data-bs-target="#International-FIT" aria-controls="#International-FIT">
          <span class="fa-stack">
            <i class="fas fa-minus fa-stack-1x"></i>
            <i class="fas fa-minus rotate_90 a:rotation fa-stack-1x "></i>
          </span>
        </div>
      </div>
      <div class=" font-size_up flex_auto flex flex_row justify_center p-y_2">
        <div class="flex_auto self_center reading-typography no-margins">
          <h3>International Fellow In Training</h3>
        </div>
      </div>
    </header>
    <main id="International-FIT"
      class="bg_black-_05 br-bl_radius br-br_radius m-x_0 m-x_3:md p_4 reading-typography shadow_emboss-light tab-content transition_4 collapse"
      aria-labelledby="accordion_header m-x_3">
      {% include_relative JOIN/MembershipCriteria/FIT_International.html %}
    </main>
  </div>
  <div class="relative">
    <header id="accordion_header_International-CVTEAM"
      class="flex flex_row sticky t_n2 bg_white shadow_overlap-light br_solid br_1 br_black-2 z_2 ">
      <div class="h:bg_primary-5 m_2 c_primary h:c_primary-n2 br_radius">
        <div class="flex_none collapsed" aria-expanded="false" data-bs-toggle="collapse"
          data-bs-target="#International-CVTEAM" aria-controls="#International-CVTEAM">
          <span class="fa-stack">
            <i class="fas fa-minus fa-stack-1x"></i>
            <i class="fas fa-minus rotate_90 a:rotation fa-stack-1x "></i>
          </span>
        </div>
      </div>
      <div class=" font-size_up flex_auto flex flex_row justify_center p-y_2">
        <div class="flex_auto self_center reading-typography no-margins">
          <h3>International Cardiovascular
            Team</h3>
        </div>
      </div>
    </header>
    <main id="International-CVTEAM"
      class="bg_black-_05 br-bl_radius br-br_radius m-x_0 m-x_3:md p_4 reading-typography shadow_emboss-light tab-content transition_4 collapse"
      aria-labelledby="accordion_header m-x_3">
      {% include_relative JOIN/MembershipCriteria/CVTEAM_International.html %}
    </main>
  </div>
</div>