<!-- heroimage.dynamic.html: This file includes dynamic content using Liquid syntax for various includes with default values

Variables that can be used in the tag:
  - hero_image_base: Base name for the hero image (default: 'HeroShot').
  - hero_image_alt: Alt text for the hero image (default: 'Hero Image').
  - parent_link: URL for the breadcrumb parent link (default: '#').
  - parent_page: Name of the breadcrumb parent page (default: 'The page this was a child of').
  - page_title: Title of the page (default: 'Transforming All things').
  - cta_title: Title for the call-to-action section (default: 'The Value of UX and Member Engagement').
  - cta_description: Description for the call-to-action section (default: 'Voluptas est incidunt.').
  - cta_link: URL for the call-to-action button (default: '#').
  - cta_button_text: Text for the call-to-action button (default: 'Get Started').
-->
{% assign hero_image_base = include.hero_image_base | default: 'Dynamic' %}
<div
  data-item="hero-image-cta"
  class="relative isolation_isolate grid rows_3 rows_2:md columns_4:md columns_5:lg columns_2  "
  style="--row-1:2.5rem; --row-2:min-content;">
  <picture data-item="responsive-hero-image" class="col_all row_all w_100 flex overflow_hidden ">
    <source
      srcset="{{ 'assets/images/MicroSite/' | append: hero_image_base | append: '_1200x300.png' | relative_url }}"
      media="(min-width: 1024px)"
      class="display_none">
    <source
      srcset="{{ 'assets/images/MicroSite/' | append: hero_image_base | append: '_1024x256.png' | relative_url }}"
      media="(min-width: 768px)"
      class="display_none">
    <source
      srcset="{{ 'assets/images/MicroSite/' | append: hero_image_base | append: '_600x300.png' | relative_url }}"
      media="(min-width: 400px)"
      class="display_none">
    <img
      src="{{ 'assets/images/MicroSite/' | append: hero_image_base | append: '_320x300.png' | relative_url }}"
      alt="{{ include.hero_image_alt | default: 'Hero Image' }}"
      class="bg_cover flex_100">
  </picture>
  <div class="z_1 row-start_start row_end_1 col-start_start col-end_end flex flex_row justify_start">
    <nav data-item="hero-image-breadcrumb-nav" class=" relative isolation_isolate p-y_3 p-x_4 c_white-8 w_auto font_n1 font_0:md">
      <!-- Breadcrumb navigation content goes here -->
      <a href="{{ include.parent_link | default: '#' }}" class="h:c_white h:underline font_bold c_white-8 expanded-click-area h:c_white">
        <i class="fas fa-arrow-left"></i>
        Back |
        {{ include.parent_page | default: 'The Parent Link of this Section' }}</a>
      <span class="bg_acc opacity_6 absolute inset_0 br-br_radius z_0 bg-blend_multiply"></span>
    </nav>
  </div>
  <div class="relative row-start_2 row-end_3 col-start_start col-end_3:md col-end_end">
    <h1 data-item="page-title" class="c_white z_1 p-t_5:lg p-t_4 font_7:lg font_5:md font_3 p-r_4 lh_0 font_xbold text-shadow_black-1 lh_0">
      <span class="bg_acc lh_0 lh_3 p_3 p-x_4"  style="box-decoration-break: clone">{{ include.hero_title | default: 'This is the Section Title' }}</span>
    </h1>
  </div>
  <div class="relative row-start_2:md row-end_end:md col-start_n3:md  row-start_3 row-end_end col-start_start col-end_end font_n1 font_0:lg">
    <div data-item="cta-overlay" class="c_white color_inherit m-x_4 m-x_5:lg p_4 p_5:lg reading-typography relative z_1 m-b_5">
      <h2 data-item="cta-title" class="font_medium">{{ include.cta_title | default: 'The Call-to-Action of the Main Page' }}</h2>
      <p data-item="cta-description" class="font-size_up-1 lh_2">{{ include.cta_description | default: 'Voluptas est incidunt.' }}</p>
      <div class="grid justify_center">
         <a href="{{ include.cta_link | default: '#' }}" class="btn btn-primary capitalize">{{ include.cta_text | default: 'Call to Action' }}</a>
      </div>
      <div class="z_0 bg_acc br_round inset_0 opacity_8 absolute shadow_overlap-bold bg-blend_multiply"></div>
    </div>
  </div>
</div>
