<div grid-template="hero-image-cta" template-option="micro" class="isolation_isolate overflow_hidden relative">
    <picture data-item="responsive-hero-image" class="absolute bg_cover flex flex_column inset_0">
        <source srcset="{{ 'assets/images/MicroSite/HeroShot_1200x300.png' | relative_url }}" media="(min-width: 1024px)" class="display_none">
        <source srcset="{{ 'assets/images/MicroSite/HeroShot_1024x256.png' | relative_url }}" media="(min-width: 768px)" class="display_none">
        <source srcset="{{ 'assets/images/MicroSite/HeroShot_600x300.png' | relative_url }}" media="(min-width: 400px)" class="display_none">
        <img src="{{ 'assets/images/MicroSite/HeroShot_320x200.png' | relative_url }}" alt="Hero Image" class="flex_100">
    </picture>  
    <div grid-area="title">
        <h1 data-item="hero-title" class="lh_3 m_0 m-y_3 m-y_0:lg c_white isolation_isolate relative">
            <span class="display_none:md">
                <a href="../" class="h:c_white h:underline font_bold c_white-8 expanded-click-area h:c_white">
                    <i class="fas fa-solid fa-arrow-left m-l_n3" aria-hidden="true"></i>
                </a>
            </span>
            {% assign title_parts = include.hero_title | default: 'Page Title Goes Here' | split: ' ' %}
            {% for part in title_parts %}
                <span class="text">{{ part }}</span>
            {% endfor %}
        </h1>
    </div>
    <div grid-area="cta" class="relative font-size_down-1 grid justify_center items_center">
        <div class="grid justify_center items_center">
            <a href="{{ include.cta_link | default: '#' }}" class="br_white-3 btn btn-primary c_white expanded-click-area shadow_overlap-bold">{{ include.cta_text | default: 'Start Now' }}</a>
        </div>
    </div>
</div>
