<section grid-template="page-layout"
  class="bg_shade-n3 br-b_1 br-t_1 br_black-3 br_solid c_white color_inherit m-b_0 p-y_4 reading-typography">
  <div grid-area="content" class="font-size_up max-w_65 p-b_4 p-t_4 p-t_5:lg p-x_4 p-x_5:lg reading-typography"
    style="--custom-font-size-up: 1.06">
    <h2 class="lh_2 m-b_4 flex flex_row wrap_balance">
      <div class="flex_none font_10 grid items_center justify_center m-r_4">
        <i class="fas fa-lock-alt font-size_up-2" aria-hidden="true"></i>
      </div>
      <strong class="">Member Section Access Required! <small class="block font_regular">
          Supercharge Your Membership</small></strong>
    </h2>
    <p class="lh_3 max-w_45 m-y_4 m-b_5:lg">
      Join the {{page.section_name}} to get exclusive access to additional resources beyond this point! Inside the Section, you’ll find colleagues who share your passions, mentors who can help you grow and exciting opportunities to make a real impact in your field. The benefits, resources and involvement opportunities are designed specifically for {{page.section_name}}.  
    </p>

    <a href="{{ include.cta_link | default: '#' }}" class="bg_white-8 btn btn-lg h:bg_white shadow_overlap-light">Manage
      Membership <i class="fa-solid fa-gears" aria-hidden="true"></i></a>
  </div>
  <aside grid-area="sidebar-secondary">
    <div data-item="cta-overlay"
      class="bg_white-6 br-bl_round br-r_0 br-tl_round br_1 br_black-3 br_solid c_black color_inherit m-l_4 m-t_4 p_4 p_5:lg reading-typography relative shadow_bevel-light z_1">
      <h4>
        Need Help?
      </h4>
      <ul class="ul_none">
        <li>
          <a href="https://my.acc.org/s/ContactUsMemberCare">Contact Member Care</a>
        </li>
        <li><a href="tel:800-253-4636,5603">800-253-4636, ext. 5603</a></li>
        <li><a href="tel:202-375-6000">202-375-6000</a></li>
      </ul>
    </div>
  </aside>
</section>

<!-- heroimage.dynamic.html: This file includes dynamic content using Liquid syntax for various includes with default values
Variables that can be used in the tag:
  - hero_image_base: Base name for the hero image (default: 'HeroShot').
  - hero_image_alt: Alt text for the hero image (default: 'Hero Image').
  - parent_link: URL for the breadcrumb parent link (default: '#').
  - parent_page: Name of the breadcrumb parent page (default: 'The page this was a child of').
  - hero_title: Title of the page (default: 'Transforming All things').
  - cta_title: Title for the call-to-action section (default: 'The Value of UX and Member Engagement').
  - cta_description: Description for the call-to-action section (default: 'Voluptas est incidunt.').
  - cta_link: URL for the call-to-action button (default: '#').
  - cta_button_text: Text for the call-to-action button (default: 'Get Started').
-->
{% assign hero_image_base = include.hero_image_base | default: 'Dynamic' %}
<div grid-template="hero-image-cta" template-option="micro" class="isolation_isolate overflow_hidden relative">
  <picture data-item="responsive-hero-image" class="absolute bg_cover flex flex_column inset_0 ">
    <source srcset="{{ 'assets/images/MicroSite/' | append: hero_image_base | append: '_1200x300.png' | relative_url }}"
      media="(min-width: 1024px)" class="display_none">
    <source srcset="{{ 'assets/images/MicroSite/' | append: hero_image_base | append: '_1024x256.png' | relative_url }}"
      media="(min-width: 768px)" class="display_none">
    <source srcset="{{ 'assets/images/MicroSite/' | append: hero_image_base | append: '_600x300.png' | relative_url }}"
      media="(min-width: 400px)" class="display_none">
    <img src="{{ 'assets/images/MicroSite/' | append: hero_image_base | append: '_320x300.png' | relative_url }}"
      alt="{{ include.hero_image_alt | default: 'Hero Image' }}" class="bg_cover flex_100">
  </picture>
  <div grid-area="title">
    <h1 data-item="hero-title" class="lh_3 m_0 m-y_3 m-y_0:lg c_white isolation_isolate relative">
      <span class="display_none:md">
        <a href="../" class="h:c_white h:underline font_bold c_white-8 expanded-click-area h:c_white">
          <i class="fas fa-solid fa-arrow-left m-l_n3" aria-hidden="true"></i>
        </a>
      </span>
      {% assign title_parts = include.hero_title | default: 'Section Title Goes Here' | split: ' ' %}
      {% for part in title_parts %}
      <span class="text">{{ part }}</span>
      {% endfor %}
    </h1>
  </div>
  <div grid-area="cta" class="relative font-size_down-1 grid justify_center items_center">
    <div class="grid justify_center items_center">
      <a href="{{ include.cta_link | default: '#' }}"
        class="br_white-3 btn btn-primary c_white expanded-click-area shadow_overlap-bold">{{ include.cta_text |
        default: 'Start Now' }}</a>
    </div>
  </div>
</div>